Repository luxonis/luxonis-train, changes with the labels that .github/labeler.yaml gives for each.
All labels: DevOps, CLI, documentation

Fix: Annotate batch size (#325)
  luxonis_train/core/utils/annotate_utils.py
  luxonis_train/core/utils/infer_utils.py
Labels: none

LuxonisTrain `v0.4.1` (#324)
  luxonis_train/__init__.py
  requirements.txt
Labels: none

partial ckpt upgrade
  luxonis_train/__main__.py
Labels: CLI

fix version
  luxonis_train/__main__.py
Labels: CLI

fix versions
  luxonis_train/__main__.py
Labels: CLI

debug-true
  luxonis_train/__main__.py
Labels: CLI

Fix: resume_training and passing weights should function correctly
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

pydoctor fix
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

strict false for loading previous model for resume_traiing
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

Proper types for overriding load_state_dict
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

Do not override Lightning checkpoint loading function
  luxonis_train/core/core.py
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

improved requirements
  requirements.txt
Labels: none

add trigger paths
  .github/workflows/ci.yaml
Labels: none

Revert to overriding load_state_dict
  luxonis_train/core/core.py
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

Default behavior for load_state_dict unless resume_training is true
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

safer cfg dump
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

load_state_dict as a sole solution for resuming training
  luxonis_train/core/core.py
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

GradientAccumulationScheduler automatic str to int conversion (#320)
  luxonis_train/config/config.py
Labels: none

Fix: Removed strict JSON config storage in checkpoints (#321)
  luxonis_train/__init__.py
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

Epoch warning
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

check_valid_epoch_counts return type annotation
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

CLI: `upgrade` support (#319)
  luxonis_train/__init__.py
  luxonis_train/__main__.py
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/nodes/base_node.py
  luxonis_train/upgrade.py
Labels: CLI

updates
  luxonis_train/__main__.py
  luxonis_train/core/core.py
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/nodes/base_node.py
Labels: CLI

safer cfg dump
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

partial ckpt upgrade
  luxonis_train/__main__.py
Labels: CLI

Documentation for number of epochs set
  configs/README.md
Labels: documentation

Add example to READMe about epoch count
  configs/README.md
Labels: documentation

_check_valid_epoch_counts private and under load_checkpoint
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

Fix: resume_training and passing weights should function correctly (#326)
  configs/README.md
  luxonis_train/core/core.py
  luxonis_train/lightning/luxonis_lightning.py
Labels: documentation

upgrade API updates
  luxonis_train/__main__.py
  luxonis_train/config/config.py
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/upgrade.py
Labels: CLI

updated requirements
  requirements.txt
Labels: none

fixes
  luxonis_train/__main__.py
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/nodes/base_node.py
  luxonis_train/upgrade.py
Labels: CLI

Fix: missing `dynamo` argument (#310)
  luxonis_train/lightning/luxonis_lightning.py
  requirements.txt
Labels: none

Changed version check for `dynamo` (#311)
  luxonis_train/lightning/luxonis_lightning.py
  requirements.txt
Labels: none

updated
  requirements.txt
Labels: none

logging
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

upgrade
  luxonis_train/upgrade.py
Labels: none

upgrade
  luxonis_train/upgrade.py
Labels: none

fixes
  luxonis_train/upgrade.py
Labels: none

updated execution order generation
  luxonis_train/lightning/utils.py
Labels: none

.github/labeler.yaml:

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/*'
  - head-branch:
    - 'test/*'
    - 'tests/*'

DevOps:
  - changed-files:
    - any-glob-to-any-file: '.github/*'

CLI:
  - changed-files:
    - any-glob-to-any-file: '**/__main__.py'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'

fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'
