Repository luxonis/luxonis-train, changes with the labels that .github/labeler.yaml gives for each.
All labels: DevOps, CLI, documentation

.github/labeler.yaml:

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/*'
  - head-branch:
    - 'test/*'
    - 'tests/*'

DevOps:
  - changed-files:
    - any-glob-to-any-file: '.github/*'

CLI:
  - changed-files:
    - any-glob-to-any-file: '**/__main__.py'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'

fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'

removed unused
  luxonis_train/nodes/necks/svtr_neck/blocks.py
Labels: none

gradcam callback
  tests/integration/test_callbacks.py
Labels: none

types
  luxonis_train/callbacks/gradcam_visualizer.py
Labels: none

cleanup
  luxonis_train/core/utils/export_utils.py
  luxonis_train/nodes/base_node.py
Labels: none

misc cleanup updates
  .pre-commit-config.yaml
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/losses/base_loss.py
  luxonis_train/attached_modules/losses/reconstruction_segmentation_loss.py
  luxonis_train/attached_modules/metrics/base_metric.py
  luxonis_train/attached_modules/visualizers/base_visualizer.py
  luxonis_train/attached_modules/visualizers/utils.py
  luxonis_train/core/core.py
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/loaders/luxonis_perlin_loader_torch.py
  luxonis_train/typing.py
  luxonis_train/utils/general.py
  luxonis_train/utils/spatial_transforms.py
  luxonis_train/utils/tracker.py
  tests/integration/test_cli_commands.py
  tests/integration/test_freezing.py
  tests/integration/test_loader.py
  tests/integration/test_mlflow_logging.py
  tests/unittests/test_strategies/test_triple_lr_sgd.py
  tests/unittests/test_utils/test_boxutils.py
  tests/unittests/test_utils/test_general.py
Labels: none

removed redundant check
  .github/workflows/update-cov-report.yaml
Labels: none

Tests: GradCamCallback (#293)
  luxonis_train/callbacks/gradcam_visualizer.py
  tests/integration/test_callbacks.py
Labels: none

type fix
  luxonis_train/nodes/heads/base_head.py
Labels: none

tmp_path fixture
  tests/conftest.py
  tests/integration/test_cli_commands.py
  tests/integration/test_core.py
  tests/integration/test_custom_model.py
  tests/integration/test_mlflow_logging.py
  tests/integration/test_predefined_models.py
  tests/integration/test_smart_logging.py
  tests/unittests/test_config.py
Labels: none

fix
  luxonis_train/nodes/heads/discsubnet_head/discsubnet_head.py
  tests/unittests/test_losses/test_reconstruction_segmentation_loss.py
Labels: none

fix
  luxonis_train/nodes/base_node.py
Labels: none

fix tests
  tests/unittests/test_base_node.py
Labels: none

Miscellaneous cleanup updates (#294)
  .github/workflows/update-cov-report.yaml
  .pre-commit-config.yaml
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/losses/base_loss.py
  luxonis_train/attached_modules/losses/reconstruction_segmentation_loss.py
  luxonis_train/attached_modules/metrics/base_metric.py
  luxonis_train/attached_modules/visualizers/base_visualizer.py
  luxonis_train/attached_modules/visualizers/utils.py
  luxonis_train/core/core.py
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/loaders/luxonis_perlin_loader_torch.py
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/heads/base_head.py
  luxonis_train/nodes/heads/discsubnet_head/discsubnet_head.py
  luxonis_train/typing.py
  luxonis_train/utils/general.py
  luxonis_train/utils/spatial_transforms.py
  luxonis_train/utils/tracker.py
  tests/integration/test_cli_commands.py
  tests/integration/test_freezing.py
  tests/integration/test_loader.py
  tests/integration/test_mlflow_logging.py
  tests/unittests/test_base_node.py
  tests/unittests/test_losses/test_reconstruction_segmentation_loss.py
  tests/unittests/test_strategies/test_triple_lr_sgd.py
  tests/unittests/test_utils/test_boxutils.py
  tests/unittests/test_utils/test_general.py
Labels: none

removed non check for seed
  luxonis_train/loaders/base_loader.py
Labels: none

remove explicit seed as this is attribute of baseLoader already
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: none

added option to reorder keypoints with custom mapping
  luxonis_train/loaders/README.md
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: documentation

fix fixture
  tests/integration/test_predefined_models.py
Labels: none

using native pytest fixtures
  .gitignore
  pyproject.toml
  tests/conftest.py
  tests/integration/test_cli_commands.py
  tests/integration/test_core.py
  tests/integration/test_custom_model.py
  tests/integration/test_mlflow_logging.py
  tests/integration/test_predefined_models.py
  tests/integration/test_smart_logging.py
  tests/unittests/test_config.py
Labels: none

fix anomaly detection
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/heads/discsubnet_head/discsubnet_head.py
Labels: none

Replaced custom temp dir fixtures with pytest ones (#296)
  .gitignore
  pyproject.toml
  tests/conftest.py
  tests/integration/test_cli_commands.py
  tests/integration/test_core.py
  tests/integration/test_custom_model.py
  tests/integration/test_mlflow_logging.py
  tests/integration/test_predefined_models.py
  tests/integration/test_smart_logging.py
  tests/unittests/test_config.py
Labels: none

Custom keypoints mappings (#295)
  luxonis_train/loaders/README.md
  luxonis_train/loaders/base_loader.py
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: documentation

test debug
  luxonis_train/__main__.py
Labels: CLI

fix
  tests/conftest.py
Labels: none

updated readme
  examples/README.md
  media/anomaly_detection_diagram.drawio
  media/anomaly_detection_diagram.png
Labels: documentation

removed old diagram
  examples/README.md
Labels: documentation

rearanged
  luxonis_train/__main__.py
Labels: CLI

cached window
  luxonis_train/__main__.py
Labels: CLI

updated get_weights_url
  luxonis_train/nodes/backbones/efficientrep/efficientrep.py
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/heads/ddrnet_segmentation_head.py
  luxonis_train/nodes/heads/efficient_bbox_head.py
  luxonis_train/nodes/necks/reppan_neck/reppan_neck.py
Labels: none

adding window resize
  luxonis_train/__main__.py
Labels: CLI

readme fix
  examples/README.md
Labels: documentation

Allow CV2 window to be resized (#292)
  luxonis_train/__main__.py
Labels: CLI

simplifications
  luxonis_train/nodes/backbones/efficientnet.py
  luxonis_train/nodes/backbones/efficientrep/efficientrep.py
  luxonis_train/nodes/backbones/mobilenetv2.py
  luxonis_train/nodes/backbones/resnet.py
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/heads/efficient_bbox_head.py
  luxonis_train/nodes/necks/reppan_neck/reppan_neck.py
Labels: none

type fix
  luxonis_train/nodes/heads/base_detection_head.py
Labels: none

fix config tests
  luxonis_train/config/predefined_models/base_predefined_model.py
  luxonis_train/nodes/backbones/efficientrep/efficientrep.py
  luxonis_train/nodes/backbones/efficientvit/efficientvit.py
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/necks/reppan_neck/reppan_neck.py
  luxonis_train/utils/__init__.py
  luxonis_train/variants.py
Labels: none

fix test
  tests/unittests/test_losses/test_reconstruction_segmentation_loss.py
Labels: none

fix url formatting
  luxonis_train/nodes/base_node.py
Labels: none

fix order
  luxonis_train/nodes/base_node.py
Labels: none

download exception log
  luxonis_train/nodes/base_node.py
  luxonis_train/utils/general.py
Labels: none

fixed url
  luxonis_train/nodes/base_node.py
Labels: none

fix weight initialization
  luxonis_train/nodes/base_node.py
Labels: none
