Repository luxonis/luxonis-train, changes with the labels that .github/labeler.yaml gives for each.
All labels: DevOps, CLI, documentation

.github/labeler.yaml:

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/*'
  - head-branch:
    - 'test/*'
    - 'tests/*'

DevOps:
  - changed-files:
    - any-glob-to-any-file: '.github/*'

CLI:
  - changed-files:
    - any-glob-to-any-file: '**/__main__.py'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'

fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'

updated worklows
  .github/workflows/ci.yaml
  pyproject.toml
Labels: none

additional fixes
  luxonis_train/attached_modules/losses/reconstruction_segmentation_loss.py
  luxonis_train/attached_modules/metrics/embedding_metrics.py
  luxonis_train/callbacks/gpu_stats_monitor.py
  luxonis_train/callbacks/gradcam_visializer.py
  luxonis_train/loaders/base_loader.py
  luxonis_train/nodes/blocks/blocks.py
  tests/integration/test_fomo_detection.py
  tests/integration/test_unsupervised_anomaly_detection.py
  tests/unittests/test_losses/test_bce_with_logits_loss.py
  tests/unittests/test_utils/test_boxutils.py
Labels: none

fix extra norm bug and add empty mask
  luxonis_train/loaders/base_loader.py
  luxonis_train/loaders/luxonis_perlin_loader_torch.py
Labels: none

fix: loader, stable fp16 training
  luxonis_train/attached_modules/losses/reconstruction_segmentation_loss.py
  luxonis_train/attached_modules/losses/softmax_focal_loss.py
  luxonis_train/loaders/luxonis_perlin_loader_torch.py
Labels: none

fix: loader, stable fp16 training
  luxonis_train/loaders/base_loader.py
Labels: none

fix predefined model bug
  luxonis_train/config/predefined_models/README.md
  luxonis_train/config/predefined_models/anomaly_detection_model.py
Labels: documentation

fix metric
  luxonis_train/config/predefined_models/anomaly_detection_model.py
Labels: none

fix foreground-background problem
  luxonis_train/loaders/luxonis_perlin_loader_torch.py
Labels: none

fix l variant
  luxonis_train/config/predefined_models/anomaly_detection_model.py
Labels: none

moved alphabet resolving to predefined model
  luxonis_train/config/predefined_models/ocr_recognition_model.py
  luxonis_train/nodes/heads/ocr_ctc_head.py
  luxonis_train/utils/ocr.py
Labels: none

added workflow test
  .github/workflows/ci.yaml
Labels: none

fix docs
  luxonis_train/utils/ocr.py
Labels: none

remove non working callbacks
  luxonis_train/core/core.py
Labels: none

Moved alphabet resolving for OCR model (#168)
  .github/workflows/ci.yaml
  luxonis_train/config/predefined_models/ocr_recognition_model.py
  luxonis_train/nodes/heads/ocr_ctc_head.py
  luxonis_train/utils/ocr.py
Labels: none

Fix Bug in Anomaly Detection Model (#167)
  luxonis_train/attached_modules/losses/reconstruction_segmentation_loss.py
  luxonis_train/attached_modules/losses/softmax_focal_loss.py
  luxonis_train/config/predefined_models/README.md
  luxonis_train/config/predefined_models/anomaly_detection_model.py
  luxonis_train/loaders/base_loader.py
  luxonis_train/loaders/luxonis_perlin_loader_torch.py
Labels: documentation

Tuner: Remove Failing and Non-Working Callbacks (#169)
  luxonis_train/core/core.py
Labels: none

fix for ocr docs
  luxonis_train/nodes/README.md
Labels: documentation

fix weights for testing
  luxonis_train/callbacks/ema.py
Labels: none

fix docstrings
  luxonis_train/callbacks/ema.py
Labels: none

rename to _restore_original_weights
  luxonis_train/callbacks/ema.py
Labels: none

small fix
  luxonis_train/callbacks/ema.py
Labels: none

Apply the EMA weights for testing. (#171)
  luxonis_train/callbacks/ema.py
Labels: none

save training_config.yaml
  luxonis_train/core/core.py
Labels: none

Removed sigmoid from exported kpts head for more stable quantization
  luxonis_train/nodes/heads/efficient_keypoint_bbox_head.py
Labels: none

moved text to correct cell
  luxonis_train/nodes/README.md
Labels: documentation

Fix for OCR docs (#170)
  luxonis_train/nodes/README.md
Labels: documentation

save training_config.yaml (#172)
  luxonis_train/core/core.py
Labels: none

Removed sigmoid from exported kpts head for more stable quantization (#173)
  luxonis_train/nodes/heads/efficient_keypoint_bbox_head.py
Labels: none

clone target
  luxonis_train/attached_modules/metrics/confusion_matrix.py
Labels: none

move clone
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/metrics/confusion_matrix.py
Labels: none

dict of lists
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: none

Added samgrep workflow
  .github/workflows/semgrep.yaml
Labels: none

fixed semgrep issues
  .pre-commit-config.yaml
  luxonis_train/__main__.py
  luxonis_train/callbacks/upload_checkpoint.py
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/blocks/blocks.py
  luxonis_train/nodes/necks/svtr_neck/blocks.py
  requirements-dev.txt
  tests/integration/test_cli_commands.py
Labels: CLI

integrated class sorting from luxonis-ml
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/visualizers/bbox_visualizer.py
  luxonis_train/attached_modules/visualizers/classification_visualizer.py
  luxonis_train/attached_modules/visualizers/instance_segmentation_visualizer.py
  luxonis_train/loaders/base_loader.py
  luxonis_train/loaders/luxonis_loader_torch.py
  luxonis_train/nodes/base_node.py
  luxonis_train/utils/dataset_metadata.py
  tests/integration/multi_input_modules.py
  tests/unittests/test_utils/test_dataset_metadata.py
Labels: none

fix type
  luxonis_train/config/predefined_models/anomaly_detection_model.py
Labels: none

updated order
  tests/integration/parking_lot.json
Labels: none

removed semgrep from requirements
  requirements-dev.txt
Labels: none

clone target (#174)
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/metrics/confusion_matrix.py
Labels: none

feat: add per-class weighting option to AdaptiveDetectionLoss
  luxonis_train/attached_modules/losses/adaptive_detection_loss.py
Labels: none

added pragma no cover
  luxonis_train/callbacks/upload_checkpoint.py
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/nodes/base_node.py
Labels: none
