Repository luxonis/luxonis-train, changes with the labels that .github/labeler.yaml gives for each.
All labels: DevOps, CLI, documentation

fixed dynamo
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

updated
  luxonis_train/__main__.py
  luxonis_train/lightning/utils.py
  luxonis_train/upgrade.py
Labels: CLI

updated execution order
  luxonis_train/lightning/utils.py
Labels: none

Log sub metrics flag
  luxonis_train/config/config.py
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/lightning/utils.py
Labels: none

Remove debug print
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

precommit fix
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/lightning/utils.py
Labels: none

log_sub_metrics and log_sub_losses in documentatoin
  configs/README.md
Labels: documentation

Remove second redundant check
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

Last changes to metrics docs
  configs/README.md
Labels: documentation

Last changes to docs 2
  configs/README.md
Labels: documentation

remove process_losses dead code
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

Log sub metrics (#328)
  configs/README.md
  luxonis_train/config/config.py
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/lightning/utils.py
Labels: documentation

sigterm save intermediate
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

Ctrl + C exit to test
  luxonis_train/core/core.py
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

Correct sigint instead of sigterm
  luxonis_train/core/core.py
Labels: none

independent of number of workers
  luxonis_train/core/core.py
Labels: none

Only training process for signal
  luxonis_train/core/core.py
Labels: none

precommit
  luxonis_train/core/core.py
Labels: none

Weights warning
  luxonis_train/core/core.py
Labels: none

move resume weights to bottom
  luxonis_train/core/core.py
Labels: none

Small changes to logs
  luxonis_train/core/core.py
Labels: none

Color per class
  luxonis_train/attached_modules/visualizers/fomo_visualizer.py
Labels: none

fomo specific changes
  luxonis_train/attached_modules/visualizers/fomo_visualizer.py
Labels: none

Gracefully interrupting is now a callback instead of hard-coded
  luxonis_train/callbacks/__init__.py
  luxonis_train/callbacks/graceful_interrupt.py
  luxonis_train/core/core.py
Labels: none

remove extra line and import
  luxonis_train/callbacks/graceful_interrupt.py
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

Type hints, precommit, more handling
  luxonis_train/callbacks/graceful_interrupt.py
Labels: none

PyDoctor compliant
  luxonis_train/callbacks/graceful_interrupt.py
Labels: none

Add to test and make tracker optional
  luxonis_train/callbacks/graceful_interrupt.py
  tests/integration/test_callbacks.py
Labels: none

Handle stop training (#329)
  luxonis_train/callbacks/__init__.py
  luxonis_train/callbacks/graceful_interrupt.py
  luxonis_train/core/core.py
  tests/integration/test_callbacks.py
Labels: none

updated debug loader
  luxonis_train/core/core.py
  luxonis_train/loaders/debug_loader.py
Labels: none

updates
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

updated debug loader
  luxonis_train/core/core.py
  luxonis_train/loaders/debug_loader.py
Labels: none

Fix OCR model english alphabet (#297)
  luxonis_train/config/predefined_models/ocr_recognition_model.py
  luxonis_train/nodes/heads/ocr_ctc_head.py
Labels: none

remove validate
  luxonis_train/core/core.py
Labels: none

updated metadata parsing
  luxonis_train/core/core.py
  luxonis_train/utils/dataset_metadata.py
Labels: none

updated fomo upgrade
  luxonis_train/upgrade.py
Labels: none

don't override custom attach index
  luxonis_train/nodes/heads/base_detection_head.py
Labels: none

fix filter task names
  luxonis_train/core/core.py
Labels: none

Changes to attach index, documentation, argumnets
  luxonis_train/attached_modules/visualizers/README.md
  luxonis_train/attached_modules/visualizers/fomo_visualizer.py
  luxonis_train/nodes/heads/fomo_head.py
Labels: documentation

Scale param
  luxonis_train/attached_modules/visualizers/README.md
Labels: documentation

.github/labeler.yaml:

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/*'
  - head-branch:
    - 'test/*'
    - 'tests/*'

DevOps:
  - changed-files:
    - any-glob-to-any-file: '.github/*'

CLI:
  - changed-files:
    - any-glob-to-any-file: '**/__main__.py'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'

fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'
