Repository luxonis/luxonis-train, changes with the labels that .github/labeler.yaml gives for each.
All labels: DevOps, CLI, documentation

.github/labeler.yaml:

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/*'
  - head-branch:
    - 'test/*'
    - 'tests/*'

DevOps:
  - changed-files:
    - any-glob-to-any-file: '.github/*'

CLI:
  - changed-files:
    - any-glob-to-any-file: '**/__main__.py'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'

fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'

use name property of BaseNode
  luxonis_train/nodes/backbones/ddrnet/ddrnet.py
  luxonis_train/nodes/backbones/efficientrep/efficientrep.py
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/heads/efficient_bbox_head.py
  luxonis_train/nodes/necks/reppan_neck/reppan_neck.py
Labels: none

Better pretrained weight loading (#142)
  luxonis_train/config/predefined_models/detection_model.py
  luxonis_train/config/predefined_models/segmentation_model.py
  luxonis_train/nodes/backbones/ddrnet/ddrnet.py
  luxonis_train/nodes/backbones/ddrnet/variants.py
  luxonis_train/nodes/backbones/efficientrep/efficientrep.py
  luxonis_train/nodes/backbones/efficientrep/variants.py
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/heads/efficient_bbox_head.py
  luxonis_train/nodes/necks/reppan_neck/reppan_neck.py
  luxonis_train/nodes/necks/reppan_neck/variants.py
Labels: none

Release v0.2.1
  luxonis_train/__init__.py
Labels: none

feat: new loader, new visualizer
  luxonis_train/attached_modules/losses/precision_dlf_segmentation_loss.py
  luxonis_train/attached_modules/visualizers/__init__.py
  luxonis_train/attached_modules/visualizers/instance_segmentation_visualizer.py
  luxonis_train/attached_modules/visualizers/utils.py
  luxonis_train/core/core.py
  luxonis_train/enums.py
  luxonis_train/loaders/luxonis_loader_torch.py
  luxonis_train/loaders/utils.py
  luxonis_train/nodes/heads/precision_seg_bbox_head.py
  luxonis_train/utils/dataset_metadata.py
Labels: none

Release v0.2.1 (#143)
  luxonis_train/__init__.py
Labels: none

fix: seg loss, batch vis, and mAP for seg
  luxonis_train/attached_modules/losses/precision_dfl_detection_loss.py
  luxonis_train/attached_modules/losses/precision_dlf_segmentation_loss.py
  luxonis_train/attached_modules/metrics/mean_average_precision.py
  luxonis_train/attached_modules/visualizers/instance_segmentation_visualizer.py
  luxonis_train/attached_modules/visualizers/utils.py
  luxonis_train/nodes/heads/precision_bbox_head.py
  luxonis_train/nodes/heads/precision_seg_bbox_head.py
Labels: none

remove loss scaling
  luxonis_train/attached_modules/losses/efficient_keypoint_bbox_loss.py
Labels: none

remove loss scaling
  luxonis_train/attached_modules/losses/precision_dfl_detection_loss.py
  luxonis_train/attached_modules/losses/precision_dlf_segmentation_loss.py
Labels: none

fix: export
  luxonis_train/nodes/heads/precision_bbox_head.py
  luxonis_train/nodes/heads/precision_seg_bbox_head.py
Labels: none

add docs
  luxonis_train/attached_modules/losses/README.md
  luxonis_train/attached_modules/losses/precision_dfl_detection_loss.py
  luxonis_train/attached_modules/losses/precision_dlf_segmentation_loss.py
  luxonis_train/nodes/README.md
  luxonis_train/nodes/heads/precision_bbox_head.py
Labels: documentation

predefined instance segmentation model
  configs/instance_segmentation_heavy_model.yaml
  configs/instance_segmentation_light_model.yaml
  luxonis_train/config/predefined_models/README.md
  luxonis_train/config/predefined_models/__init__.py
  luxonis_train/config/predefined_models/instance_segmentation_model.py
Labels: documentation

fix: export
  luxonis_train/nodes/blocks/blocks.py
  luxonis_train/nodes/heads/precision_bbox_head.py
  luxonis_train/nodes/heads/precision_seg_bbox_head.py
Labels: none

fix: ddp bug
  luxonis_train/attached_modules/metrics/mean_average_precision.py
Labels: none

add prints
  luxonis_train/core/core.py
Labels: none

fix strategy
  luxonis_train/core/utils/train_utils.py
Labels: none

test
  luxonis_train/core/utils/train_utils.py
Labels: none

comment
  luxonis_train/core/utils/train_utils.py
Labels: none

fix: move kpts mAP output to correct device
  luxonis_train/attached_modules/metrics/mean_average_precision_keypoints.py
Labels: none

Implemented improvements and suggestions. Separated GFN into class, blocks and variants. Added tests for all supported pytorch metric learning losses.
  luxonis_train/attached_modules/losses/__init__.py
  luxonis_train/attached_modules/losses/pml_loss.py
  luxonis_train/attached_modules/metrics/pml_metrics.py
  luxonis_train/attached_modules/visualizers/embeddings_visualizer.py
  luxonis_train/nodes/backbones/__init__.py
  luxonis_train/nodes/backbones/ghostfacenet.py
  luxonis_train/nodes/backbones/ghostfacenet/__init__.py
  luxonis_train/nodes/backbones/ghostfacenet/blocks.py
  luxonis_train/nodes/backbones/ghostfacenet/ghostfacenet.py
  luxonis_train/nodes/backbones/ghostfacenet/variants.py
  luxonis_train/nodes/backbones/micronet/blocks.py
  tests/configs/reid.yaml
  tests/integration/test_reid.py
Labels: none

refactor: update type hint for GhostFaceNetsV2 class to use Tensor from torch
  luxonis_train/nodes/backbones/ghostfacenet/ghostfacenet.py
Labels: none

refactor: remove unused unwrap and wrap methods from GhostFaceNetsV2 class
  luxonis_train/nodes/backbones/ghostfacenet/ghostfacenet.py
Labels: none

fix: correct formatting in __all__ list in metrics module
  luxonis_train/attached_modules/metrics/__init__.py
Labels: none

Improved coverage, explicitly set mdformat github version
  .pre-commit-config.yaml
  tests/configs/reid.yaml
  tests/integration/test_reid.py
Labels: none

unused_params fix
  luxonis_train/core/utils/train_utils.py
Labels: none

all_gather
  luxonis_train/models/luxonis_lightning.py
Labels: none

test: remove self.log
  luxonis_train/models/luxonis_lightning.py
Labels: none

print statements
  luxonis_train/models/luxonis_lightning.py
Labels: none

print statements
  luxonis_train/models/luxonis_lightning.py
Labels: none

comment on_..._epoch_end
  luxonis_train/models/luxonis_lightning.py
Labels: none

add eval_epoch_end
  luxonis_train/models/luxonis_lightning.py
Labels: none

metric fix
  luxonis_train/attached_modules/metrics/mean_average_precision.py
Labels: none

uncomment all except on_train_epoch_end
  luxonis_train/models/luxonis_lightning.py
Labels: none

uncomment on_train_epoch_end
  luxonis_train/models/luxonis_lightning.py
Labels: none

original implementation
  luxonis_train/core/utils/train_utils.py
Labels: none

dist fix in loader
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: none

revert
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: none

hardcoded dataset
  luxonis_train/__main__.py
Labels: CLI

hardcoded dataset
  luxonis_train/__main__.py
Labels: CLI

Reduced mdformat-gfm version to 0.3.6 to support Python 3.8
  .pre-commit-config.yaml
Labels: none

hardcode dataset loading
  luxonis_train/__main__.py
Labels: CLI
