Repository luxonis/luxonis-train, changes with the labels that .github/labeler.yaml gives for each.
All labels: DevOps, CLI, documentation

CM for fomo
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/metrics/confusion_matrix/confusion_matrix.py
  luxonis_train/attached_modules/metrics/confusion_matrix/detection_confusion_matrix.py
  luxonis_train/nodes/heads/fomo_head.py
Labels: none

Fix overwriting of tensors
  luxonis_train/attached_modules/base_attached_module.py
Labels: none

fix bugs
  luxonis_train/nodes/heads/fomo_head.py
Labels: none

refactor the logic
  luxonis_train/attached_modules/metrics/confusion_matrix/__init__.py
  luxonis_train/attached_modules/metrics/confusion_matrix/confusion_matrix.py
  luxonis_train/attached_modules/metrics/confusion_matrix/detection_confusion_matrix.py
  luxonis_train/nodes/heads/fomo_head.py
Labels: none

refactor logic
  luxonis_train/attached_modules/losses/README.md
  luxonis_train/attached_modules/losses/fomo_localization_loss.py
  luxonis_train/attached_modules/metrics/confusion_matrix/detection_confusion_matrix.py
  luxonis_train/attached_modules/metrics/confusion_matrix/instance_segmentation_confusion_matrix.py
  luxonis_train/attached_modules/metrics/confusion_matrix/recognition_confusion_matrix.py
  luxonis_train/attached_modules/metrics/confusion_matrix/utils.py
  luxonis_train/config/config.py
  luxonis_train/config/predefined_models/detection_fomo_model.py
  luxonis_train/models/luxonis_lightning.py
Labels: documentation

add mising FOMO cm
  luxonis_train/attached_modules/metrics/confusion_matrix/fomo_confusion_matrix.py
Labels: none

raise a warning
  luxonis_train/attached_modules/metrics/confusion_matrix/fomo_confusion_matrix.py
Labels: none

fixed blob path
  luxonis_train/core/core.py
  luxonis_train/core/utils/export_utils.py
Labels: none

fix bug
  luxonis_train/core/core.py
Labels: none

Fix: Blob path (#200)
  luxonis_train/core/core.py
  luxonis_train/core/utils/export_utils.py
Labels: none

release 0.3.3
  luxonis_train/__init__.py
Labels: none

updated requirements
  requirements.txt
Labels: none

Ligther and Improved Tests (#194)
  luxonis_train/utils/dataset_metadata.py
  tests/configs/archive_config.yaml
  tests/configs/config_simple.yaml
  tests/configs/ddrnet.yaml
  tests/configs/parking_lot_config.yaml
  tests/configs/segmentation_parse_loader.yaml
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/multi_input_modules.py
  tests/integration/parking_lot.json
  tests/integration/test_cli_commands.py
  tests/integration/test_detection.py
  tests/integration/test_fixed_validation_batch_limit.py
  tests/integration/test_remove_on_export.py
  tests/integration/test_scheduler.py
  tests/integration/test_segmentation.py
  tests/integration/test_simple.py
  tests/integration/test_unsupervised_anomaly_detection.py
  tests/unittests/test_assigners/test_atss_assigner.py
  tests/unittests/test_assigners/test_tal_assigner.py
  tests/unittests/test_base_attached_module.py
  tests/unittests/test_base_node.py
  tests/unittests/test_callbacks/test_ema.py
  tests/unittests/test_loaders/test_base_loader.py
  tests/unittests/test_losses/test_ohem_losses.py
  tests/unittests/test_metrics/__init__.py
  tests/unittests/test_metrics/test_confusion_matrix.py
  tests/unittests/test_metrics/test_torchmetrics.py
  tests/unittests/test_utils/test_boxutils.py
  tests/unittests/test_utils/test_dataset_metadata.py
  tests/unittests/test_utils/test_general.py
  tests/unittests/test_utils/test_graph.py
  tests/unittests/test_utils/test_keypoints.py
Labels: none

fixed tests
  tests/integration/test_cli_commands.py
Labels: none

CLI: Migration from `typer` to `cyclopts` (#195)
  luxonis_train/__init__.py
  luxonis_train/__main__.py
  requirements.txt
  tests/integration/test_cli_commands.py
Labels: CLI

LuxonisTrain `v0.3.3` (#202)
  luxonis_train/__init__.py
  requirements.txt
Labels: none

pre-commit
  .pre-commit-config.yaml
Labels: none

formatting
  CONTRIBUTING.md
  README.md
  configs/README.md
  examples/README.md
  luxonis_train/attached_modules/metrics/README.md
  luxonis_train/attached_modules/metrics/confusion_matrix/__init__.py
  luxonis_train/attached_modules/visualizers/README.md
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/nodes/README.md
  tests/integration/test_fixed_validation_batch_limit.py
  tests/integration/test_remove_on_export.py
  tests/integration/test_simple.py
Labels: documentation

updated readme
  luxonis_train/attached_modules/metrics/README.md
Labels: documentation

updated ci
  .github/workflows/ci.yaml
Labels: none

updated imports
  luxonis_train/models/luxonis_output.py
  luxonis_train/nodes/backbones/contextspatial.py
  luxonis_train/nodes/heads/discsubnet_head/discsubnet_head.py
  luxonis_train/nodes/heads/efficient_bbox_head.py
  luxonis_train/nodes/heads/efficient_keypoint_bbox_head.py
  luxonis_train/nodes/heads/fomo_head.py
  luxonis_train/nodes/heads/precision_bbox_head.py
  luxonis_train/nodes/heads/precision_seg_bbox_head.py
  tests/integration/multi_input_modules.py
  tests/unittests/test_base_attached_module.py
  tests/unittests/test_base_node.py
Labels: none

fix tests
  luxonis_train/models/luxonis_lightning.py
  tests/integration/test_simple.py
Labels: none

removed freezer
  luxonis_train/callbacks/module_freezer.py
Labels: none

removed type ignores
  luxonis_train/models/luxonis_lightning.py
Labels: none

small fixes, fix tests
  luxonis_train/attached_modules/metrics/confusion_matrix/utils.py
  luxonis_train/config/predefined_models/README.md
  tests/unittests/test_metrics/test_confusion_matrix.py
Labels: documentation

mAP unitests
  tests/unittests/test_metrics/test_mean_average_precision.py
Labels: none

minor fix
  tests/unittests/test_metrics/test_mean_average_precision.py
Labels: none

fix instance segmentation CM bug
  luxonis_train/attached_modules/metrics/confusion_matrix/instance_segmentation_confusion_matrix.py
Labels: none

add ocr, oks tests
  tests/unittests/test_metrics/test_mean_average_precision.py
  tests/unittests/test_metrics/test_ocr_accuracy.py
  tests/unittests/test_metrics/test_oks.py
  tests/unittests/test_metrics/test_utils.py
Labels: none

embbeding unittests
  tests/unittests/test_metrics/test_embedding_metrics.py
Labels: none

fixed oks
  luxonis_train/assigners/tal_assigner.py
  luxonis_train/attached_modules/metrics/object_keypoint_similarity.py
  luxonis_train/utils/keypoints.py
Labels: none

updated linting rules
  pyproject.toml
Labels: none

added timeout
  luxonis_train/__main__.py
Labels: CLI

losses unittests
  tests/fixtures/adaptive_detection_loss_data.pt
  tests/fixtures/fomo_localization_loss_data.pt
  tests/unittests/test_losses/test_adaptive_detection_loss.py
  tests/unittests/test_losses/test_cross_entropy_loss.py
  tests/unittests/test_losses/test_ctc_loss.py
  tests/unittests/test_losses/test_efficient_keypoint_bbox_loss.py
  tests/unittests/test_losses/test_embedding_losses.py
  tests/unittests/test_losses/test_fomo_localization_loss.py
  tests/unittests/test_losses/test_precision_dfl_detection_loss.py
  tests/unittests/test_losses/test_precision_dfl_segmentation_loss.py
  tests/unittests/test_losses/test_reconstruction_segmentation_loss.py
  tests/unittests/test_losses/test_sigmoid_focal_loss.py
  tests/unittests/test_losses/test_smooth_bce_with_logits.py
  tests/unittests/test_losses/test_smooth_bce_with_logits_loss.py
  tests/unittests/test_losses/test_softmax_focal_loss.py
Labels: none

moved registries to separate module
  README.md
  luxonis_train/attached_modules/losses/base_loss.py
  luxonis_train/attached_modules/metrics/base_metric.py
  luxonis_train/attached_modules/metrics/confusion_matrix/confusion_matrix.py
  luxonis_train/attached_modules/metrics/mean_average_precision/mean_average_precision.py
  luxonis_train/attached_modules/visualizers/base_visualizer.py
  luxonis_train/callbacks/__init__.py
  luxonis_train/callbacks/archive_on_train_end.py
  luxonis_train/callbacks/export_on_train_end.py
  luxonis_train/callbacks/gpu_stats_monitor.py
  luxonis_train/callbacks/luxonis_progress_bar.py
  luxonis_train/callbacks/metadata_logger.py
  luxonis_train/callbacks/test_on_train_end.py
  luxonis_train/callbacks/upload_checkpoint.py
  luxonis_train/config/config.py
  luxonis_train/config/predefined_models/base_predefined_model.py
  luxonis_train/core/core.py
  luxonis_train/loaders/base_loader.py
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/nodes/backbones/contextspatial.py
  luxonis_train/nodes/base_node.py
  luxonis_train/optimizers/optimizers.py
  luxonis_train/registry.py
  luxonis_train/schedulers/schedulers.py
  luxonis_train/strategies/base_strategy.py
Labels: documentation

updated registru
  luxonis_train/registry.py
Labels: none

fixed type checking
  luxonis_train/registry.py
Labels: none

unittests for visualizers
  tests/unittests/test_visualizers/test_bbox_visualizer.py
  tests/unittests/test_visualizers/test_classification_visualizer.py
  tests/unittests/test_visualizers/test_embeddings_visualizer.py
  tests/unittests/test_visualizers/test_fomo_visualizer.py
  tests/unittests/test_visualizers/test_instance_segmentation_visualizer.py
  tests/unittests/test_visualizers/test_keypoint_visualizer.py
  tests/unittests/test_visualizers/test_ocr_visualizer.py
  tests/unittests/test_visualizers/test_segmentation_visualizer.py
Labels: none

remove duplicate
  tests/unittests/test_losses/test_smooth_bce_with_logits.py
  tests/unittests/test_losses/test_smooth_bce_with_logits_loss.py
Labels: none

fixed ocr test
  tests/integration/conftest.py
  tests/integration/test_simple.py
Labels: none

.github/labeler.yaml:

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/*'
  - head-branch:
    - 'test/*'
    - 'tests/*'

DevOps:
  - changed-files:
    - any-glob-to-any-file: '.github/*'

CLI:
  - changed-files:
    - any-glob-to-any-file: '**/__main__.py'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'

fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'
