Repository luxonis/luxonis-train, changes with the labels that .github/labeler.yaml gives for each.
All labels: DevOps, CLI, documentation

fix bug
  luxonis_train/callbacks/upload_checkpoint.py
Labels: none

ATSS Assigner not used anymore for detection by default (#203)
  configs/detection_heavy_model.yaml
  configs/detection_light_model.yaml
  configs/keypoint_bbox_heavy_model.yaml
  configs/keypoint_bbox_light_model.yaml
  luxonis_train/attached_modules/losses/README.md
  luxonis_train/attached_modules/losses/adaptive_detection_loss.py
  luxonis_train/attached_modules/losses/efficient_keypoint_bbox_loss.py
  luxonis_train/config/predefined_models/detection_model.py
  luxonis_train/config/predefined_models/keypoint_detection_model.py
  luxonis_train/utils/__init__.py
  pyproject.toml
  tests/configs/config_simple.yaml
Labels: documentation

Fix: best_val_metric.ckpt Upload Issue (#207)
  luxonis_train/callbacks/README.md
  luxonis_train/callbacks/ema.py
  luxonis_train/callbacks/upload_checkpoint.py
  tests/unittests/test_callbacks/test_ema.py
Labels: documentation

fix resume weights issues
  configs/detection_light_model.yaml
  luxonis_train/__main__.py
  luxonis_train/core/core.py
Labels: CLI

fix config
  configs/detection_light_model.yaml
Labels: none

small changes
  luxonis_train/__main__.py
  luxonis_train/core/core.py
Labels: CLI

Fix: Resuming Training from Checkpoint (#208)
  luxonis_train/__main__.py
  luxonis_train/core/core.py
Labels: CLI

Release v0.3.4
  luxonis_train/__init__.py
  requirements.txt
Labels: none

fixed type issues
  luxonis_train/attached_modules/metrics/confusion_matrix/recognition_confusion_matrix.py
  luxonis_train/attached_modules/metrics/torchmetrics.py
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/nodes/backbones/ddrnet/ddrnet.py
  luxonis_train/nodes/blocks/__init__.py
  luxonis_train/utils/general.py
Labels: none

updated extraction rules
  examples/README.md
Labels: documentation

fix logging images bug
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

better viz order
  luxonis_train/attached_modules/visualizers/keypoint_visualizer.py
Labels: none

fix test
  tests/unittests/test_visualizers/test_keypoint_visualizer.py
Labels: none

Docs: Updated extraction rules (#211)
  examples/README.md
Labels: documentation

Fix: Logging Images bug (#212)
  luxonis_train/attached_modules/visualizers/keypoint_visualizer.py
  luxonis_train/lightning/luxonis_lightning.py
  tests/unittests/test_visualizers/test_keypoint_visualizer.py
Labels: none

fix bug
  luxonis_train/core/core.py
Labels: none

fix bug
  luxonis_train/core/core.py
  tests/integration/test_splits.py
Labels: none

Fix Splits Bug (#213)
  luxonis_train/core/core.py
  tests/integration/test_splits.py
Labels: none

fix bug
  luxonis_train/config/predefined_models/keypoint_detection_model.py
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

minor fix
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

Fix Logging Bug (#214)
  luxonis_train/config/predefined_models/keypoint_detection_model.py
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

fix logging name
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

fix bug
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

Fix logging bug (#215)
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

Release v0.3.4 (#209)
  luxonis_train/__init__.py
  requirements.txt
Labels: none

Deprecated trainer.verbose
  luxonis_train/config/config.py
Labels: none

no deps fix for predefined models
  luxonis_train/config/__init__.py
Labels: none

fix archive on windows
  luxonis_train/core/utils/archive_utils.py
Labels: none

fix loss acumulator bug
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

training strategy test
  tests/unittests/test_strategies/__init__.py
  tests/unittests/test_strategies/test_triple_lr_sgd.py
Labels: none

correct current_epoch for nodes
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

fix bugs
  luxonis_train/callbacks/ema.py
  tests/unittests/test_callbacks/test_ema.py
Labels: none

remove on_train_epoch_start
  luxonis_train/callbacks/ema.py
Labels: none

Fix: loss, archive, ema (#216)
  luxonis_train/callbacks/ema.py
  luxonis_train/core/utils/archive_utils.py
  luxonis_train/lightning/luxonis_lightning.py
  tests/unittests/test_callbacks/test_ema.py
  tests/unittests/test_strategies/__init__.py
  tests/unittests/test_strategies/test_triple_lr_sgd.py
Labels: none

remove verbose
  configs/README.md
  luxonis_train/config/config.py
Labels: documentation

Fix for registering predefined models in Config (#217)
  configs/README.md
  luxonis_train/config/__init__.py
Labels: documentation

mlflow tests
  luxonis_train/callbacks/luxonis_progress_bar.py
  luxonis_train/lightning/luxonis_lightning.py
  requirements.txt
  tests/integration/test_mlflow_logging.py
Labels: none

small change
  tests/integration/test_mlflow_logging.py
Labels: none

Add unittests for the new segmentation metrics DiceCoefficient and MIoU
  tests/unittests/test_metrics/test_segmentation_metrics.py
Labels: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: none

.github/labeler.yaml:

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/*'
  - head-branch:
    - 'test/*'
    - 'tests/*'

DevOps:
  - changed-files:
    - any-glob-to-any-file: '.github/*'

CLI:
  - changed-files:
    - any-glob-to-any-file: '**/__main__.py'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'

fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'
