Repository luxonis/luxonis-train, changes with the labels that .github/labeler.yaml gives for each.
All labels: DevOps, CLI, documentation

opset version 16 to export to onnx + fix small bug
  configs/dinov3_classification_classic_head.yaml
  configs/dinov3_classification_transformer_head.yaml
  configs/dinov3_semantic_segmentation.yaml
  luxonis_train/nodes/backbones/dinov3.py
Labels: none

input dimension and CLS warnings
  luxonis_train/nodes/heads/transformer_classification_head.py
  luxonis_train/nodes/heads/transformer_segmentation_head.py
Labels: none

onnx-compatible forward() for transformer segmentation head
  luxonis_train/nodes/heads/transformer_classification_head.py
  luxonis_train/nodes/heads/transformer_segmentation_head.py
Labels: none

Working example for DinoV3 with transformer semantic segmentation head, working onnx export
  configs/dinov3_semantic_segmentation_transformer_head.yaml
Labels: none

correct visualizers added to config examples
  configs/dinov3_classification_classic_head.yaml
  configs/dinov3_classification_transformer_head.yaml
  configs/dinov3_semantic_segmentation_transformer_head.yaml
Labels: none

don't hardcode patch size, get it from the backbone
  configs/dinov3_classification_classic_head.yaml
  configs/dinov3_classification_transformer_head.yaml
  luxonis_train/nodes/backbones/dinov3.py
Labels: none

Fix issues related to pre-commit errors
  luxonis_train/nodes/backbones/__init__.py
  luxonis_train/nodes/backbones/dinov3.py
  luxonis_train/nodes/heads/transformer_classification_head.py
  luxonis_train/nodes/heads/transformer_segmentation_head.py
Labels: none

fixed pre-commit
  configs/dinov3_classification_classic_head.yaml
  configs/dinov3_classification_transformer_head.yaml
  configs/dinov3_semantic_segmentation.yaml
  configs/dinov3_semantic_segmentation_transformer_head.yaml
  luxonis_train/nodes/README.md
  luxonis_train/nodes/backbones/__init__.py
  luxonis_train/nodes/backbones/dinov3.py
  luxonis_train/nodes/heads/__init__.py
  luxonis_train/nodes/heads/transformer_classification_head.py
  luxonis_train/nodes/heads/transformer_segmentation_head.py
Labels: documentation

Safe typing and casting removes pyright errors
  luxonis_train/nodes/backbones/dinov3.py
  luxonis_train/nodes/heads/transformer_classification_head.py
  luxonis_train/nodes/heads/transformer_segmentation_head.py
Labels: none

Final needed fix pydoctor
  luxonis_train/nodes/heads/transformer_segmentation_head.py
Labels: none

fix imports for failing tests
  luxonis_train/nodes/backbones/dinov3.py
Labels: none

additional pre-commit fix
  luxonis_train/nodes/backbones/dinov3.py
Labels: none

weights from .env file if they are not specified (for CI)
  luxonis_train/nodes/backbones/dinov3.py
Labels: none

Dinov3 meta weights passed through CI env
  .github/workflows/tests.yaml
Labels: none

Fix the order of weight retrieval: first arguments, then .env, then fall back to None
  luxonis_train/nodes/backbones/dinov3.py
Labels: none

CI takes DINOV3 weights and dotenv is loaded conditionally
  .github/workflows/tests.yaml
  luxonis_train/nodes/backbones/dinov3.py
Labels: none

fix missing import
  luxonis_train/nodes/backbones/dinov3.py
Labels: none

only load dotenv if variable is not present (for CI)
  luxonis_train/nodes/backbones/dinov3.py
Labels: none

added DINOV3_WEIGHTS to the ci.yaml
  .github/workflows/ci.yaml
Labels: none

termcolor added as req
  luxonis_train/nodes/backbones/dinov3.py
  requirements.txt
Labels: none

Default variant, remove literal
  luxonis_train/nodes/backbones/dinov3.py
Labels: none

Pre-commit check
  luxonis_train/nodes/backbones/dinov3.py
Labels: none

test CI gets model from google cloud
  .github/workflows/ci.yaml
  luxonis_train/nodes/backbones/dinov3.py
  tests/integration/test_combinations.py
Labels: none

ruff fix pre-commit
  luxonis_train/nodes/backbones/dinov3.py
Labels: none

ruff and pyright fixes
  luxonis_train/nodes/backbones/dinov3.py
Labels: none

Correct CI path
  .github/workflows/ci.yaml
Labels: none

Using config from checkpoints (#300)
  luxonis_train/__main__.py
  luxonis_train/core/core.py
  tests/integration/test_cli_commands.py
Labels: CLI

Temporary work-around for RoPe encoding not working, CI use LuxonisFileSystem to download weights
  .github/workflows/ci.yaml
  luxonis_train/config/config.py
  luxonis_train/nodes/backbones/dinov3.py
  tests/unittests/test_losses/test_utils.py
Labels: none

pre-commit, pydoctor epytext and pyright fixes
  luxonis_train/config/config.py
  luxonis_train/nodes/backbones/dinov3.py
  tests/unittests/test_losses/test_utils.py
Labels: none

download weights
  tests/unittests/test_losses/download_weights.py
Labels: none

point to download weights file
  .github/workflows/ci.yaml
Labels: none

Download weights but do not torch.load them
  tests/unittests/test_losses/download_weights.py
Labels: none

local retrieve of weights if they are not mentioned in the arguments
  .github/workflows/ci.yaml
  luxonis_train/nodes/backbones/dinov3.py
Labels: none

download path
  luxonis_train/nodes/backbones/dinov3.py
  tests/unittests/test_losses/download_weights.py
Labels: none

User loguru to print ther weights download path
  tests/unittests/test_losses/download_weights.py
Labels: none

Fix import LuxonisFileSystem style check
  tests/unittests/test_losses/download_weights.py
Labels: none

load weights after loading model
  luxonis_train/nodes/backbones/dinov3.py
Labels: none

test pass through ci by hard-coding the cloud weights
  luxonis_train/nodes/backbones/dinov3.py
Labels: none

pass pre-commit check
  luxonis_train/nodes/backbones/dinov3.py
Labels: none

CI moves the file to the appropriate checkpoint path
  .github/workflows/ci.yaml
  luxonis_train/nodes/backbones/dinov3.py
Labels: none

.github/labeler.yaml:

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/*'
  - head-branch:
    - 'test/*'
    - 'tests/*'

DevOps:
  - changed-files:
    - any-glob-to-any-file: '.github/*'

CLI:
  - changed-files:
    - any-glob-to-any-file: '**/__main__.py'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'

fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'
