Repository luxonis/luxonis-train, changes with the labels that .github/labeler.yaml gives for each.
All labels: DevOps, CLI, documentation

removed unnecesary code
  luxonis_train/models/luxonis_lightning.py
Labels: none

light tests
  luxonis_train/utils/dataset_metadata.py
  tests/configs/archive_config.yaml
  tests/configs/config_simple.yaml
  tests/configs/ddrnet.yaml
  tests/configs/parking_lot_config.yaml
  tests/configs/segmentation_parse_loader.yaml
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/multi_input_modules.py
  tests/integration/parking_lot.json
  tests/integration/test_cli_commands.py
  tests/integration/test_detection.py
  tests/integration/test_fixed_validation_batch_limit.py
  tests/integration/test_remove_on_export.py
  tests/integration/test_scheduler.py
  tests/integration/test_segmentation.py
  tests/integration/test_simple.py
  tests/integration/test_unsupervised_anomaly_detection.py
  tests/unittests/test_assigners/test_atss_assigner.py
  tests/unittests/test_assigners/test_tal_assigner.py
  tests/unittests/test_base_attached_module.py
  tests/unittests/test_base_node.py
  tests/unittests/test_callbacks/test_ema.py
  tests/unittests/test_loaders/test_base_loader.py
  tests/unittests/test_losses/test_ohem_losses.py
  tests/unittests/test_metrics/__init__.py
  tests/unittests/test_metrics/test_confusion_matrix.py
  tests/unittests/test_metrics/test_torchmetrics.py
  tests/unittests/test_utils/test_boxutils.py
  tests/unittests/test_utils/test_dataset_metadata.py
  tests/unittests/test_utils/test_general.py
  tests/unittests/test_utils/test_graph.py
  tests/unittests/test_utils/test_keypoints.py
Labels: none

replaced pycocotools with faster-coco-eval
  luxonis_train/attached_modules/metrics/mean_average_precision/mean_average_precision.py
  luxonis_train/attached_modules/metrics/mean_average_precision/mean_average_precision_keypoints.py
  requirements.txt
Labels: none

migrated to cyclopts
  luxonis_train/__init__.py
  luxonis_train/__main__.py
  requirements.txt
Labels: CLI

safe fail in upgrade
  luxonis_train/__main__.py
Labels: CLI

docs
  luxonis_train/__main__.py
Labels: CLI

updated predefined models readme
  luxonis_train/config/predefined_models/README.md
Labels: documentation

updated readme
  luxonis_train/attached_modules/metrics/README.md
Labels: documentation

updated requirements
  requirements.txt
Labels: none

tests for instance generator
  luxonis_train/attached_modules/metrics/confusion_matrix/detection_confusion_matrix.py
  luxonis_train/attached_modules/metrics/object_keypoint_similarity.py
  luxonis_train/utils/__init__.py
  luxonis_train/utils/general.py
  tests/unittests/test_utils/test_general.py
Labels: none

updated factory types
  luxonis_train/attached_modules/metrics/confusion_matrix/confusion_matrix.py
  luxonis_train/attached_modules/metrics/mean_average_precision/mean_average_precision.py
Labels: none

fixed TN in matrix
  luxonis_train/attached_modules/metrics/confusion_matrix/detection_confusion_matrix.py
  luxonis_train/utils/general.py
Labels: none

updated tests
  tests/unittests/test_metrics/test_confusion_matrix.py
  tests/unittests/test_utils/test_general.py
Labels: none

fixed log message
  luxonis_train/utils/general.py
Labels: none

added instance segmentation to detection cm
  luxonis_train/attached_modules/metrics/confusion_matrix/detection_confusion_matrix.py
Labels: none

float default
  luxonis_train/attached_modules/metrics/base_metric.py
Labels: none

simplified parameter matching
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/metrics/object_keypoint_similarity.py
  tests/unittests/test_base_attached_module.py
Labels: none

fixed ocr accuracy device
  luxonis_train/attached_modules/metrics/ocr_accuracy.py
Labels: none

added concurrency rules
  .github/workflows/ci.yaml
Labels: none

re-enabled tests
  .github/workflows/ci.yaml
Labels: none

fix
  luxonis_train/attached_modules/base_attached_module.py
Labels: none

docs
  examples/README.md
Labels: documentation

updated requirements
  requirements.txt
Labels: none

Release v0.3.1 (#186)
  luxonis_train/__init__.py
  requirements-dev.txt
  requirements.txt
Labels: none

fix missing task names (#192)
  configs/README.md
  luxonis_train/config/predefined_models/anomaly_detection_model.py
  luxonis_train/config/predefined_models/classification_model.py
  luxonis_train/config/predefined_models/detection_fomo_model.py
  luxonis_train/config/predefined_models/detection_model.py
  luxonis_train/config/predefined_models/instance_segmentation_model.py
  luxonis_train/config/predefined_models/keypoint_detection_model.py
  luxonis_train/config/predefined_models/ocr_recognition_model.py
  luxonis_train/config/predefined_models/segmentation_model.py
  luxonis_train/models/luxonis_lightning.py
Labels: documentation

bumped version
  luxonis_train/__init__.py
Labels: none

Release `v0.3.2` (#197)
  luxonis_train/__init__.py
Labels: none

cleaned up callbacks
  luxonis_train/callbacks/__init__.py
  luxonis_train/callbacks/archive_on_train_end.py
  luxonis_train/callbacks/ema.py
  luxonis_train/callbacks/export_on_train_end.py
  luxonis_train/callbacks/gpu_stats_monitor.py
  luxonis_train/callbacks/gradcam_visualizer.py
  luxonis_train/callbacks/luxonis_progress_bar.py
  luxonis_train/callbacks/metadata_logger.py
  luxonis_train/callbacks/module_freezer.py
  luxonis_train/callbacks/needs_checkpoint.py
  luxonis_train/callbacks/test_on_train_end.py
  luxonis_train/callbacks/training_manager.py
  luxonis_train/callbacks/upload_checkpoint.py
Labels: none

cleaned up strategies
  luxonis_train/strategies/__init__.py
  luxonis_train/strategies/base_strategy.py
  luxonis_train/strategies/triple_lr_sgd.py
Labels: none

renamed models to lightning
  luxonis_train/__init__.py
  luxonis_train/lightning/__init__.py
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/lightning/luxonis_output.py
  luxonis_train/lightning/utils.py
  luxonis_train/models/luxonis_lightning.py
Labels: none

removed luxonis_train.typing
  luxonis_train/callbacks/gradcam_visualizer.py
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/lightning/luxonis_output.py
  luxonis_train/lightning/utils.py
Labels: none

fix detection cm
  luxonis_train/attached_modules/metrics/confusion_matrix/detection_confusion_matrix.py
  tests/unittests/test_metrics/test_confusion_matrix.py
Labels: none

added more tests
  luxonis_train/attached_modules/metrics/confusion_matrix/detection_confusion_matrix.py
  tests/unittests/test_metrics/test_confusion_matrix.py
Labels: none

disabled some linting
  pyproject.toml
Labels: none

updated pre-commit and rules
  .pre-commit-config.yaml
  pyproject.toml
Labels: none

fixed merge
  examples/README.md
  luxonis_train/__init__.py
  luxonis_train/attached_modules/losses/base_loss.py
  luxonis_train/attached_modules/metrics/base_metric.py
  luxonis_train/attached_modules/visualizers/base_visualizer.py
  luxonis_train/callbacks/metadata_logger.py
  luxonis_train/core/core.py
  luxonis_train/core/utils/archive_utils.py
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/utils/__init__.py
  tests/unittests/test_base_attached_module.py
  tests/unittests/test_base_node.py
Labels: documentation

fixed failing tests
  luxonis_train/attached_modules/losses/efficient_keypoint_bbox_loss.py
  luxonis_train/callbacks/luxonis_progress_bar.py
  luxonis_train/nodes/heads/ocr_ctc_head.py
  luxonis_train/utils/boundingbox.py
  tests/unittests/test_utils/test_boxutils.py
Labels: none

fixed failing tests
  luxonis_train/attached_modules/losses/efficient_keypoint_bbox_loss.py
  luxonis_train/callbacks/luxonis_progress_bar.py
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/nodes/heads/ocr_ctc_head.py
  luxonis_train/utils/boundingbox.py
  tests/unittests/test_utils/test_boxutils.py
Labels: none

disabled tests
  .github/workflows/ci.yaml
Labels: none

pre-commit
  luxonis_train/attached_modules/metrics/README.md
  luxonis_train/attached_modules/metrics/confusion_matrix/__init__.py
  luxonis_train/nodes/README.md
  tests/integration/test_fixed_validation_batch_limit.py
  tests/integration/test_remove_on_export.py
  tests/integration/test_simple.py
Labels: documentation

.github/labeler.yaml:

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/*'
  - head-branch:
    - 'test/*'
    - 'tests/*'

DevOps:
  - changed-files:
    - any-glob-to-any-file: '.github/*'

CLI:
  - changed-files:
    - any-glob-to-any-file: '**/__main__.py'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'

fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'
