Repository luxonis/luxonis-train, changes with the labels that .github/labeler.yaml gives for each.
All labels: DevOps, CLI, documentation

.github/labeler.yaml:

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/*'
  - head-branch:
    - 'test/*'
    - 'tests/*'

DevOps:
  - changed-files:
    - any-glob-to-any-file: '.github/*'

CLI:
  - changed-files:
    - any-glob-to-any-file: '**/__main__.py'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'

fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'

improved url creation
  configs/README.md
  luxonis_train/config/config.py
  luxonis_train/core/core.py
Labels: documentation

updated fields
  README.md
  configs/README.md
  configs/example_tuning.yaml
Labels: documentation

safer
  luxonis_train/core/core.py
Labels: none

fix test
  tests/integration/test_simple.py
Labels: none

simplified
  luxonis_train/config/config.py
Labels: none

extra cheeck
  tests/integration/test_simple.py
Labels: none

Faster segmentation tests (#274)
  tests/integration/test_segmentation.py
Labels: none

reorganized tests
  luxonis_train/config/config.py
  luxonis_train/nodes/heads/precision_bbox_head.py
  tests/configs/ddrnet.yaml
  tests/configs/multi_input.yaml
  tests/configs/parking_lot.json
  tests/configs/parking_lot_config.yaml
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/test_callbacks.py
  tests/integration/test_combinations.py
  tests/integration/test_core.py
  tests/integration/test_custom_tasks.py
  tests/integration/test_embeddings.py
  tests/integration/test_fixed_validation_batch_limit.py
  tests/integration/test_freezing.py
  tests/integration/test_loader.py
  tests/integration/test_mlflow_logging.py
  tests/integration/test_model_config.py
  tests/integration/test_multi_input.py
  tests/integration/test_predefined_models.py
  tests/integration/test_progress_bar.py
  tests/integration/test_simple.py
  tests/integration/test_smart_logging.py
  tests/integration/test_splits.py
  tests/unittests/test_config.py
Labels: none

fix
  tests/integration/test_simple.py
Labels: none

Improved tuner storage (#275)
  README.md
  configs/README.md
  configs/example_tuning.yaml
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  tests/integration/test_simple.py
Labels: documentation

consistent test split
  luxonis_train/__main__.py
  luxonis_train/core/core.py
Labels: CLI

configurable view
  luxonis_train/callbacks/test_on_train_end.py
  luxonis_train/core/core.py
  luxonis_train/typing.py
Labels: none

docs
  luxonis_train/callbacks/README.md
Labels: documentation

more cleanup
  luxonis_train/loaders/luxonis_perlin_loader_torch.py
  tests/conftest.py
  tests/integration/test_cli_commands.py
  tests/integration/test_combinations.py
  tests/integration/test_detection.py
  tests/integration/test_predefined_models.py
  tests/integration/test_segmentation.py
  tests/integration/test_unsupervised_anomaly_detection.py
Labels: none

Ensure the best checkpoint is used in the `TestOnTrainEnd` callback. (#272)
  luxonis_train/callbacks/test_on_train_end.py
Labels: none

updated conftest
  luxonis_train/core/core.py
  tests/configs/archive_config.yaml
  tests/conftest.py
  tests/integration/test_core.py
Labels: none

Add `class_order_per_task` param to the loader (#265)
  luxonis_train/loaders/README.md
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: documentation

subtests
  tests/integration/test_combinations.py
Labels: none

improved test predefined
  tests/integration/test_predefined_models.py
Labels: none

updated conftest
  luxonis_train/loaders/luxonis_perlin_loader_torch.py
  tests/conftest.py
  tests/integration/test_core.py
Labels: none

fix infer
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/utils/__init__.py
  luxonis_train/utils/general.py
Labels: none

Fix inconsistent view arguments (#276)
  luxonis_train/__main__.py
  luxonis_train/callbacks/README.md
  luxonis_train/callbacks/test_on_train_end.py
  luxonis_train/core/core.py
  luxonis_train/typing.py
Labels: CLI, documentation

fix
  luxonis_train/core/utils/infer_utils.py
Labels: none

fix type
  tests/integration/test_predefined_models.py
Labels: none

updates
  tests/integration/test_multi_model.py
  tests/integration/test_predefined_models.py
Labels: none

reorganized tests
  luxonis_train/config/config.py
  luxonis_train/nodes/heads/precision_bbox_head.py
  tests/configs/ddrnet.yaml
  tests/configs/multi_input.yaml
  tests/configs/parking_lot.json
  tests/configs/parking_lot_config.yaml
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/test_callbacks.py
  tests/integration/test_combinations.py
  tests/integration/test_core.py
  tests/integration/test_custom_tasks.py
  tests/integration/test_embeddings.py
  tests/integration/test_fixed_validation_batch_limit.py
  tests/integration/test_freezing.py
  tests/integration/test_loader.py
  tests/integration/test_mlflow_logging.py
  tests/integration/test_model_config.py
  tests/integration/test_multi_input.py
  tests/integration/test_predefined_models.py
  tests/integration/test_progress_bar.py
  tests/integration/test_simple.py
  tests/integration/test_smart_logging.py
  tests/integration/test_splits.py
  tests/unittests/test_config.py
Labels: none

more cleanup
  luxonis_train/loaders/luxonis_perlin_loader_torch.py
  tests/conftest.py
  tests/integration/test_cli_commands.py
  tests/integration/test_combinations.py
  tests/integration/test_detection.py
  tests/integration/test_predefined_models.py
  tests/integration/test_segmentation.py
  tests/integration/test_unsupervised_anomaly_detection.py
Labels: none

improved test predefined
  tests/integration/test_predefined_models.py
Labels: none

updated conftest
  luxonis_train/core/core.py
  tests/configs/archive_config.yaml
  tests/conftest.py
  tests/integration/test_core.py
Labels: none

subtests
  tests/integration/test_combinations.py
Labels: none

updated conftest
  luxonis_train/loaders/luxonis_perlin_loader_torch.py
  tests/conftest.py
  tests/integration/test_core.py
Labels: none

fix type
  tests/integration/test_predefined_models.py
Labels: none

updates
  tests/integration/test_multi_model.py
  tests/integration/test_predefined_models.py
Labels: none

fix
  tests/integration/test_simple.py
Labels: none

fix
  tests/integration/test_simple.py
Labels: none

pre-commit
  luxonis_train/callbacks/test_on_train_end.py
  tests/integration/test_smart_logging.py
Labels: none

types
  tests/integration/test_smart_logging.py
Labels: none

types
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

small updates
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  luxonis_train/loaders/luxonis_perlin_loader_torch.py
Labels: none

Fix for inference with shorter last batch (#277)
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/utils/__init__.py
  luxonis_train/utils/general.py
Labels: none
