Repository luxonis/luxonis-train, changes with the labels that .github/labeler.yaml gives for each.
All labels: DevOps, CLI, documentation

.github/labeler.yaml:

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/*'
  - head-branch:
    - 'test/*'
    - 'tests/*'

DevOps:
  - changed-files:
    - any-glob-to-any-file: '.github/*'

CLI:
  - changed-files:
    - any-glob-to-any-file: '**/__main__.py'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'

fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'

type simplification
  luxonis_train/attached_modules/losses/embedding_losses.py
Labels: none

added cross batch memory
  luxonis_train/attached_modules/losses/embedding_losses.py
  luxonis_train/attached_modules/metrics/embedding_metrics.py
  luxonis_train/nodes/heads/ghostfacenet_head.py
  tests/configs/reid.yaml
Labels: none

fix failing type-check
  luxonis_train/attached_modules/losses/precision_dfl_detection_loss.py
  luxonis_train/attached_modules/losses/precision_dlf_segmentation_loss.py
  luxonis_train/attached_modules/metrics/mean_average_precision.py
  luxonis_train/attached_modules/visualizers/instance_segmentation_visualizer.py
  luxonis_train/nodes/heads/precision_bbox_head.py
  luxonis_train/nodes/heads/precision_seg_bbox_head.py
Labels: none

remove --no-deps
  .github/workflows/tests.yaml
Labels: none

fix test_tal_assigner.py
  tests/unittests/test_assigners/test_tal_assigner.py
Labels: none

Fix FOMO head (#152)
  luxonis_train/attached_modules/losses/README.md
  luxonis_train/attached_modules/losses/fomo_localization_loss.py
  luxonis_train/config/predefined_models/README.md
  luxonis_train/config/predefined_models/detection_fomo_model.py
  luxonis_train/nodes/README.md
  luxonis_train/nodes/heads/fomo_head.py
Labels: documentation

Feature Efficientvit (#154)
  luxonis_train/nodes/README.md
  luxonis_train/nodes/backbones/__init__.py
  luxonis_train/nodes/backbones/efficientvit/__init__.py
  luxonis_train/nodes/backbones/efficientvit/blocks.py
  luxonis_train/nodes/backbones/efficientvit/efficientvit.py
  luxonis_train/nodes/backbones/efficientvit/variants.py
  luxonis_train/nodes/blocks/blocks.py
Labels: documentation

fix tests
  tests/integration/test_detection.py
Labels: none

fix tests
  tests/integration/test_detection.py
Labels: none

TODO: Implement attaching index to condition once its functionality is fixed
  luxonis_train/nodes/necks/reppan_neck/reppan_neck.py
Labels: none

small fixes
  configs/instance_segmentation_light_model.yaml
  luxonis_train/config/predefined_models/instance_segmentation_model.py
  luxonis_train/nodes/blocks/blocks.py
Labels: none

small export fix
  luxonis_train/config/predefined_models/README.md
  luxonis_train/nodes/heads/precision_bbox_head.py
  luxonis_train/nodes/heads/precision_seg_bbox_head.py
Labels: documentation

fix failing type-check
  luxonis_train/core/core.py
Labels: none

Fixed docs (#157)
  luxonis_train/loaders/base_loader.py
  luxonis_train/nodes/backbones/ddrnet/blocks.py
Labels: none

rename to resume_weights
  luxonis_train/core/core.py
Labels: none

rename to resume_weights
  luxonis_train/__main__.py
Labels: CLI

fix: replace slashes in inference image paths
  luxonis_train/core/utils/infer_utils.py
Labels: none

correct output names for dai-nodes
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/nodes/heads/efficient_bbox_head.py
  luxonis_train/nodes/heads/precision_bbox_head.py
  luxonis_train/nodes/heads/precision_seg_bbox_head.py
Labels: none

feat: add OCR recognition model
  configs/ocr_recognition_model.yaml
  luxonis_train/attached_modules/losses/README.md
  luxonis_train/attached_modules/losses/__init__.py
  luxonis_train/attached_modules/losses/ctc_loss.py
  luxonis_train/attached_modules/metrics/README.md
  luxonis_train/attached_modules/metrics/__init__.py
  luxonis_train/attached_modules/metrics/ocr_accuracy.py
  luxonis_train/attached_modules/visualizers/README.md
  luxonis_train/attached_modules/visualizers/__init__.py
  luxonis_train/attached_modules/visualizers/ocr_visualizer.py
  luxonis_train/config/predefined_models/README.md
  luxonis_train/config/predefined_models/__init__.py
  luxonis_train/config/predefined_models/ocr_recognition_model.py
  luxonis_train/loaders/base_loader.py
  luxonis_train/nodes/README.md
  luxonis_train/nodes/backbones/__init__.py
  luxonis_train/nodes/backbones/pplcnet_v3/__init__.py
  luxonis_train/nodes/backbones/pplcnet_v3/blocks.py
  luxonis_train/nodes/backbones/pplcnet_v3/pplcnet_v3.py
  luxonis_train/nodes/blocks/blocks.py
  luxonis_train/nodes/heads/__init__.py
  luxonis_train/nodes/heads/ocr_ctc_head.py
  luxonis_train/nodes/necks/__init__.py
  luxonis_train/nodes/necks/svtr_neck/__init__.py
  luxonis_train/nodes/necks/svtr_neck/blocks.py
  luxonis_train/nodes/necks/svtr_neck/svtr_neck.py
  luxonis_train/utils/__init__.py
  luxonis_train/utils/ocr.py
  media/example_viz/ocr.png
Labels: documentation

test: simple ocr test
  tests/integration/test_simple.py
Labels: none

fix: collate_fn handling of string lists
  luxonis_train/loaders/utils.py
Labels: none

style: formatting
  luxonis_train/attached_modules/losses/ctc_loss.py
  luxonis_train/attached_modules/metrics/ocr_accuracy.py
  luxonis_train/attached_modules/visualizers/ocr_visualizer.py
  luxonis_train/config/predefined_models/ocr_recognition_model.py
  luxonis_train/nodes/backbones/pplcnet_v3/blocks.py
  luxonis_train/nodes/backbones/pplcnet_v3/pplcnet_v3.py
  luxonis_train/nodes/heads/ocr_ctc_head.py
  luxonis_train/nodes/necks/svtr_neck/__init__.py
  luxonis_train/nodes/necks/svtr_neck/blocks.py
  luxonis_train/nodes/necks/svtr_neck/svtr_neck.py
  luxonis_train/utils/ocr.py
Labels: none

removed specific opset, removed extra space
  configs/instance_segmentation_light_model.yaml
  luxonis_train/nodes/heads/precision_seg_bbox_head.py
Labels: none

fix kpts model export
  luxonis_train/nodes/heads/efficient_keypoint_bbox_head.py
Labels: none

attached modules improvememnt
  luxonis_train/attached_modules/losses/embedding_losses.py
  luxonis_train/attached_modules/visualizers/embeddings_visualizer.py
  luxonis_train/attached_modules/visualizers/utils.py
  luxonis_train/config/config.py
  luxonis_train/enums.py
  luxonis_train/loaders/base_loader.py
  luxonis_train/models/luxonis_lightning.py
  requirements.txt
  tests/configs/reid.yaml
Labels: none

fix: custom head config params
  luxonis_train/nodes/heads/ocr_ctc_head.py
  luxonis_train/utils/ocr.py
Labels: none

fix: suppress misleading warning
  luxonis_train/core/core.py
Labels: none

Fix keypoint assigner bug and export issues; update predefined model configs
  configs/detection_heavy_model.yaml
  configs/detection_light_model.yaml
  configs/instance_segmentation_heavy_model.yaml
  configs/instance_segmentation_light_model.yaml
  configs/keypoint_bbox_heavy_model.yaml
  configs/keypoint_bbox_light_model.yaml
  luxonis_train/attached_modules/losses/README.md
  luxonis_train/attached_modules/losses/efficient_keypoint_bbox_loss.py
  luxonis_train/nodes/heads/efficient_keypoint_bbox_head.py
Labels: documentation

fix test_custom_tasks test
  tests/integration/parking_lot.json
Labels: none

fix: remove bias in LearnableRepLayer for correct reparametrization
  luxonis_train/nodes/backbones/pplcnet_v3/blocks.py
Labels: none

fix: ocr encoder char_to_int dict
  luxonis_train/utils/ocr.py
Labels: none

fix: ocr ctc head
  luxonis_train/nodes/heads/ocr_ctc_head.py
Labels: none

metadata task override
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/enums.py
  luxonis_train/models/luxonis_lightning.py
Labels: none

fix automatic inputs
  luxonis_train/config/config.py
Labels: none

cleaned
  luxonis_train/attached_modules/visualizers/embeddings_visualizer.py
Labels: none

metadata overriding
  luxonis_train/nodes/base_node.py
Labels: none

type checking
  luxonis_train/loaders/base_loader.py
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: none

embedding tests
  configs/embeddings_model.yaml
  tests/integration/conftest.py
  tests/integration/test_embeddings.py
Labels: none

fix
  luxonis_train/attached_modules/base_attached_module.py
  tests/unittests/test_base_attached_module.py
Labels: none

parametrized tests
  tests/integration/test_detection.py
  tests/integration/test_segmentation.py
Labels: none
