Repository luxonis/luxonis-train, changes with the labels that .github/labeler.yaml gives for each.
All labels: DevOps, CLI, documentation

fix losses docs
  luxonis_train/attached_modules/losses/README.md
Labels: documentation

nosemgrep
  luxonis_train/callbacks/upload_checkpoint.py
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/nodes/base_node.py
Labels: none

fix: removing the accidentally added code
  luxonis_train/attached_modules/losses/__init__.py
  luxonis_train/attached_modules/losses/adaptive_detection_loss_weighted.py
Labels: none

feat: post a warning in case of incorrect per_class_weights length
  luxonis_train/attached_modules/losses/adaptive_detection_loss.py
Labels: none

fix: support not setting the per_class_weights parameter
  luxonis_train/attached_modules/losses/adaptive_detection_loss.py
Labels: none

Added semgrep workflow (#176)
  .github/workflows/semgrep.yaml
  .pre-commit-config.yaml
  luxonis_train/__main__.py
  luxonis_train/callbacks/upload_checkpoint.py
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/blocks/blocks.py
  luxonis_train/nodes/necks/svtr_neck/blocks.py
  requirements-dev.txt
  tests/integration/test_cli_commands.py
Labels: CLI

better logs
  luxonis_train/config/config.py
  luxonis_train/models/luxonis_lightning.py
Labels: none

small fixes
  luxonis_train/__init__.py
  luxonis_train/config/__init__.py
  luxonis_train/config/config.py
  luxonis_train/config/predefined_models/base_predefined_model.py
  luxonis_train/datasets/luxonis_torch_dataset.py
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/utils/__init__.py
  luxonis_train/utils/graph.py
  luxonis_train/utils/registry.py
  tests/integration/multi_input_modules.py
  tests/unittests/test_loaders/test_base_loader.py
  tests/unittests/test_utils/test_graph.py
Labels: none

set correct device
  luxonis_train/attached_modules/losses/adaptive_detection_loss.py
Labels: none

use logger for warning
  luxonis_train/attached_modules/losses/adaptive_detection_loss.py
Labels: none

doctring fix
  luxonis_train/attached_modules/losses/adaptive_detection_loss.py
Labels: none

format fix
  luxonis_train/attached_modules/losses/README.md
Labels: documentation

Add per-class weighting option to AdaptiveDetectionLoss (#177)
  luxonis_train/attached_modules/losses/README.md
  luxonis_train/attached_modules/losses/adaptive_detection_loss.py
Labels: documentation

fix headings
  luxonis_train/nodes/README.md
Labels: documentation

linking to predefined models, nodes and losses
  luxonis_train/attached_modules/losses/README.md
  luxonis_train/config/predefined_models/README.md
  luxonis_train/nodes/README.md
Labels: documentation

fix typos
  luxonis_train/nodes/README.md
Labels: documentation

fix typos
  luxonis_train/nodes/README.md
Labels: documentation

fix configs readme
  configs/README.md
Labels: documentation

predefined models fix
  configs/detection_light_model.yaml
Labels: none

fix loss names
  configs/README.md
Labels: documentation

fix detection_light_model params
  configs/README.md
  configs/detection_light_model.yaml
Labels: documentation

fix loader section
  configs/README.md
Labels: documentation

fix tips section
  configs/README.md
Labels: documentation

Fix keypoints loss and assignment when no annotations are present
  luxonis_train/assigners/tal_assigner.py
  luxonis_train/attached_modules/losses/efficient_keypoint_bbox_loss.py
Labels: none

link to cls predefined model
  luxonis_train/nodes/README.md
Labels: documentation

fix typo
  luxonis_train/nodes/README.md
Labels: documentation

Fix keypoints loss and assignment when no annotations are present
  luxonis_train/assigners/tal_assigner.py
  luxonis_train/attached_modules/losses/efficient_keypoint_bbox_loss.py
Labels: none

Fix keypoints loss and assignment when no annotations are present (#179)
  .github/workflows/ci.yaml
  luxonis_train/__init__.py
  luxonis_train/assigners/tal_assigner.py
  luxonis_train/attached_modules/losses/efficient_keypoint_bbox_loss.py
  requirements.txt
Labels: none

added debug loggin
  luxonis_train/attached_modules/losses/efficient_keypoint_bbox_loss.py
Labels: none

nicer images
  luxonis_train/attached_modules/visualizers/README.md
  luxonis_train/attached_modules/visualizers/embeddings_visualizer.py
  luxonis_train/nodes/README.md
  media/example_viz/anomaly_det.png
  media/example_viz/bbox.png
  media/example_viz/class.png
  media/example_viz/embeddings.png
  media/example_viz/fomo.png
  media/example_viz/instance_seg.png
  media/example_viz/kpts.png
  media/example_viz/ocr.png
  media/example_viz/seg.png
  media/example_viz/segmentation.png
Labels: documentation

nicer images
  media/example_viz/anomaly_det.png
  media/example_viz/bbox.png
  media/example_viz/class.png
  media/example_viz/embeddings.png
  media/example_viz/fomo.png
  media/example_viz/instance_seg.png
  media/example_viz/kpts.png
  media/example_viz/ocr.png
  media/example_viz/seg.png
Labels: none

nicer images
  media/example_viz/anomaly_det.png
  media/example_viz/bbox.png
  media/example_viz/embeddings.png
  media/example_viz/fomo.png
  media/example_viz/instance_seg.png
  media/example_viz/kpts.png
  media/example_viz/ocr.png
  media/example_viz/seg.png
Labels: none

nicer images
  media/example_viz/anomaly_det.png
  media/example_viz/bbox.png
  media/example_viz/class.png
  media/example_viz/embeddings.png
  media/example_viz/fomo.png
  media/example_viz/instance_seg.png
  media/example_viz/kpts.png
  media/example_viz/ocr.png
  media/example_viz/seg.png
Labels: none

renamed back
  README.md
  configs/README.md
  luxonis_train/__init__.py
  luxonis_train/__main__.py
  luxonis_train/callbacks/test_on_train_end.py
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/datasets/__init__.py
  luxonis_train/loaders/README.md
  luxonis_train/loaders/__init__.py
  luxonis_train/loaders/base_loader.py
  luxonis_train/loaders/luxonis_loader_torch.py
  luxonis_train/loaders/luxonis_perlin_loader_torch.py
  luxonis_train/loaders/perlin.py
  luxonis_train/loaders/utils.py
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/strategies/triple_lr_sgd.py
  luxonis_train/utils/dataset_metadata.py
  luxonis_train/utils/registry.py
  tests/integration/multi_input_modules.py
  tests/integration/test_fixed_validation_batch_limit.py
  tests/integration/test_scheduler.py
  tests/unittests/test_loaders/test_base_loader.py
Labels: CLI, documentation

fix typo
  luxonis_train/nodes/README.md
  media/example_viz/anomaly_det.png
  media/example_viz/bbox.png
  media/example_viz/class.png
  media/example_viz/embeddings.png
  media/example_viz/fomo.png
  media/example_viz/instance_seg.png
  media/example_viz/kpts.png
  media/example_viz/ocr.png
  media/example_viz/seg.png
Labels: documentation

resize images
  media/example_viz/anomaly_det.png
  media/example_viz/bbox.png
  media/example_viz/embeddings.png
  media/example_viz/fomo.png
  media/example_viz/instance_seg.png
  media/example_viz/kpts.png
  media/example_viz/ocr.png
  media/example_viz/seg.png
Labels: none

resize images
  media/example_viz/anomaly_det.png
  media/example_viz/bbox.png
  media/example_viz/class.png
  media/example_viz/embeddings.png
  media/example_viz/fomo.png
  media/example_viz/instance_seg.png
  media/example_viz/kpts.png
  media/example_viz/ocr.png
  media/example_viz/seg.png
Labels: none

resize images
  media/example_viz/anomaly_det.png
  media/example_viz/bbox.png
  media/example_viz/embeddings.png
  media/example_viz/fomo.png
  media/example_viz/instance_seg.png
  media/example_viz/kpts.png
  media/example_viz/ocr.png
  media/example_viz/seg.png
Labels: none

fix order
  luxonis_train/nodes/README.md
Labels: documentation

title image
  README.md
Labels: documentation

.github/labeler.yaml:

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/*'
  - head-branch:
    - 'test/*'
    - 'tests/*'

DevOps:
  - changed-files:
    - any-glob-to-any-file: '.github/*'

CLI:
  - changed-files:
    - any-glob-to-any-file: '**/__main__.py'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'

fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'
