Repository luxonis/luxonis-train, changes with the labels that .github/labeler.yaml gives for each.
All labels: DevOps, CLI, documentation

updated luxonis-ml version
  requirements.txt
Labels: none

LuxonisTrain v0.3.9 (#285)
  luxonis_train/__init__.py
  requirements-dev.txt
  requirements.txt
Labels: none

fix merge
  luxonis_train/nodes/blocks/resnet.py
  luxonis_train/nodes/blocks/utils.py
Labels: none

rename augs used in tuner cfg before logging
  luxonis_train/core/core.py
  luxonis_train/core/utils/tune_utils.py
Labels: none

fix docs
  luxonis_train/core/utils/tune_utils.py
Labels: none

raise exception
  luxonis_train/attached_modules/losses/softmax_focal_loss.py
Labels: none

variants using a metaclass
  luxonis_train/config/config.py
  luxonis_train/config/predefined_models/base_predefined_model.py
  luxonis_train/lightning/utils.py
  luxonis_train/nodes/base_node.py
Labels: none

fix tests
  luxonis_train/attached_modules/losses/softmax_focal_loss.py
Labels: none

Log tuner augmentations by name instead of index (#286)
  luxonis_train/core/core.py
  luxonis_train/core/utils/tune_utils.py
Labels: none

Raise clear error when using SoftmaxFocalLoss for binary tasks (#287)
  luxonis_train/attached_modules/losses/softmax_focal_loss.py
Labels: none

simplified node API
  examples/README.md
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/losses/base_loss.py
  luxonis_train/attached_modules/metrics/base_metric.py
  luxonis_train/attached_modules/visualizers/base_visualizer.py
  luxonis_train/nodes/backbones/contextspatial.py
  luxonis_train/nodes/backbones/ddrnet/ddrnet.py
  luxonis_train/nodes/backbones/efficientnet.py
  luxonis_train/nodes/backbones/efficientrep/efficientrep.py
  luxonis_train/nodes/backbones/efficientvit/efficientvit.py
  luxonis_train/nodes/backbones/ghostfacenet/ghostfacenet.py
  luxonis_train/nodes/backbones/micronet/micronet.py
  luxonis_train/nodes/backbones/mobilenetv2.py
  luxonis_train/nodes/backbones/mobileone/mobileone.py
  luxonis_train/nodes/backbones/pplcnet_v3/pplcnet_v3.py
  luxonis_train/nodes/backbones/recsubnet/recsubnet.py
  luxonis_train/nodes/backbones/repvgg/repvgg.py
  luxonis_train/nodes/backbones/resnet.py
  luxonis_train/nodes/backbones/rexnetv1.py
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/heads/base_detection_head.py
  luxonis_train/nodes/heads/base_head.py
  luxonis_train/nodes/heads/bisenet_head.py
  luxonis_train/nodes/heads/classification_head.py
  luxonis_train/nodes/heads/ddrnet_segmentation_head.py
  luxonis_train/nodes/heads/discsubnet_head/discsubnet_head.py
  luxonis_train/nodes/heads/efficient_bbox_head.py
  luxonis_train/nodes/heads/efficient_keypoint_bbox_head.py
  luxonis_train/nodes/heads/fomo_head.py
  luxonis_train/nodes/heads/ghostfacenet_head.py
  luxonis_train/nodes/heads/ocr_ctc_head.py
  luxonis_train/nodes/heads/precision_bbox_head.py
  luxonis_train/nodes/heads/precision_seg_bbox_head.py
  luxonis_train/nodes/heads/segmentation_head.py
  luxonis_train/nodes/necks/reppan_neck/reppan_neck.py
  luxonis_train/nodes/necks/svtr_neck/svtr_neck.py
  luxonis_train/typing.py
Labels: documentation

fix
  luxonis_train/nodes/heads/efficient_bbox_head.py
Labels: none

base model API simplified
  examples/README.md
  luxonis_train/nodes/base_node.py
Labels: documentation

new simplify flag
  luxonis_train/config/config.py
  luxonis_train/core/core.py
Labels: none

fix docs
  configs/README.md
Labels: documentation

fix empty batches
  luxonis_train/attached_modules/metrics/object_keypoint_similarity.py
Labels: none

fix failing tests
  luxonis_train/core/core.py
Labels: none

fix scenario when paths have different lenghts
  luxonis_train/core/utils/annotate_utils.py
  luxonis_train/core/utils/infer_utils.py
Labels: none

renaming
  configs/README.md
  luxonis_train/config/config.py
  luxonis_train/core/core.py
Labels: documentation

minor fix
  luxonis_train/core/core.py
Labels: none

re-enabled annotate tests
  tests/integration/test_predefined_models.py
Labels: none

raise error if not supported
  luxonis_train/utils/annotation.py
  tests/integration/test_predefined_models.py
Labels: none

raise error
  luxonis_train/utils/annotation.py
Labels: none

fix pplcnet
  luxonis_train/nodes/backbones/pplcnet_v3/blocks.py
  luxonis_train/nodes/backbones/pplcnet_v3/pplcnet_v3.py
Labels: none

fixes
  luxonis_train/config/predefined_models/base_predefined_model.py
  luxonis_train/nodes/backbones/ddrnet/ddrnet.py
  luxonis_train/nodes/backbones/recsubnet/recsubnet.py
  luxonis_train/nodes/backbones/repvgg/repvgg.py
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/heads/base_detection_head.py
  luxonis_train/nodes/heads/discsubnet_head/discsubnet_head.py
  luxonis_train/nodes/heads/efficient_bbox_head.py
  luxonis_train/nodes/heads/fomo_head.py
  luxonis_train/nodes/heads/ghostfacenet_head.py
  luxonis_train/nodes/heads/precision_bbox_head.py
  luxonis_train/nodes/heads/precision_seg_bbox_head.py
Labels: none

ignore images without annotations
  luxonis_train/attached_modules/metrics/object_keypoint_similarity.py
Labels: none

Make onnx simplification toggleable (#288)
  configs/README.md
  luxonis_train/config/config.py
  luxonis_train/core/core.py
Labels: documentation

Fix annotate scenario where paths have different lengths (#290)
  luxonis_train/core/utils/annotate_utils.py
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/utils/annotation.py
  tests/integration/test_predefined_models.py
Labels: none

fixes
  luxonis_train/attached_modules/losses/reconstruction_segmentation_loss.py
  luxonis_train/nodes/backbones/recsubnet/recsubnet.py
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/blocks/unet.py
  luxonis_train/nodes/heads/discsubnet_head/discsubnet_head.py
  luxonis_train/utils/general.py
Labels: none

fix tests
  luxonis_train/nodes/base_node.py
  tests/integration/test_custom_model.py
  tests/unittests/test_base_node.py
Labels: none

Fix OKS metric in case of batches without annotations (#289)
  luxonis_train/attached_modules/metrics/object_keypoint_similarity.py
Labels: none

release v0.3.10
  luxonis_train/__init__.py
Labels: none

LuxonisTrain v0.3.10 (#291)
  luxonis_train/__init__.py
Labels: none

fixes
  .pre-commit-config.yaml
  luxonis_train/attached_modules/visualizers/utils.py
  luxonis_train/config/predefined_models/base_predefined_model.py
  luxonis_train/nodes/base_node.py
  luxonis_train/utils/__init__.py
  luxonis_train/utils/general.py
  luxonis_train/utils/variants.py
  tests/integration/test_combinations.py
  tests/unittests/test_base_node.py
Labels: none

fix
  luxonis_train/nodes/backbones/efficientrep/efficientrep.py
  luxonis_train/nodes/backbones/efficientvit/efficientvit.py
  luxonis_train/nodes/necks/reppan_neck/reppan_neck.py
Labels: none

Allow CV2 window to be resized
  luxonis_train/__main__.py
Labels: CLI

fixed tests
  tests/conftest.py
Labels: none

renamed ghostfacenet
  configs/embeddings_model.yaml
  luxonis_train/nodes/README.md
  luxonis_train/nodes/backbones/__init__.py
  luxonis_train/nodes/backbones/ghostfacenet/__init__.py
  luxonis_train/nodes/backbones/ghostfacenet/ghostfacenet.py
  luxonis_train/nodes/heads/ghostfacenet_head.py
Labels: documentation

variant base
  luxonis_train/config/config.py
  luxonis_train/config/predefined_models/base_predefined_model.py
  luxonis_train/nodes/base_node.py
  luxonis_train/utils/__init__.py
  luxonis_train/utils/variants.py
Labels: none

updated tests
  tests/integration/test_combinations.py
  tests/integration/test_mlflow_logging.py
Labels: none

.github/labeler.yaml:

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/*'
  - head-branch:
    - 'test/*'
    - 'tests/*'

DevOps:
  - changed-files:
    - any-glob-to-any-file: '.github/*'

CLI:
  - changed-files:
    - any-glob-to-any-file: '**/__main__.py'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'

fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'
