Repository luxonis/luxonis-train, changes with the labels that .github/labeler.yaml gives for each.
All labels: DevOps, CLI, documentation

.github/labeler.yaml:

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/*'
  - head-branch:
    - 'test/*'
    - 'tests/*'

DevOps:
  - changed-files:
    - any-glob-to-any-file: '.github/*'

CLI:
  - changed-files:
    - any-glob-to-any-file: '**/__main__.py'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'

fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'

hardcode coco creation
  luxonis_train/__main__.py
Labels: CLI

hardcode coco creation with only rank0
  luxonis_train/__main__.py
Labels: CLI

dist barrier in dataset creation, no more hardcoded dataset loading
  luxonis_train/__main__.py
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: CLI

dist barrier in dataset creation, no more hardcoded dataset loading
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: none

revert to old loader
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: none

new print
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: none

feat:grad-clip
  configs/README.md
  luxonis_train/config/config.py
  luxonis_train/core/utils/train_utils.py
Labels: documentation

Pinned down mdormat-gfm version
  .pre-commit-config.yaml
Labels: none

Pinned down mdormat-gfm version (#147)
  .pre-commit-config.yaml
Labels: none

Add Gradient Clipping Options to Trainer Config (#146)
  configs/README.md
  luxonis_train/config/config.py
  luxonis_train/core/utils/train_utils.py
Labels: documentation

Coverage fixes
  luxonis_train/attached_modules/visualizers/embeddings_visualizer.py
  luxonis_train/nodes/backbones/ghostfacenet/ghostfacenet.py
  tests/integration/test_reid.py
Labels: none

fix: return a model copy for the specified GhostFaceNets variant
  luxonis_train/nodes/backbones/ghostfacenet/variants.py
Labels: none

Updated weights loading for DDRNet
  luxonis_train/nodes/backbones/ddrnet/variants.py
  luxonis_train/nodes/heads/ddrnet_segmentation_head.py
Labels: none

Updated weights loading for DDRNet (#148)
  luxonis_train/nodes/backbones/ddrnet/variants.py
  luxonis_train/nodes/heads/ddrnet_segmentation_head.py
Labels: none

FIxed DDP device bug (#145)
  luxonis_train/attached_modules/metrics/mean_average_precision.py
  luxonis_train/attached_modules/metrics/mean_average_precision_keypoints.py
Labels: none

Removed extra params when creating archive
  luxonis_train/core/core.py
Labels: none

update tests
  tests/integration/parking_lot.json
Labels: none

test fix
  tests/integration/parking_lot.json
Labels: none

Removed extra params when creating NNArchive (#149)
  luxonis_train/core/core.py
  tests/integration/parking_lot.json
Labels: none

add confusion matrix to predefined models
  luxonis_train/config/predefined_models/classification_model.py
  luxonis_train/config/predefined_models/detection_model.py
  luxonis_train/config/predefined_models/segmentation_model.py
Labels: none

add CM metric to kpts predefined model
  luxonis_train/config/predefined_models/classification_model.py
  luxonis_train/config/predefined_models/detection_model.py
  luxonis_train/config/predefined_models/keypoint_detection_model.py
  luxonis_train/config/predefined_models/segmentation_model.py
Labels: none

support for n_classes = 1
  luxonis_train/attached_modules/metrics/confusion_matrix.py
Labels: none

Add confusion matrix to predefined models (#150)
  luxonis_train/attached_modules/metrics/confusion_matrix.py
  luxonis_train/config/predefined_models/classification_model.py
  luxonis_train/config/predefined_models/detection_model.py
  luxonis_train/config/predefined_models/keypoint_detection_model.py
  luxonis_train/config/predefined_models/segmentation_model.py
Labels: none

initial labels refactor support
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/config/config.py
  luxonis_train/config/predefined_models/classification_model.py
  luxonis_train/config/predefined_models/detection_fomo_model.py
  luxonis_train/config/predefined_models/detection_model.py
  luxonis_train/config/predefined_models/keypoint_detection_model.py
  luxonis_train/config/predefined_models/segmentation_model.py
  luxonis_train/core/core.py
  luxonis_train/enums.py
  luxonis_train/loaders/base_loader.py
  luxonis_train/loaders/luxonis_loader_torch.py
  luxonis_train/loaders/utils.py
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/heads/ddrnet_segmentation_head.py
  luxonis_train/nodes/heads/efficient_bbox_head.py
  luxonis_train/utils/dataset_metadata.py
  luxonis_train/utils/types.py
Labels: none

updated docs
  configs/README.md
Labels: documentation

updated predefined models
  configs/complex_model.yaml
  luxonis_train/config/config.py
  luxonis_train/config/predefined_models/anomaly_detection_model.py
  luxonis_train/config/predefined_models/classification_model.py
  luxonis_train/config/predefined_models/detection_fomo_model.py
  luxonis_train/config/predefined_models/detection_model.py
  luxonis_train/config/predefined_models/keypoint_detection_model.py
  luxonis_train/config/predefined_models/segmentation_model.py
Labels: none

updated attached modules
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/losses/efficient_keypoint_bbox_loss.py
  luxonis_train/attached_modules/losses/fomo_localization_loss.py
  luxonis_train/attached_modules/metrics/mean_average_precision_keypoints.py
  luxonis_train/attached_modules/metrics/object_keypoint_similarity.py
  luxonis_train/attached_modules/visualizers/utils.py
Labels: none

small changes
  luxonis_train/core/core.py
  luxonis_train/enums.py
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/heads/ddrnet_segmentation_head.py
  luxonis_train/nodes/heads/efficient_bbox_head.py
  luxonis_train/utils/__init__.py
  luxonis_train/utils/exceptions.py
  luxonis_train/utils/keypoints.py
Labels: none

updated tests
  tests/configs/cli_commands.yaml
  tests/configs/multi_input.yaml
  tests/configs/parking_lot_config.yaml
  tests/integration/conftest.py
  tests/integration/multi_input_modules.py
  tests/integration/parking_lot.json
  tests/integration/test_detection.py
  tests/integration/test_fixed_validation_batch_limit.py
  tests/integration/test_fomo_detection.py
  tests/integration/test_segmentation.py
  tests/integration/test_unsupervised_anomaly_detection.py
  tests/unittests/test_base_attached_module.py
  tests/unittests/test_base_node.py
  tests/unittests/test_loaders/test_base_loader.py
Labels: none

fixed predefined classification
  luxonis_train/config/predefined_models/classification_model.py
Labels: none

docs
  luxonis_train/nodes/README.md
  luxonis_train/nodes/base_node.py
Labels: documentation

fix inspect
  luxonis_train/__main__.py
Labels: CLI

new variants
  luxonis_train/config/predefined_models/detection_fomo_model.py
  luxonis_train/nodes/heads/fomo_head.py
Labels: none

fixed tests
  luxonis_train/attached_modules/losses/reconstruction_segmentation_loss.py
  luxonis_train/config/predefined_models/classification_model.py
  luxonis_train/config/predefined_models/detection_model.py
  luxonis_train/config/predefined_models/keypoint_detection_model.py
  luxonis_train/config/predefined_models/segmentation_model.py
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/loaders/base_loader.py
  luxonis_train/loaders/luxonis_loader_torch.py
  luxonis_train/loaders/luxonis_perlin_loader_torch.py
  luxonis_train/loaders/perlin.py
  luxonis_train/models/luxonis_lightning.py
  tests/configs/smart_cfg_populate_config.yaml
  tests/integration/parking_lot.json
  tests/integration/test_unsupervised_anomaly_detection.py
  tests/unittests/test_metrics/test_confusion_matrix.py
Labels: none

fix debug config
  tests/integration/test_unsupervised_anomaly_detection.py
Labels: none

updated perlin
  luxonis_train/loaders/perlin.py
Labels: none

missing doc
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: none

reverted bacj to train_rgb
  configs/README.md
  configs/complex_model.yaml
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  luxonis_train/core/utils/infer_utils.py
  tests/configs/cli_commands.yaml
  tests/configs/parking_lot_config.yaml
Labels: documentation

add ~NMS, smaller loss weight
  luxonis_train/attached_modules/losses/fomo_localization_loss.py
  luxonis_train/nodes/heads/fomo_head.py
Labels: none

important notes to README
  luxonis_train/attached_modules/losses/README.md
  luxonis_train/config/predefined_models/README.md
  luxonis_train/nodes/README.md
  luxonis_train/nodes/heads/fomo_head.py
Labels: documentation
