Repository luxonis/luxonis-train, changes with the labels that .github/labeler.yaml gives for each.
All labels: DevOps, CLI, documentation

.github/labeler.yaml:

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/*'
  - head-branch:
    - 'test/*'
    - 'tests/*'

DevOps:
  - changed-files:
    - any-glob-to-any-file: '.github/*'

CLI:
  - changed-files:
    - any-glob-to-any-file: '**/__main__.py'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'

fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'

fix ema checkpoint loading (#156)
  configs/README.md
  luxonis_train/__main__.py
  luxonis_train/callbacks/ema.py
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  tests/unittests/test_callbacks/test_ema.py
Labels: CLI, documentation

Fix: Ensure Compatibility of Detection Model Input Shape (#155)
  luxonis_train/nodes/necks/reppan_neck/reppan_neck.py
Labels: none

Instance Segmentation Head (#144)
  .github/workflows/tests.yaml
  configs/detection_heavy_model.yaml
  configs/detection_light_model.yaml
  configs/instance_segmentation_heavy_model.yaml
  configs/instance_segmentation_light_model.yaml
  configs/keypoint_bbox_heavy_model.yaml
  luxonis_train/assigners/tal_assigner.py
  luxonis_train/attached_modules/losses/README.md
  luxonis_train/attached_modules/losses/__init__.py
  luxonis_train/attached_modules/losses/adaptive_detection_loss.py
  luxonis_train/attached_modules/losses/efficient_keypoint_bbox_loss.py
  luxonis_train/attached_modules/losses/precision_dfl_detection_loss.py
  luxonis_train/attached_modules/losses/precision_dlf_segmentation_loss.py
  luxonis_train/attached_modules/metrics/mean_average_precision.py
  luxonis_train/attached_modules/visualizers/__init__.py
  luxonis_train/attached_modules/visualizers/instance_segmentation_visualizer.py
  luxonis_train/config/predefined_models/README.md
  luxonis_train/config/predefined_models/__init__.py
  luxonis_train/config/predefined_models/instance_segmentation_model.py
  luxonis_train/loaders/utils.py
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/nodes/README.md
  luxonis_train/nodes/blocks/__init__.py
  luxonis_train/nodes/blocks/blocks.py
  luxonis_train/nodes/heads/__init__.py
  luxonis_train/nodes/heads/efficient_bbox_head.py
  luxonis_train/nodes/heads/efficient_keypoint_bbox_head.py
  luxonis_train/nodes/heads/precision_bbox_head.py
  luxonis_train/nodes/heads/precision_seg_bbox_head.py
  luxonis_train/utils/__init__.py
  luxonis_train/utils/boundingbox.py
  tests/integration/parking_lot.json
  tests/integration/test_detection.py
  tests/integration/test_simple.py
  tests/unittests/test_assigners/test_tal_assigner.py
Labels: documentation

docs
  luxonis_train/attached_modules/losses/README.md
  luxonis_train/attached_modules/metrics/README.md
  luxonis_train/attached_modules/visualizers/README.md
  luxonis_train/nodes/README.md
  luxonis_train/nodes/backbones/ghostfacenet/ghostfacenet.py
Labels: documentation

fix merge bug
  luxonis_train/nodes/blocks/blocks.py
Labels: none

removed unused code
  luxonis_train/enums.py
Labels: none

fix unittests
  luxonis_train/attached_modules/base_attached_module.py
  tests/unittests/test_base_attached_module.py
  tests/unittests/test_metrics/test_confusion_matrix.py
  tests/unittests/test_metrics/test_torchmetrics.py
Labels: none

fixes
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/metrics/confusion_matrix.py
  luxonis_train/attached_modules/metrics/mean_average_precision_keypoints.py
  luxonis_train/attached_modules/visualizers/bbox_visualizer.py
  luxonis_train/attached_modules/visualizers/keypoint_visualizer.py
  luxonis_train/attached_modules/visualizers/utils.py
Labels: none

fix assigners
  luxonis_train/assigners/tal_assigner.py
  luxonis_train/attached_modules/losses/adaptive_detection_loss.py
  luxonis_train/attached_modules/losses/efficient_keypoint_bbox_loss.py
  tests/unittests/test_assigners/test_tal_assigner.py
Labels: none

fixed type issues
  luxonis_train/attached_modules/metrics/mean_average_precision_keypoints.py
  luxonis_train/nodes/backbones/ghostfacenet/blocks.py
  luxonis_train/nodes/base_node.py
Labels: none

improved errors
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/losses/ohem_loss.py
Labels: none

bugfixes
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/metrics/mean_average_precision.py
  luxonis_train/attached_modules/visualizers/instance_segmentation_visualizer.py
  luxonis_train/attached_modules/visualizers/utils.py
Labels: none

renamed parameters in visualizers
  luxonis_train/attached_modules/visualizers/base_visualizer.py
  luxonis_train/attached_modules/visualizers/bbox_visualizer.py
  luxonis_train/attached_modules/visualizers/classification_visualizer.py
  luxonis_train/attached_modules/visualizers/embeddings_visualizer.py
  luxonis_train/attached_modules/visualizers/instance_segmentation_visualizer.py
  luxonis_train/attached_modules/visualizers/keypoint_visualizer.py
  luxonis_train/attached_modules/visualizers/segmentation_visualizer.py
Labels: none

split map
  luxonis_train/attached_modules/metrics/__init__.py
  luxonis_train/attached_modules/metrics/mean_average_precision.py
  luxonis_train/attached_modules/metrics/mean_average_precision/__init__.py
  luxonis_train/attached_modules/metrics/mean_average_precision/mean_average_precision.py
  luxonis_train/attached_modules/metrics/mean_average_precision/mean_average_precision_bbox.py
  luxonis_train/attached_modules/metrics/mean_average_precision/mean_average_precision_keypoints.py
  luxonis_train/attached_modules/metrics/mean_average_precision/mean_average_precision_segmentation.py
  luxonis_train/config/predefined_models/keypoint_detection_model.py
Labels: none

fix
  luxonis_train/attached_modules/metrics/confusion_matrix.py
Labels: none

feat: add light variant
  configs/ocr_recognition_model.yaml
  luxonis_train/attached_modules/visualizers/ocr_visualizer.py
  luxonis_train/config/predefined_models/ocr_recognition_model.py
  luxonis_train/nodes/backbones/pplcnet_v3/pplcnet_v3.py
  luxonis_train/nodes/backbones/pplcnet_v3/variants.py
Labels: none

refactor: refactoring
  luxonis_train/nodes/backbones/pplcnet_v3/blocks.py
  luxonis_train/nodes/heads/ocr_ctc_head.py
  luxonis_train/nodes/necks/svtr_neck/blocks.py
Labels: none

docs: improve READMEs
  luxonis_train/config/predefined_models/README.md
  luxonis_train/nodes/README.md
  luxonis_train/nodes/backbones/pplcnet_v3/variants.py
Labels: documentation

fix: rename model to light
  configs/ocr_recognition_light_model.yaml
  tests/integration/test_simple.py
Labels: none

fix: typing
  luxonis_train/nodes/necks/svtr_neck/blocks.py
Labels: none

style: formatting
  luxonis_train/nodes/necks/svtr_neck/blocks.py
Labels: none

fix: typing
  luxonis_train/nodes/necks/svtr_neck/blocks.py
Labels: none

fixes
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/losses/fomo_localization_loss.py
  luxonis_train/attached_modules/metrics/object_keypoint_similarity.py
  luxonis_train/attached_modules/metrics/torchmetrics.py
  luxonis_train/attached_modules/visualizers/__init__.py
  luxonis_train/attached_modules/visualizers/bbox_visualizer.py
  luxonis_train/attached_modules/visualizers/keypoint_visualizer.py
  luxonis_train/attached_modules/visualizers/segmentation_visualizer.py
  luxonis_train/config/predefined_models/detection_fomo_model.py
  luxonis_train/enums.py
  luxonis_train/loaders/luxonis_perlin_loader_torch.py
  luxonis_train/nodes/heads/discsubnet_head/discsubnet_head.py
  luxonis_train/nodes/heads/fomo_head.py
Labels: none

fomo oks fix
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/losses/base_loss.py
  luxonis_train/attached_modules/losses/fomo_localization_loss.py
  luxonis_train/attached_modules/metrics/base_metric.py
  luxonis_train/attached_modules/metrics/object_keypoint_similarity.py
  luxonis_train/attached_modules/visualizers/base_visualizer.py
  luxonis_train/utils/__init__.py
  luxonis_train/utils/keypoints.py
Labels: none

fix old names
  configs/complex_model.yaml
  luxonis_train/attached_modules/base_attached_module.py
  tests/configs/parking_lot_config.yaml
  tests/integration/test_detection.py
Labels: none

added fomo visualizer
  luxonis_train/attached_modules/visualizers/fomo_visualizer.py
Labels: none

fix: different device error
  luxonis_train/nodes/backbones/pplcnet_v3/blocks.py
Labels: none

test: exclude PPLCNetV3 from the segmentation test
  tests/integration/test_segmentation.py
Labels: none

test: add mnist dataset for ocr recognition testing
  tests/integration/conftest.py
  tests/integration/test_simple.py
Labels: none

final fixes
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/core/core.py
  luxonis_train/core/utils/archive_utils.py
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/nodes/backbones/ghostfacenet/ghostfacenet.py
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/heads/base_head.py
  luxonis_train/nodes/heads/ghostfacenet_head.py
  tests/integration/multi_input_modules.py
  tests/integration/parking_lot.json
  tests/integration/test_detection.py
  tests/integration/test_simple.py
  tests/unittests/test_base_attached_module.py
Labels: none

fix pyright issues
  luxonis_train/attached_modules/metrics/object_keypoint_similarity.py
Labels: none

small task improvements
  luxonis_train/attached_modules/metrics/confusion_matrix.py
  luxonis_train/attached_modules/metrics/mean_average_precision/mean_average_precision.py
  luxonis_train/attached_modules/metrics/object_keypoint_similarity.py
  luxonis_train/attached_modules/metrics/torchmetrics.py
  luxonis_train/attached_modules/visualizers/segmentation_visualizer.py
  luxonis_train/tasks.py
  tests/unittests/test_base_attached_module.py
Labels: none

feat: simplify ocr dataset and batch creation
  luxonis_train/attached_modules/losses/ctc_loss.py
  luxonis_train/attached_modules/metrics/ocr_accuracy.py
  luxonis_train/attached_modules/visualizers/ocr_visualizer.py
  luxonis_train/loaders/utils.py
  luxonis_train/utils/__init__.py
  luxonis_train/utils/ocr.py
Labels: none

fix: remove redundant masks array
  luxonis_train/loaders/utils.py
Labels: none

fix: typing
  luxonis_train/attached_modules/losses/ctc_loss.py
  luxonis_train/attached_modules/metrics/ocr_accuracy.py
  luxonis_train/attached_modules/visualizers/ocr_visualizer.py
Labels: none

feat: add predefined alphabets
  configs/ocr_recognition_light_model.yaml
  luxonis_train/config/predefined_models/README.md
  luxonis_train/config/predefined_models/ocr_recognition_model.py
  luxonis_train/nodes/README.md
  luxonis_train/nodes/heads/ocr_ctc_head.py
  luxonis_train/utils/ocr.py
Labels: documentation

renamed KEYPOINTS to INSTANCE_KEYPOINTS
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/losses/efficient_keypoint_bbox_loss.py
  luxonis_train/attached_modules/metrics/confusion_matrix.py
  luxonis_train/attached_modules/metrics/mean_average_precision/mean_average_precision.py
  luxonis_train/attached_modules/metrics/mean_average_precision/mean_average_precision_keypoints.py
  luxonis_train/attached_modules/metrics/object_keypoint_similarity.py
  luxonis_train/attached_modules/visualizers/keypoint_visualizer.py
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/heads/efficient_keypoint_bbox_head.py
  luxonis_train/tasks.py
  tests/unittests/test_base_attached_module.py
Labels: none

docs: fix default value in README
  luxonis_train/nodes/README.md
Labels: documentation

docs: predefined alphabets info
  luxonis_train/config/predefined_models/README.md
  luxonis_train/config/predefined_models/ocr_recognition_model.py
  luxonis_train/nodes/README.md
  luxonis_train/nodes/heads/ocr_ctc_head.py
  luxonis_train/utils/ocr.py
Labels: documentation

fixed comparison
  luxonis_train/attached_modules/metrics/object_keypoint_similarity.py
Labels: none
