Repository luxonis/luxonis-train, changes with the labels that .github/labeler.yaml gives for each.
All labels: DevOps, CLI, documentation

.github/labeler.yaml:

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/*'
  - head-branch:
    - 'test/*'
    - 'tests/*'

DevOps:
  - changed-files:
    - any-glob-to-any-file: '.github/*'

CLI:
  - changed-files:
    - any-glob-to-any-file: '**/__main__.py'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'

fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'

More robust tests for conversion, check that platform-specific nnarchive is generated
  tests/integration/test_convert.py
Labels: none

Reintroduce Hailo with warning, quantization_mode only has old data_type as alias
  configs/README.md
  luxonis_train/config/config.py
  luxonis_train/core/utils/export_utils.py
Labels: documentation

overfit_batches argument for easier development and debugging
  configs/README.md
  luxonis_train/config/config.py
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/core/utils/train_utils.py
  tests/integration/test_overfit_batches.py
Labels: documentation

More accurate description of overfit_batches when it comes to validation set
  configs/README.md
Labels: documentation

PyRight for unexposed overfit_batches
  tests/integration/test_overfit_batches.py
Labels: none

Fix annoying problem where the deterministic state leaked into test_remove_on_export, which uses 2D CrossEntropyLoss (segmentation) that has no deterministic CUDA implementation
  tests/integration/test_overfit_batches.py
Labels: none

Feat/overfit batches (#339)
  configs/README.md
  luxonis_train/config/config.py
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/core/utils/train_utils.py
  tests/integration/test_overfit_batches.py
Labels: documentation

HubAI conversion + deprecate blobconverter + ConvertOnTrainEnd callback that exports and archives (#337)
  .github/workflows/ci.yaml
  .github/workflows/tests.yaml
  configs/README.md
  configs/complex_model.yaml
  configs/detection_heavy_model.yaml
  configs/detection_light_model.yaml
  configs/fomo_heavy_model.yaml
  configs/fomo_light_model.yaml
  configs/instance_segmentation_heavy_model.yaml
  configs/instance_segmentation_light_model.yaml
  configs/keypoint_bbox_heavy_model.yaml
  configs/keypoint_bbox_light_model.yaml
  configs/ocr_recognition_light_model.yaml
  configs/segmentation_heavy_model.yaml
  configs/segmentation_light_model.yaml
  luxonis_train/__main__.py
  luxonis_train/callbacks/README.md
  luxonis_train/callbacks/__init__.py
  luxonis_train/callbacks/convert_on_train_end.py
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  luxonis_train/core/utils/export_utils.py
  luxonis_train/lightning/luxonis_lightning.py
  requirements.txt
  tests/conftest.py
  tests/integration/test_callbacks.py
  tests/integration/test_cli_commands.py
  tests/integration/test_convert.py
  tests/integration/test_mlflow_logging.py
  tests/unittests/test_config.py
Labels: CLI, documentation

CTC loss fix
  luxonis_train/attached_modules/losses/ctc_loss.py
Labels: none

Fix ocr test
  tests/unittests/test_losses/test_ctc_loss.py
Labels: none

fixes
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/nodes/backbones/pplcnet_v3/blocks.py
Labels: none

Better general default config, more stable training
  configs/ocr_recognition_light_model.yaml
Labels: none

endfile
  configs/ocr_recognition_light_model.yaml
Labels: none

Correct formulation CTC loss (#340)
  configs/ocr_recognition_light_model.yaml
  luxonis_train/attached_modules/losses/ctc_loss.py
  tests/unittests/test_losses/test_ctc_loss.py
Labels: none

Correct documentation for CLI commands
  README.md
Labels: documentation

Full config sweep and readme clarification
  configs/classification_heavy_model.yaml
  configs/classification_light_model.yaml
  configs/embeddings_model.yaml
  configs/example_export.yaml
  luxonis_train/callbacks/README.md
Labels: documentation

Conversion CLI in the docs (#341)
  README.md
  configs/classification_heavy_model.yaml
  configs/classification_light_model.yaml
  configs/embeddings_model.yaml
  configs/example_export.yaml
  luxonis_train/callbacks/README.md
Labels: documentation

Fix: Checkpoint upgrade (#334)
  luxonis_train/__main__.py
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/lightning/utils.py
  luxonis_train/loaders/debug_loader.py
  luxonis_train/nodes/backbones/pplcnet_v3/blocks.py
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/blocks/blocks.py
  luxonis_train/nodes/heads/base_detection_head.py
  luxonis_train/upgrade.py
  luxonis_train/utils/dataset_metadata.py
  tests/files/execution_order.json
Labels: CLI

Only the main process saves the checkpoint
  luxonis_train/callbacks/graceful_interrupt.py
Labels: none

Fix GracefulInterruptCallback GPU (#342)
  luxonis_train/callbacks/graceful_interrupt.py
Labels: none

add pretrained for instance seg
  luxonis_train/config/predefined_models/instance_segmentation_model.py
Labels: none

Weighted loss for background-foreground imbalance inside the bounding box
  luxonis_train/attached_modules/losses/__init__.py
  luxonis_train/attached_modules/losses/precision_dlf_segmentation_loss.py
  luxonis_train/attached_modules/losses/weighted_precision_dfl_segmentation_loss.py
  luxonis_train/config/predefined_models/instance_segmentation_model.py
  tests/unittests/test_losses/test_weighted_precision_dfl_segmentation_loss.py
Labels: none

one-time debug print
  luxonis_train/attached_modules/losses/weighted_precision_dfl_segmentation_loss.py
Labels: none

loading model weights
  luxonis_train/core/utils/export_utils.py
Labels: none

debug log again
  luxonis_train/attached_modules/losses/precision_dlf_segmentation_loss.py
Labels: none

debug2
  luxonis_train/attached_modules/losses/precision_dlf_segmentation_loss.py
Labels: none

Remove multiplication by batch size
  luxonis_train/attached_modules/losses/precision_dlf_segmentation_loss.py
  luxonis_train/attached_modules/losses/weighted_precision_dfl_segmentation_loss.py
Labels: none

flip regressions classes
  luxonis_train/nodes/blocks/blocks.py
Labels: none

pre-commit comments
  luxonis_train/attached_modules/losses/weighted_precision_dfl_segmentation_loss.py
  tests/unittests/test_losses/test_weighted_precision_dfl_segmentation_loss.py
Labels: none

restore segmentation dlf, rename to correct
  luxonis_train/attached_modules/losses/precision_dfl_segmentation_loss.py
  luxonis_train/attached_modules/losses/weighted_precision_dfl_segmentation_loss.py
  luxonis_train/config/predefined_models/instance_segmentation_model.py
  tests/unittests/test_losses/test_weighted_precision_dfl_segmentation_loss.py
Labels: none

correct rename after typo
  luxonis_train/attached_modules/losses/__init__.py
Labels: none

remove weighted
  luxonis_train/attached_modules/losses/__init__.py
Labels: none

stop double sigmoid
  luxonis_train/nodes/heads/precision_seg_bbox_head.py
Labels: none

overfit_batches tests
  luxonis_train/attached_modules/losses/efficient_keypoint_bbox_loss.py
  tests/conftest.py
  tests/integration/test_overfit_convergence.py
Labels: none

Extract forward_heads
  luxonis_train/nodes/heads/precision_bbox_head.py
  luxonis_train/nodes/heads/precision_seg_bbox_head.py
Labels: none

Multiple fixes instance segmentation (#343)
  luxonis_train/attached_modules/losses/__init__.py
  luxonis_train/attached_modules/losses/precision_dfl_segmentation_loss.py
  luxonis_train/config/predefined_models/instance_segmentation_model.py
  luxonis_train/nodes/blocks/blocks.py
  luxonis_train/nodes/heads/precision_bbox_head.py
  luxonis_train/nodes/heads/precision_seg_bbox_head.py
Labels: none

specific thresholds for tasks where loss scaling is higher
  tests/integration/test_overfit_convergence.py
Labels: none

Added FailOnNoTrainBatches callback
  luxonis_train/callbacks/__init__.py
  luxonis_train/callbacks/fail_on_no_train_batches.py
  luxonis_train/core/core.py
  tests/integration/test_callbacks.py
Labels: none

Added readme and expanded with other callbacks which were not included
  luxonis_train/callbacks/README.md
Labels: documentation

small fix on config smart populate
  luxonis_train/config/config.py
Labels: none
