Repository luxonis/luxonis-train, changes with the labels that .github/labeler.yaml gives for each.
All labels: DevOps, CLI, documentation

.github/labeler.yaml:

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/*'
  - head-branch:
    - 'test/*'
    - 'tests/*'

DevOps:
  - changed-files:
    - any-glob-to-any-file: '.github/*'

CLI:
  - changed-files:
    - any-glob-to-any-file: '**/__main__.py'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'

fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'

align num of logged images
  tests/integration/test_mlflow_logging.py
Labels: none

Faster Loader (#224)
  luxonis_train/core/core.py
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: none

add warning
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

Smarter Image Logging (#226)
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/lightning/utils.py
  tests/integration/test_mlflow_logging.py
Labels: none

link to examples
  README.md
Labels: documentation

Link To Examples (#228)
  README.md
Labels: documentation

fix update_mode
  luxonis_train/loaders/README.md
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: documentation

add missing if
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

fixed ci
  .github/workflows/ci.yaml
Labels: none

switched conditions
  .github/workflows/ci.yaml
Labels: none

fixed installed package
  .github/workflows/ci.yaml
Labels: none

CI: Fixed package version in config test (#230)
  .github/workflows/ci.yaml
Labels: none

make tests.yaml reusable
  .github/workflows/tests.yaml
Labels: none

dropdown fields
  .github/workflows/tests.yaml
Labels: none

minor fix
  .github/workflows/tests.yaml
Labels: none

fixed cli meta app
  pyproject.toml
Labels: none

Make tests.yaml a reusable workflow (#231)
  .github/workflows/tests.yaml
Labels: none

remove github.event.inputs.ml_ref
  .github/workflows/tests.yaml
Labels: none

Fix `update_mode` (#229)
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/loaders/README.md
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: documentation

add train_ref
  .github/workflows/tests.yaml
Labels: none

add shell: bash
  .github/workflows/tests.yaml
Labels: none

add secrets
  .github/workflows/tests.yaml
Labels: none

fix working dir
  .github/workflows/tests.yaml
Labels: none

fix failing test
  .github/workflows/tests.yaml
Labels: none

fix unfreeze after
  configs/README.md
  luxonis_train/callbacks/training_manager.py
  luxonis_train/config/config.py
  luxonis_train/lightning/utils.py
Labels: documentation

tests
  tests/integration/test_simple.py
Labels: none

minor fixes
  .github/workflows/tests.yaml
Labels: none

fix semgrep
  .github/workflows/tests.yaml
Labels: none

minor fix
  .github/workflows/tests.yaml
Labels: none

fix requirements.txt
  requirements.txt
Labels: none

Fix tests.yaml (#233)
  .github/workflows/tests.yaml
Labels: none

remove GPUStatsMonitor
  tests/integration/test_mlflow_logging.py
Labels: none

Fix requirements.txt (#235)
  requirements.txt
  tests/integration/test_mlflow_logging.py
Labels: none

Add `lr_after_unfreeze` (#234)
  configs/README.md
  luxonis_train/callbacks/training_manager.py
  luxonis_train/config/config.py
  luxonis_train/lightning/utils.py
  tests/integration/test_simple.py
Labels: documentation

cast to float
  luxonis_train/attached_modules/visualizers/classification_visualizer.py
Labels: none

test_precision_fallback_to_bf16_on_cpu
  tests/integration/test_simple.py
Labels: none

Test Fallback to bf16 on CPU (#236)
  luxonis_train/attached_modules/visualizers/classification_visualizer.py
  tests/integration/test_simple.py
Labels: none

list of sources
  luxonis_train/__main__.py
Labels: CLI

removed logging
  luxonis_train/__main__.py
Labels: CLI

Fix: CLI `--source` argument (#232)
  pyproject.toml
Labels: none
