Repository luxonis/luxonis-train, changes with the labels that .github/labeler.yaml gives for each.
All labels: DevOps, CLI, documentation

Fix pre-commit related issue (known bug with conda)
  .pre-commit-config.yaml
  tests/unittests/test_metrics/test_segmentation_metrics.py
Labels: none

fix logging, add tests
  luxonis_train/lightning/luxonis_lightning.py
  requirements.txt
  tests/integration/test_mlflow_logging.py
Labels: none

delete temp_dir after tests
  tests/integration/test_mlflow_logging.py
Labels: none

add comment, fix typo
  configs/README.md
  tests/integration/test_mlflow_logging.py
Labels: documentation

Add two new segmentation related metrics, DiceCoefficient and MIoU (#219)
  .pre-commit-config.yaml
  luxonis_train/attached_modules/metrics/__init__.py
  luxonis_train/attached_modules/metrics/dice_coefficient.py
  luxonis_train/attached_modules/metrics/mean_iou.py
  luxonis_train/nodes/backbones/efficientvit/blocks.py
  luxonis_train/nodes/blocks/blocks.py
  tests/unittests/test_metrics/test_segmentation_metrics.py
Labels: none

mlflow tests (#218)
  configs/README.md
  luxonis_train/callbacks/luxonis_progress_bar.py
  luxonis_train/lightning/luxonis_lightning.py
  tests/integration/test_mlflow_logging.py
Labels: documentation

incomplete info fix
  luxonis_train/__main__.py
Labels: CLI

fix exporter, docs
  configs/README.md
  luxonis_train/__main__.py
  luxonis_train/core/core.py
Labels: CLI, documentation

fix logging
  luxonis_train/core/core.py
Labels: none

torchmetrics fix
  requirements.txt
Labels: none

torchmetrics fix
  requirements.txt
Labels: none

Force correct torchmetrics version
  .github/workflows/tests.yaml
Labels: none

revert back to original tests.yaml
  .github/workflows/tests.yaml
Labels: none

fix requirements
  requirements.txt
Labels: none

fix tests
  tests/integration/test_cli_commands.py
Labels: none

fix tests
  tests/integration/test_remove_on_export.py
  tests/integration/test_simple.py
Labels: none

get_mlflow_logging_keys
  luxonis_train/core/core.py
  luxonis_train/lightning/luxonis_lightning.py
  tests/integration/test_mlflow_logging.py
Labels: none

Fix Export Save Path (#220)
  configs/README.md
  luxonis_train/__main__.py
  luxonis_train/core/core.py
  requirements.txt
  tests/integration/test_cli_commands.py
  tests/integration/test_remove_on_export.py
  tests/integration/test_simple.py
Labels: CLI, documentation

tuner fixes
  configs/README.md
  luxonis_train/config/config.py
  luxonis_train/core/core.py
Labels: documentation

csv logger info
  luxonis_train/core/core.py
Labels: none

fix failing docstrings
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/metrics/base_metric.py
Labels: none

Release v0.3.5
  luxonis_train/__init__.py
Labels: none

Fix failing docstrings (#222)
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/metrics/base_metric.py
Labels: none

add docstring
  luxonis_train/core/core.py
Labels: none

Fix/tuner issues (#221)
  configs/README.md
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  luxonis_train/lightning/luxonis_lightning.py
  tests/integration/test_mlflow_logging.py
Labels: documentation

Release v0.3.5 (#223)
  luxonis_train/__init__.py
Labels: none

faster loading
  luxonis_train/core/core.py
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: none

align with luxonis-ml
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/loaders/luxonis_loader_torch.py
  tests/integration/conftest.py
  tests/integration/test_mlflow_logging.py
Labels: none

smarter img logging
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/lightning/utils.py
Labels: none

fix double norm
  luxonis_train/config/config.py
Labels: none

fix model dump
  luxonis_train/config/config.py
Labels: none

serialize_model
  luxonis_train/config/config.py
Labels: none

test_config_dump
  tests/integration/test_model_config.py
Labels: none

fix typo
  tests/integration/test_model_config.py
Labels: none

use .dict()
  tests/integration/test_model_config.py
Labels: none

small fix
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

Prevent Double Norm (#227)
  luxonis_train/config/config.py
  tests/integration/test_model_config.py
Labels: none

remove redundant code
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

Align with Luxonis-ML Push/Pull/Clone/Merge (#225)
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/loaders/luxonis_loader_torch.py
  tests/integration/conftest.py
  tests/integration/test_mlflow_logging.py
Labels: none

minor fix
  luxonis_train/core/core.py
Labels: none

.github/labeler.yaml:

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/*'
  - head-branch:
    - 'test/*'
    - 'tests/*'

DevOps:
  - changed-files:
    - any-glob-to-any-file: '.github/*'

CLI:
  - changed-files:
    - any-glob-to-any-file: '**/__main__.py'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'

fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'
