Repository luxonis/luxonis-train, changes with the labels that .github/labeler.yaml gives for each.
All labels: DevOps, CLI, documentation

fix tests
  tests/configs/config_simple.yaml
Labels: none

fixed tests
  tests/integration/test_cli_commands.py
Labels: none

fix tests
  tests/integration/test_cli_commands.py
Labels: none

CLI: Multiple `--source` paths (#237)
  luxonis_train/__init__.py
  luxonis_train/__main__.py
  tests/configs/config_simple.yaml
  tests/integration/conftest.py
  tests/integration/test_cli_commands.py
Labels: CLI

free disk space
  .github/workflows/tests.yaml
Labels: none

download cifar10 from bucket
  tests/integration/conftest.py
Labels: none

fix pre-commit
  tests/integration/conftest.py
Labels: none

casting path to str
  tests/integration/test_cli_commands.py
Labels: none

fix tests
  tests/integration/test_cli_commands.py
Labels: none

pytest debug flags
  .github/workflows/tests.yaml
Labels: none

restore
  .github/workflows/tests.yaml
Labels: none

fixed bom
  .github/workflows/tests.yaml
Labels: none

gpu ubuntu runner
  .github/workflows/tests.yaml
Labels: none

Free Disk Space (#244)
  .github/workflows/tests.yaml
  tests/integration/conftest.py
Labels: none

updated runner
  .github/workflows/tests.yaml
Labels: none

Fixed failing BOM tests (#245)
  .github/workflows/tests.yaml
  tests/integration/test_cli_commands.py
Labels: none

updated requirements.txt
  requirements.txt
Labels: none

Release v0.3.6 (#238)
  .github/workflows/python-publish.yaml
  luxonis_train/__init__.py
  requirements.txt
Labels: none

one return
  luxonis_train/lightning/utils.py
Labels: none

fix lr_scheduler_config
  luxonis_train/lightning/utils.py
Labels: none

type check fixes
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/lightning/utils.py
  luxonis_train/strategies/base_strategy.py
Labels: none

Add `GRAY` color-space, `ReduceLROnPlateau` (#239)
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/lightning/utils.py
  luxonis_train/loaders/__init__.py
  luxonis_train/loaders/base_loader.py
  luxonis_train/loaders/utils.py
  luxonis_train/strategies/base_strategy.py
  tests/integration/multi_input_modules.py
  tests/integration/test_scheduler.py
  tests/unittests/test_loaders/test_base_loader.py
Labels: none

fix docs
  luxonis_train/loaders/README.md
Labels: documentation

Improved logging to the file
  luxonis_train/callbacks/luxonis_progress_bar.py
Labels: none

merged redundant code
  luxonis_train/callbacks/luxonis_progress_bar.py
Labels: none

fix skipped logging
  luxonis_train/callbacks/luxonis_progress_bar.py
Labels: none

logging model summary
  luxonis_train/callbacks/__init__.py
  luxonis_train/callbacks/rich_model_summary.py
  luxonis_train/lightning/utils.py
Labels: none

removed unused imports
  luxonis_train/callbacks/rich_model_summary.py
Labels: none

Improved logging to the file (#246)
  luxonis_train/callbacks/__init__.py
  luxonis_train/callbacks/luxonis_progress_bar.py
  luxonis_train/callbacks/rich_model_summary.py
  luxonis_train/lightning/utils.py
Labels: none

small fix
  luxonis_train/loaders/README.md
Labels: documentation

log n images per head
  configs/README.md
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/lightning/utils.py
Labels: documentation

Log `n_log_images` Per Head Instead of Globally (#248)
  configs/README.md
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/lightning/utils.py
Labels: documentation

Small documentation fix (#247)
  luxonis_train/loaders/README.md
Labels: documentation

pre-commit
  luxonis_train/nodes/blocks/__init__.py
Labels: none

fix types
  luxonis_train/__main__.py
  luxonis_train/config/config.py
  luxonis_train/core/core.py
Labels: CLI

weights downloading
  luxonis_train/config/predefined_models/detection_model.py
  luxonis_train/config/predefined_models/keypoint_detection_model.py
  luxonis_train/config/predefined_models/segmentation_model.py
Labels: none

type fixes
  luxonis_train/core/utils/export_utils.py
  luxonis_train/lightning/utils.py
  luxonis_train/loaders/luxonis_perlin_loader_torch.py
Labels: none

weights loading
  luxonis_train/nodes/base_node.py
Labels: none

doc format
  luxonis_train/nodes/backbones/efficientrep/efficientrep.py
Labels: none

improve docs
  examples/README.md
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/metrics/README.md
  luxonis_train/attached_modules/visualizers/README.md
Labels: documentation

.github/labeler.yaml:

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/*'
  - head-branch:
    - 'test/*'
    - 'tests/*'

DevOps:
  - changed-files:
    - any-glob-to-any-file: '.github/*'

CLI:
  - changed-files:
    - any-glob-to-any-file: '**/__main__.py'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'

fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'
