Repository luxonis/luxonis-train, changes with the labels that .github/labeler.yaml gives for each.
All labels: DevOps, CLI, documentation

.github/labeler.yaml:

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/*'
  - head-branch:
    - 'test/*'
    - 'tests/*'

DevOps:
  - changed-files:
    - any-glob-to-any-file: '.github/*'

CLI:
  - changed-files:
    - any-glob-to-any-file: '**/__main__.py'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'

fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'

Add `bbox_area_threshold` and `min_bbox_visibility` to `LuxonisTorchLoader` (#261)
  luxonis_train/core/core.py
  luxonis_train/loaders/README.md
  luxonis_train/loaders/base_loader.py
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: documentation

Release v0.3.8
  luxonis_train/__init__.py
  requirements.txt
Labels: none

option to disable rich
  luxonis_train/callbacks/luxonis_progress_bar.py
  luxonis_train/callbacks/rich_model_summary.py
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  luxonis_train/lightning/utils.py
  luxonis_train/utils/logging.py
Labels: none

formatting
  luxonis_train/callbacks/luxonis_progress_bar.py
Labels: none

renamed
  luxonis_train/callbacks/__init__.py
  luxonis_train/callbacks/luxonis_model_summary.py
Labels: none

renamed
  luxonis_train/lightning/utils.py
Labels: none

fix config tests
  luxonis_train/config/config.py
Labels: none

docs
  configs/README.md
Labels: documentation

Feature: Disable `rich` logging (#263)
  configs/README.md
  luxonis_train/callbacks/__init__.py
  luxonis_train/callbacks/luxonis_model_summary.py
  luxonis_train/callbacks/luxonis_progress_bar.py
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  luxonis_train/lightning/utils.py
  luxonis_train/utils/logging.py
Labels: documentation

Release v0.3.8 (#262)
  luxonis_train/__init__.py
  requirements.txt
Labels: none

re-export checkpoint
  luxonis_train/__main__.py
  luxonis_train/core/core.py
Labels: CLI

sanitazing
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

weights migration
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/nodes/base_node.py
Labels: none

Custom checkpoint (#258)
  .pre-commit-config.yaml
  luxonis_train/__main__.py
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/lightning/utils.py
  luxonis_train/utils/dataset_metadata.py
  tests/files/execution_order.json
  tests/integration/parking_lot.json
  tests/integration/test_simple.py
Labels: CLI

typing fix
  luxonis_train/callbacks/gradcam_visualizer.py
  luxonis_train/callbacks/luxonis_model_summary.py
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/loaders/base_loader.py
  luxonis_train/nodes/heads/base_head.py
  luxonis_train/nodes/heads/ddrnet_segmentation_head.py
  luxonis_train/nodes/heads/efficient_bbox_head.py
  luxonis_train/utils/annotation.py
  luxonis_train/utils/spatial_transforms.py
Labels: none

device
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

feat: add class_order_per_task param to the loader
  luxonis_train/loaders/README.md
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: documentation

fix docs
  luxonis_train/nodes/README.md
Labels: documentation

docs: remove permanent overwriting
  luxonis_train/loaders/README.md
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: documentation

fix
  luxonis_train/nodes/backbones/efficientvit/blocks.py
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/blocks/blocks.py
  luxonis_train/nodes/blocks/reparametrizable.py
  tests/integration/test_unsupervised_anomaly_detection.py
Labels: none

type fix
  luxonis_train/nodes/blocks/unet.py
Labels: none

updated pre-commit
  .pre-commit-config.yaml
Labels: none

chore: small update in the tutorial links
  README.md
Labels: documentation

fix tests
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

updated gitignore
  .gitignore
Labels: none

simplified ghostnet
  luxonis_train/nodes/backbones/ghostfacenet/blocks.py
  luxonis_train/nodes/backbones/ghostfacenet/ghostfacenet.py
  tests/integration/test_embeddings.py
Labels: none

cleanup micronet
  luxonis_train/nodes/backbones/micronet/blocks.py
  luxonis_train/nodes/backbones/micronet/micronet.py
Labels: none

option to download weights from s3 or gcs
  luxonis_train/utils/general.py
Labels: none

fixed url for tests
  luxonis_train/nodes/base_node.py
Labels: none

gcs support
  luxonis_train/utils/general.py
Labels: none

fix cv2.destroyAllWindows() bug
  luxonis_train/core/utils/infer_utils.py
Labels: none

fix tests
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/loaders/base_loader.py
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: none

feat: add use_balanced_image_logging param
  configs/README.md
  luxonis_train/config/config.py
  luxonis_train/lightning/luxonis_lightning.py
Labels: documentation

align with albumentations engine
  luxonis_train/loaders/luxonis_perlin_loader_torch.py
Labels: none

Fix `cv2.destroyAllWindows()` bug (#268)
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/loaders/base_loader.py
  luxonis_train/loaders/luxonis_loader_torch.py
  luxonis_train/loaders/luxonis_perlin_loader_torch.py
Labels: none

Mention Working `opset_version` for `EfficientViT` in README (#266)
  README.md
  luxonis_train/nodes/README.md
Labels: documentation

fix non balanced class logging issue
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/lightning/utils.py
Labels: none

add docs, tests
  luxonis_train/lightning/utils.py
  tests/integration/test_smart_logging.py
Labels: none

fix 9 -> 8
  tests/integration/test_smart_logging.py
Labels: none

fix tests
  luxonis_train/loaders/luxonis_loader_torch.py
  requirements-dev.txt
Labels: none
