Repository luxonis/luxonis-train, changes with the labels that .github/labeler.yaml gives for each.
All labels: DevOps, CLI, documentation

pyright errors with nparray fix
  tests/integration/test_export_unique_identifiers.py
Labels: none

Initializers that are used only once dont have appended unique id
  luxonis_train/core/utils/export_utils.py
  tests/integration/test_export_unique_identifiers.py
Labels: none

Now as part of config instead of method
  configs/README.md
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  tests/integration/test_export_input_output_identifiers.py
  tests/integration/test_export_unique_identifiers.py
Labels: documentation

Changes for now implementing BatchSizeFinder callback
  configs/detection_light_model.yaml
  luxonis_train/callbacks/README.md
  luxonis_train/callbacks/__init__.py
Labels: documentation

inherited batch size finder
  luxonis_train/callbacks/batch_size_finder.py
Labels: none

TrainingProgressCallback for epoch-specific metrics
  luxonis_train/callbacks/README.md
  luxonis_train/callbacks/__init__.py
  luxonis_train/callbacks/training_progress_callback.py
  luxonis_train/lightning/luxonis_lightning.py
  tests/integration/test_callbacks.py
  tests/integration/test_mlflow_logging.py
Labels: documentation

small change message
  luxonis_train/callbacks/training_progress_callback.py
Labels: none

Precommit
  luxonis_train/callbacks/README.md
  luxonis_train/callbacks/training_progress_callback.py
Labels: documentation

Fix broken docstring
  luxonis_train/callbacks/training_progress_callback.py
Labels: none

Separate warnings and returns for each problem
  luxonis_train/callbacks/training_progress_callback.py
Labels: none

remove batch arg name and example in the docs
  luxonis_train/callbacks/README.md
  luxonis_train/callbacks/batch_size_finder.py
Labels: documentation

trainer.logger
  luxonis_train/callbacks/training_progress_callback.py
  tests/integration/test_mlflow_logging.py
Labels: none

remove mention of MlFlow specific in docs
  luxonis_train/callbacks/README.md
Labels: documentation

batch size coment
  luxonis_train/callbacks/batch_size_finder.py
Labels: none

Changes to account for epoch_completion_sec
  luxonis_train/callbacks/README.md
  luxonis_train/callbacks/training_progress_callback.py
  luxonis_train/lightning/luxonis_lightning.py
  tests/integration/test_mlflow_logging.py
Labels: documentation

TrainingProgressCallback for epoch-specific metrics (#336)
  luxonis_train/callbacks/README.md
  luxonis_train/callbacks/__init__.py
  luxonis_train/callbacks/training_progress_callback.py
  luxonis_train/lightning/luxonis_lightning.py
  tests/integration/test_callbacks.py
  tests/integration/test_mlflow_logging.py
Labels: documentation

updated pre-commit versions
  .pre-commit-config.yaml
Labels: none

Optional (default False) pass for per-block unique identifiers (#335)
  configs/README.md
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  luxonis_train/core/utils/export_utils.py
  tests/integration/test_export_input_output_identifiers.py
  tests/integration/test_export_unique_identifiers.py
Labels: documentation

Initial work for HubAI conversion and replacing ArchiveOnTrainEnd and ExportOnTrainEnd with ConvertOnTrainEnd
  configs/README.md
  luxonis_train/callbacks/README.md
  luxonis_train/callbacks/__init__.py
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  luxonis_train/core/utils/export_utils.py
Labels: documentation

CLI command, tests, more precise calling and cleaning up
  .github/workflows/ci.yaml
  .github/workflows/tests.yaml
  configs/complex_model.yaml
  configs/detection_heavy_model.yaml
  configs/detection_light_model.yaml
  configs/fomo_heavy_model.yaml
  configs/fomo_light_model.yaml
  configs/instance_segmentation_heavy_model.yaml
  configs/instance_segmentation_light_model.yaml
  configs/keypoint_bbox_heavy_model.yaml
  configs/keypoint_bbox_light_model.yaml
  configs/ocr_recognition_light_model.yaml
  configs/segmentation_heavy_model.yaml
  configs/segmentation_light_model.yaml
  luxonis_train/__main__.py
  luxonis_train/config/config.py
  luxonis_train/core/utils/export_utils.py
  requirements.txt
  tests/conftest.py
  tests/integration/test_callbacks.py
  tests/integration/test_cli_commands.py
  tests/integration/test_mlflow_logging.py
Labels: CLI

Additional integration test for convert function separately, fixes
  tests/conftest.py
  tests/integration/test_convert.py
Labels: none

Fixes to tests, RVC2 is default if no platform is specified
  luxonis_train/core/utils/export_utils.py
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

bring back older callbacks to callback test
  tests/integration/test_callbacks.py
Labels: none

make things clearer by renaming data_type to target_precision
  luxonis_train/core/core.py
  luxonis_train/core/utils/export_utils.py
Labels: none

Actually add the ConvertOnTrainEnd callback
  luxonis_train/callbacks/convert_on_train_end.py
Labels: none

pre-commit
  luxonis_train/callbacks/convert_on_train_end.py
Labels: none

Hailo pass RANDOM if quantization_data is not present
  luxonis_train/core/utils/export_utils.py
Labels: none

Skip hailo tests and load_dotenv for local tests that need hubai_api_key
  luxonis_train/core/core.py
  requirements-dev.txt
  tests/conftest.py
  tests/integration/test_convert.py
Labels: none

Test that ConvertOnTrainEnd deactivates ExportOnTrainEnd and ArchiveOnTrainEnd
  configs/README.md
  luxonis_train/core/core.py
  luxonis_train/core/utils/export_utils.py
  requirements.txt
  tests/unittests/test_config.py
Labels: documentation

legacy conversion warning
  configs/README.md
Labels: documentation

Fix tests, model/variant conditional upload, delete remote model is now a parameter and by default is False
  configs/README.md
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  luxonis_train/core/utils/export_utils.py
  tests/unittests/test_config.py
Labels: documentation

Proper flow and model -> variant -> version uploads
  configs/README.md
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  luxonis_train/core/utils/export_utils.py
  requirements-dev.txt
  tests/conftest.py
Labels: documentation

get_variants override in dinov3 backbone
  luxonis_train/nodes/backbones/dinov3/dinov3.py
Labels: none

Fix: get_variants override in dinov3 backbone (#338)
  luxonis_train/nodes/backbones/dinov3/dinov3.py
Labels: none

updated quantization_mode alias with the different types added like INT8_INT16_MIXED
  configs/README.md
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  luxonis_train/core/utils/export_utils.py
  tests/integration/test_convert.py
Labels: documentation

blobconverter proper types and add shorthand map for shorter quantization_mode
  luxonis_train/config/config.py
  luxonis_train/core/utils/export_utils.py
Labels: none

Stop hardcoding literal for conversion precision, remove hailo, stop training bar before converting
  luxonis_train/callbacks/convert_on_train_end.py
  luxonis_train/config/config.py
  luxonis_train/core/utils/export_utils.py
Labels: none

PyRight for progress bar stop
  luxonis_train/callbacks/convert_on_train_end.py
Labels: none

Remove mention of Hailo in code (with TODO added), add space to warning
  configs/README.md
  luxonis_train/__main__.py
  luxonis_train/core/core.py
  luxonis_train/core/utils/export_utils.py
Labels: CLI, documentation

Add note about models variants and versions with link to doc
  configs/README.md
Labels: documentation

.github/labeler.yaml:

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/*'
  - head-branch:
    - 'test/*'
    - 'tests/*'

DevOps:
  - changed-files:
    - any-glob-to-any-file: '.github/*'

CLI:
  - changed-files:
    - any-glob-to-any-file: '**/__main__.py'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'

fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'
