Repository luxonis/luxonis-train, changes with the labels that .github/labeler.yaml gives for each.
All labels: DevOps, CLI, documentation

fix multiple heads/visualizers case
  luxonis_train/lightning/utils.py
Labels: none

Option to download weights from s3 or gcs (#267)
  luxonis_train/loaders/luxonis_loader_torch.py
  luxonis_train/utils/general.py
  requirements-dev.txt
Labels: none

fix multi-head logging bug
  luxonis_train/lightning/utils.py
  tests/integration/test_smart_logging.py
Labels: none

add img without annotations to dataset
  tests/integration/test_smart_logging.py
Labels: none

fixed type errors
  luxonis_train/__main__.py
  luxonis_train/loaders/luxonis_loader_torch.py
  luxonis_train/loaders/luxonis_perlin_loader_torch.py
  tests/integration/test_simple.py
Labels: CLI

updated ci
  .github/workflows/ci.yaml
Labels: none

test with multiple tasks
  luxonis_train/lightning/luxonis_lightning.py
  tests/integration/test_smart_logging.py
Labels: none

supports for different task_names's
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/lightning/utils.py
  tests/integration/test_smart_logging.py
Labels: none

supports for different task_names's
  tests/integration/test_smart_logging.py
Labels: none

fix comment
  tests/integration/test_smart_logging.py
Labels: none

explicit background add
  tests/integration/test_smart_logging.py
Labels: none

fix: class ordering changed in dataset
  luxonis_train/loaders/README.md
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: documentation

fix: handle None value in class_order_per_task
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: none

fix inspect
  luxonis_train/__main__.py
Labels: CLI

tests
  luxonis_train/__main__.py
  tests/integration/test_cli_commands.py
Labels: CLI

simplified
  luxonis_train/nodes/backbones/mobileone/mobileone.py
Labels: none

simplified pplcnet
  luxonis_train/nodes/backbones/pplcnet_v3/blocks.py
  luxonis_train/nodes/backbones/pplcnet_v3/pplcnet_v3.py
Labels: none

fix bug
  luxonis_train/nodes/blocks/blocks.py
Labels: none

fix
  luxonis_train/nodes/backbones/mobileone/mobileone.py
Labels: none

formatting
  luxonis_train/nodes/heads/fomo_head.py
Labels: none

cleanup heads
  luxonis_train/nodes/heads/base_detection_head.py
  luxonis_train/nodes/heads/efficient_bbox_head.py
  luxonis_train/nodes/heads/efficient_keypoint_bbox_head.py
  luxonis_train/nodes/heads/fomo_head.py
  luxonis_train/nodes/heads/ghostfacenet_head.py
  luxonis_train/nodes/heads/ocr_ctc_head.py
  luxonis_train/nodes/heads/precision_bbox_head.py
  luxonis_train/nodes/heads/segmentation_head.py
  luxonis_train/nodes/necks/reppan_neck/reppan_neck.py
Labels: none

test fix
  tests/unittests/test_losses/test_ctc_loss.py
Labels: none

fixed tests
  luxonis_train/nodes/heads/ocr_ctc_head.py
  tests/unittests/test_losses/test_ctc_loss.py
Labels: none

faster segmentation tests
  tests/integration/test_segmentation.py
Labels: none

fix weights
  luxonis_train/nodes/backbones/efficientnet.py
  luxonis_train/nodes/backbones/mobilenetv2.py
  luxonis_train/nodes/backbones/resnet.py
  luxonis_train/nodes/base_node.py
  tests/configs/segmentation_parse_loader.yaml
  tests/integration/test_simple.py
Labels: none

Fix: CLI inspect (#271)
  luxonis_train/__main__.py
  tests/integration/test_cli_commands.py
Labels: CLI

fix tests
  tests/integration/test_simple.py
Labels: none

updated pyproject
  pyproject.toml
Labels: none

type fixes
  .github/workflows/ci.yaml
  luxonis_train/attached_modules/metrics/confusion_matrix/fomo_confusion_matrix.py
  luxonis_train/attached_modules/metrics/confusion_matrix/recognition_confusion_matrix.py
  luxonis_train/attached_modules/metrics/torchmetrics.py
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  luxonis_train/core/utils/export_utils.py
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/lightning/utils.py
  luxonis_train/loaders/base_loader.py
  luxonis_train/loaders/luxonis_loader_torch.py
  luxonis_train/loaders/luxonis_perlin_loader_torch.py
  luxonis_train/nodes/backbones/efficientrep/efficientrep.py
  luxonis_train/nodes/heads/base_head.py
  luxonis_train/nodes/heads/efficient_bbox_head.py
  luxonis_train/nodes/heads/precision_bbox_head.py
  luxonis_train/nodes/necks/reppan_neck/reppan_neck.py
  luxonis_train/nodes/necks/svtr_neck/blocks.py
  luxonis_train/utils/annotation.py
  luxonis_train/utils/spatial_transforms.py
Labels: none

fix: use the best checkpoint in TestOnTrainEnd callback
  luxonis_train/callbacks/test_on_train_end.py
Labels: none

Ensure Full Quota of Validation Visualizations Despite Class Imbalance (#270)
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/lightning/utils.py
  tests/integration/test_smart_logging.py
Labels: none

updated ci
  .github/workflows/ci.yaml
Labels: none

fix
  .github/workflows/ci.yaml
Labels: none

fix test typing
  .github/workflows/ci.yaml
  luxonis_train/core/core.py
  pyproject.toml
  tests/integration/test_simple.py
  tests/integration/test_splits.py
  tests/unittests/test_loaders/test_base_loader.py
  tests/unittests/test_losses/test_adaptive_detection_loss.py
  tests/unittests/test_losses/test_efficient_keypoint_bbox_loss.py
  tests/unittests/test_losses/test_embedding_losses.py
  tests/unittests/test_losses/test_precision_dfl_detection_loss.py
  tests/unittests/test_losses/test_precision_dfl_segmentation_loss.py
  tests/unittests/test_metrics/test_ocr_accuracy.py
  tests/unittests/test_visualizers/test_ocr_visualizer.py
Labels: none

fix typos
  luxonis_train/attached_modules/visualizers/utils.py
  luxonis_train/nodes/backbones/efficientrep/efficientrep.py
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/blocks/blocks.py
  luxonis_train/nodes/necks/reppan_neck/reppan_neck.py
  luxonis_train/utils/annotation.py
  luxonis_train/utils/dataset_metadata.py
  luxonis_train/utils/general.py
Labels: none

fix ci
  .github/workflows/ci.yaml
Labels: none

updated fixtures
  tests/integration/test_simple.py
Labels: none

custom tune storage url
  configs/README.md
  luxonis_train/config/config.py
  luxonis_train/core/core.py
Labels: documentation

test
  tests/integration/test_simple.py
Labels: none

improved docs
  configs/README.md
Labels: documentation

.github/labeler.yaml:

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/*'
  - head-branch:
    - 'test/*'
    - 'tests/*'

DevOps:
  - changed-files:
    - any-glob-to-any-file: '.github/*'

CLI:
  - changed-files:
    - any-glob-to-any-file: '**/__main__.py'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'

fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'
