Repository luxonis/luxonis-train, changes with the labels that .github/labeler.yaml gives for each.
All labels: DevOps, CLI, documentation

fixed fixtures
  tests/integration/conftest.py
  tests/integration/test_simple.py
Labels: none

updated variant API for nodes
  luxonis_train/nodes/backbones/ddrnet/ddrnet.py
  luxonis_train/nodes/backbones/efficientrep/efficientrep.py
  luxonis_train/nodes/backbones/efficientvit/efficientvit.py
  luxonis_train/nodes/backbones/ghostfacenet/ghostfacenet.py
  luxonis_train/nodes/backbones/micronet/micronet.py
  luxonis_train/nodes/backbones/mobileone/mobileone.py
  luxonis_train/nodes/backbones/pplcnet_v3/pplcnet_v3.py
  luxonis_train/nodes/backbones/recsubnet/recsubnet.py
  luxonis_train/nodes/backbones/repvgg/repvgg.py
  luxonis_train/nodes/backbones/resnet.py
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/heads/discsubnet_head/discsubnet_head.py
  luxonis_train/nodes/necks/reppan_neck/reppan_neck.py
Labels: none

fix tests
  tests/configs/segmentation_parse_loader.yaml
  tests/integration/conftest.py
  tests/integration/test_cli_commands.py
  tests/integration/test_remove_on_export.py
  tests/integration/test_simple.py
  tests/integration/test_unsupervised_anomaly_detection.py
Labels: none

simple predefined models
  luxonis_train/config/config.py
  luxonis_train/config/predefined_models/anomaly_detection_model.py
  luxonis_train/config/predefined_models/base_predefined_model.py
  luxonis_train/config/predefined_models/classification_model.py
  luxonis_train/config/predefined_models/detection_fomo_model.py
  luxonis_train/config/predefined_models/detection_model.py
  luxonis_train/config/predefined_models/instance_segmentation_model.py
  luxonis_train/config/predefined_models/keypoint_detection_model.py
  luxonis_train/config/predefined_models/ocr_recognition_model.py
  luxonis_train/config/predefined_models/segmentation_model.py
Labels: none

fix strict loading
  luxonis_train/nodes/heads/ddrnet_segmentation_head.py
  luxonis_train/nodes/heads/efficient_bbox_head.py
Labels: none

updated old configs
  configs/anomaly_detection_model.yaml
  configs/classification_heavy_model.yaml
  configs/classification_light_model.yaml
  configs/detection_heavy_model.yaml
  configs/detection_light_model.yaml
  configs/example_export.yaml
  configs/example_tuning.yaml
  configs/fomo_heavy_model.yaml
  configs/fomo_light_model.yaml
  configs/instance_segmentation_heavy_model.yaml
  configs/instance_segmentation_light_model.yaml
  configs/keypoint_bbox_heavy_model.yaml
  configs/keypoint_bbox_light_model.yaml
  configs/ocr_recognition_light_model.yaml
  configs/segmentation_heavy_model.yaml
  configs/segmentation_light_model.yaml
  luxonis_train/config/config.py
Labels: none

fix
  luxonis_train/core/utils/annotate_utils.py
Labels: none

Feat: Annotate Directory of Images (#243)
  README.md
  luxonis_train/__main__.py
  luxonis_train/attached_modules/visualizers/__init__.py
  luxonis_train/attached_modules/visualizers/segmentation_visualizer.py
  luxonis_train/attached_modules/visualizers/utils.py
  luxonis_train/config/predefined_models/README.md
  luxonis_train/core/core.py
  luxonis_train/core/utils/annotate_utils.py
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/nodes/heads/base_head.py
  luxonis_train/nodes/heads/precision_bbox_head.py
  luxonis_train/nodes/heads/precision_seg_bbox_head.py
  luxonis_train/utils/__init__.py
  luxonis_train/utils/annotation.py
  luxonis_train/utils/segmentation.py
  luxonis_train/utils/spatial_transforms.py
  tests/integration/test_simple.py
Labels: CLI, documentation

migration tool
  tools/Dockerfile
  tools/__init__.py
  tools/generate_execution_order.py
  tools/migrate.sh
  tools/migrate_weights.py
  tools/run.sh
Labels: none

fixed variant config
  luxonis_train/config/config.py
Labels: none

debug mode
  luxonis_train/__main__.py
  luxonis_train/core/core.py
  luxonis_train/loaders/__init__.py
  luxonis_train/loaders/dummy_loader.py
Labels: CLI

tests
  luxonis_train/core/core.py
  luxonis_train/loaders/__init__.py
  luxonis_train/loaders/debug_loader.py
  tests/integration/test_simple.py
Labels: none

n_keypoints handling
  luxonis_train/core/core.py
  luxonis_train/loaders/debug_loader.py
Labels: none

fix
  luxonis_train/attached_modules/metrics/mean_average_precision/mean_average_precision_keypoints.py
Labels: none

Update core.py
  luxonis_train/core/core.py
Labels: none

Update debug_loader.py
  luxonis_train/loaders/debug_loader.py
Labels: none

Feature: Debug Mode (Loader) (#256)
  luxonis_train/__main__.py
  luxonis_train/attached_modules/metrics/mean_average_precision/mean_average_precision_keypoints.py
  luxonis_train/core/core.py
  luxonis_train/loaders/__init__.py
  luxonis_train/loaders/debug_loader.py
  tests/integration/test_simple.py
Labels: CLI

Release v0.3.7
  luxonis_train/__init__.py
  requirements.txt
Labels: none

Release v0.3.7 (#257)
  luxonis_train/__init__.py
  requirements.txt
Labels: none

pre-commit
  luxonis_train/core/utils/annotate_utils.py
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/utils/spatial_transforms.py
Labels: none

saving custom data on checkpoint
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/lightning/utils.py
Labels: none

tests
  .pre-commit-config.yaml
  tests/files/execution_order.json
  tests/integration/parking_lot.json
  tests/integration/test_simple.py
Labels: none

environ exclude
  luxonis_train/config/config.py
  luxonis_train/lightning/luxonis_lightning.py
  tests/integration/test_simple.py
Labels: none

simplified
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/lightning/utils.py
Labels: none

simplified
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/utils/dataset_metadata.py
  tests/files/execution_order.json
  tests/integration/test_simple.py
Labels: none

enable blobconverter
  tests/integration/test_simple.py
Labels: none

adds back coco dataset
  tests/integration/test_simple.py
Labels: none

fix batch size
  luxonis_train/lightning/utils.py
Labels: none

fix
  luxonis_train/utils/dataset_metadata.py
Labels: none

fix tests
  luxonis_train/utils/dataset_metadata.py
Labels: none

explicit use of delete_local
  luxonis_train/core/utils/annotate_utils.py
  luxonis_train/core/utils/infer_utils.py
Labels: none

fix bug
  luxonis_train/callbacks/luxonis_progress_bar.py
  tests/unittests/test_callbacks/test_progress_bar.py
Labels: none

Correct Call of `delete_dataset` (#259)
  luxonis_train/core/utils/annotate_utils.py
  luxonis_train/core/utils/infer_utils.py
Labels: none

needs coco_test
  tests/integration/test_simple.py
  tests/unittests/test_callbacks/test_progress_bar.py
Labels: none

Fix `LuxonisRichProgressBar` (#260)
  luxonis_train/callbacks/luxonis_progress_bar.py
  tests/integration/test_simple.py
Labels: none

add bbox_area_threshold to loader
  luxonis_train/core/core.py
  luxonis_train/loaders/README.md
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: documentation

add min_bbox_visibility to loader
  luxonis_train/loaders/README.md
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: documentation

add missing comma
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: none

fix readme formatting
  luxonis_train/loaders/README.md
Labels: documentation

add seed to BaseLoaderTorch
  luxonis_train/loaders/base_loader.py
Labels: none

.github/labeler.yaml:

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/*'
  - head-branch:
    - 'test/*'
    - 'tests/*'

DevOps:
  - changed-files:
    - any-glob-to-any-file: '.github/*'

CLI:
  - changed-files:
    - any-glob-to-any-file: '**/__main__.py'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'

fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'
