Repository luxonis/luxonis-train, changes with the labels that .github/labeler.yaml gives for each.
All labels: DevOps, CLI, documentation

.github/labeler.yaml:

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/*'
  - head-branch:
    - 'test/*'
    - 'tests/*'

DevOps:
  - changed-files:
    - any-glob-to-any-file: '.github/*'

CLI:
  - changed-files:
    - any-glob-to-any-file: '**/__main__.py'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'

fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'

optional nms to export
  luxonis_train/config/predefined_models/detection_fomo_model.py
  luxonis_train/nodes/heads/fomo_head.py
Labels: none

fix export bug
  luxonis_train/nodes/heads/fomo_head.py
Labels: none

Update predefined readme with inference speed
  luxonis_train/config/predefined_models/README.md
Labels: documentation

small fixes
  luxonis_train/config/predefined_models/README.md
  luxonis_train/config/predefined_models/detection_fomo_model.py
Labels: documentation

add imgsize info
  luxonis_train/config/predefined_models/README.md
Labels: documentation

Updated predefined models README with inference speeds. (#153)
  luxonis_train/config/predefined_models/README.md
Labels: documentation

fix type issues
  README.md
  configs/README.md
  luxonis_train/attached_modules/losses/adaptive_detection_loss.py
  luxonis_train/callbacks/__init__.py
  luxonis_train/callbacks/archive_on_train_end.py
  luxonis_train/callbacks/ema.py
  luxonis_train/callbacks/gpu_stats_monitor.py
  luxonis_train/callbacks/gradcam_visializer.py
  luxonis_train/callbacks/luxonis_progress_bar.py
  luxonis_train/callbacks/metadata_logger.py
  luxonis_train/callbacks/test_on_train_end.py
  luxonis_train/callbacks/training_manager.py
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/loaders/base_loader.py
  luxonis_train/loaders/luxonis_loader_torch.py
  luxonis_train/optimizers/optimizers.py
  luxonis_train/schedulers/schedulers.py
  luxonis_train/strategies/base_strategy.py
  luxonis_train/strategies/triple_lr_sgd.py
  tests/unittests/test_callbacks/test_ema.py
Labels: documentation

replaced deprecated `register_module`
  luxonis_train/callbacks/export_on_train_end.py
  luxonis_train/callbacks/upload_checkpoint.py
Labels: none

removed init arguments
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: none

added missing types
  luxonis_train/assigners/tal_assigner.py
  luxonis_train/attached_modules/losses/adaptive_detection_loss.py
  luxonis_train/attached_modules/losses/efficient_keypoint_bbox_loss.py
  luxonis_train/attached_modules/losses/reconstruction_segmentation_loss.py
  luxonis_train/attached_modules/metrics/mean_average_precision.py
  luxonis_train/callbacks/training_manager.py
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  luxonis_train/core/utils/export_utils.py
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/nodes/backbones/ddrnet/ddrnet.py
  luxonis_train/nodes/backbones/efficientrep/efficientrep.py
  luxonis_train/nodes/backbones/mobileone/blocks.py
  luxonis_train/nodes/backbones/mobileone/mobileone.py
  luxonis_train/nodes/backbones/recsubnet/blocks.py
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/heads/efficient_bbox_head.py
  luxonis_train/nodes/necks/reppan_neck/reppan_neck.py
  luxonis_train/strategies/base_strategy.py
  luxonis_train/strategies/triple_lr_sgd.py
Labels: none

fixed anomaly detection
  luxonis_train/attached_modules/losses/reconstruction_segmentation_loss.py
  luxonis_train/core/utils/export_utils.py
  luxonis_train/loaders/base_loader.py
  luxonis_train/loaders/luxonis_loader_torch.py
  luxonis_train/loaders/luxonis_perlin_loader_torch.py
  luxonis_train/loaders/perlin.py
  luxonis_train/utils/general.py
Labels: none

converting to float
  luxonis_train/loaders/base_loader.py
Labels: none

helper function
  luxonis_train/core/core.py
  luxonis_train/loaders/base_loader.py
  luxonis_train/utils/__init__.py
  luxonis_train/utils/general.py
Labels: none

changes for latest luxonis-ml
  luxonis_train/loaders/luxonis_loader_torch.py
  luxonis_train/loaders/utils.py
Labels: none

fix predefined models
  configs/instance_segmentation_heavy_model.yaml
  configs/instance_segmentation_light_model.yaml
  luxonis_train/config/predefined_models/instance_segmentation_model.py
Labels: none

fixed tests
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/loaders/base_loader.py
  luxonis_train/models/luxonis_lightning.py
  pyproject.toml
  tests/integration/multi_input_modules.py
  tests/integration/test_scheduler.py
  tests/unittests/test_utils/test_dataset_metadata.py
Labels: none

new efficientvit backbone
  luxonis_train/nodes/README.md
  luxonis_train/nodes/backbones/__init__.py
  luxonis_train/nodes/blocks/__init__.py
  luxonis_train/nodes/blocks/blocks.py
Labels: documentation

new efficientvit backbone
  luxonis_train/nodes/backbones/efficientvit/__init__.py
  luxonis_train/nodes/backbones/efficientvit/efficientvit.py
  luxonis_train/nodes/backbones/efficientvit/variants.py
Labels: none

remove comments
  luxonis_train/nodes/backbones/efficientvit/efficientvit.py
Labels: none

add warnings
  luxonis_train/nodes/necks/reppan_neck/reppan_neck.py
Labels: none

small changes
  luxonis_train/nodes/README.md
  luxonis_train/nodes/backbones/efficientvit/blocks.py
  luxonis_train/nodes/backbones/efficientvit/efficientvit.py
  luxonis_train/nodes/blocks/__init__.py
  luxonis_train/nodes/blocks/blocks.py
Labels: documentation

fix ValueError condition
  luxonis_train/nodes/necks/reppan_neck/reppan_neck.py
Labels: none

fix ValueError condition
  luxonis_train/nodes/necks/reppan_neck/reppan_neck.py
Labels: none

fix ValueError condition
  luxonis_train/nodes/necks/reppan_neck/reppan_neck.py
Labels: none

fix failing type-check
  luxonis_train/nodes/backbones/efficientvit/blocks.py
  luxonis_train/nodes/backbones/efficientvit/efficientvit.py
Labels: none

add FPS on devices
  luxonis_train/config/predefined_models/README.md
Labels: documentation

fix ema checkpoint loading order
  luxonis_train/callbacks/ema.py
Labels: none

fix ema test
  tests/unittests/test_callbacks/test_ema.py
Labels: none

new resume_training param
  configs/README.md
  luxonis_train/__main__.py
  luxonis_train/config/config.py
  luxonis_train/core/core.py
Labels: CLI, documentation

fix type-checks
  luxonis_train/nodes/necks/reppan_neck/reppan_neck.py
Labels: none

reid fixes
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/losses/pml_loss.py
  luxonis_train/attached_modules/metrics/pml_metrics.py
  luxonis_train/attached_modules/visualizers/embeddings_visualizer.py
  luxonis_train/config/config.py
  luxonis_train/enums.py
  luxonis_train/loaders/utils.py
  luxonis_train/nodes/backbones/ghostfacenet/blocks.py
  luxonis_train/nodes/backbones/ghostfacenet/ghostfacenet.py
  luxonis_train/nodes/backbones/micronet/blocks.py
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/blocks/blocks.py
  luxonis_train/utils/dataset_metadata.py
  tests/configs/reid.yaml
  tests/integration/test_reid.py
Labels: none

renamed
  luxonis_train/attached_modules/losses/pml_loss.py
  luxonis_train/nodes/backbones/__init__.py
  luxonis_train/nodes/backbones/ghostfacenet/__init__.py
  luxonis_train/nodes/backbones/ghostfacenet/ghostfacenet.py
  tests/configs/reid.yaml
  tests/integration/test_detection.py
  tests/integration/test_segmentation.py
Labels: none

simplified
  luxonis_train/nodes/backbones/ghostfacenet/ghostfacenet.py
  luxonis_train/nodes/backbones/ghostfacenet/variants.py
Labels: none

separated head
  luxonis_train/attached_modules/losses/pml_loss.py
  luxonis_train/nodes/backbones/ghostfacenet/ghostfacenet.py
  luxonis_train/nodes/heads/__init__.py
  luxonis_train/nodes/heads/ghostfacenet_head.py
  tests/configs/reid.yaml
Labels: none

simplified
  luxonis_train/nodes/backbones/ddrnet/ddrnet.py
  luxonis_train/nodes/backbones/ghostfacenet/blocks.py
  luxonis_train/nodes/backbones/ghostfacenet/ghostfacenet.py
  luxonis_train/nodes/backbones/ghostfacenet/variants.py
  luxonis_train/nodes/backbones/micronet/blocks.py
  luxonis_train/nodes/backbones/mobileone/blocks.py
  luxonis_train/nodes/backbones/rexnetv1.py
  luxonis_train/nodes/blocks/blocks.py
  luxonis_train/nodes/heads/ghostfacenet_head.py
Labels: none

updated config
  tests/configs/reid.yaml
Labels: none

fixed docs
  luxonis_train/loaders/base_loader.py
  luxonis_train/nodes/backbones/ddrnet/blocks.py
Labels: none

small changes
  luxonis_train/attached_modules/metrics/torchmetrics.py
  luxonis_train/callbacks/ema.py
  luxonis_train/loaders/utils.py
  tests/integration/test_detection.py
  tests/integration/test_segmentation.py
  tests/unittests/test_callbacks/test_ema.py
Labels: none

fix for rectangular images
  luxonis_train/nodes/heads/ghostfacenet_head.py
Labels: none

renamed
  luxonis_train/attached_modules/losses/__init__.py
  luxonis_train/attached_modules/losses/embedding_losses.py
  luxonis_train/attached_modules/metrics/__init__.py
  luxonis_train/attached_modules/metrics/embedding_metrics.py
Labels: none
