Repository luxonis/luxonis-train, changes with the labels that .github/labeler.yaml gives for each.
All labels: DevOps, CLI, documentation

.github/labeler.yaml:

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/*'
  - head-branch:
    - 'test/*'
    - 'tests/*'

DevOps:
  - changed-files:
    - any-glob-to-any-file: '.github/*'

CLI:
  - changed-files:
    - any-glob-to-any-file: '**/__main__.py'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'

fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'

fix checkpoints
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

Fix space
  luxonis_train/config/config.py
Labels: none

remove use_rich_progress_bar
  luxonis_train/callbacks/luxonis_progress_bar.py
  luxonis_train/config/config.py
  luxonis_train/config/predefined_models/README.md
  tests/integration/test_callbacks.py
Labels: documentation

fix loss
  luxonis_train/attached_modules/losses/base_loss.py
Labels: none

type fix
  luxonis_train/attached_modules/losses/ohem_loss.py
  luxonis_train/attached_modules/losses/smooth_bce_with_logits.py
Labels: none

fixes
  luxonis_train/attached_modules/losses/base_loss.py
  luxonis_train/attached_modules/losses/embedding_losses.py
  luxonis_train/config/config.py
  luxonis_train/core/utils/annotate_utils.py
  luxonis_train/lightning/utils.py
  luxonis_train/nodes/base_node.py
  tests/integration/test_combinations.py
Labels: none

fix archive
  luxonis_train/core/utils/archive_utils.py
Labels: none

fix tests
  tests/files/execution_order.json
  tests/integration/test_smart_logging.py
Labels: none

fix order
  tests/files/execution_order.json
Labels: none

type fix
  luxonis_train/attached_modules/losses/base_loss.py
Labels: none

fix tests
  luxonis_train/config/predefined_models/base_predefined_model.py
  tests/integration/test_core.py
Labels: none

config from checkpoint
  luxonis_train/__main__.py
  luxonis_train/core/core.py
Labels: CLI

tests
  tests/integration/test_cli_commands.py
Labels: none

fix annotate
  luxonis_train/core/utils/annotate_utils.py
Labels: none

extra test
  tests/integration/test_predefined_models.py
Labels: none

fix loader filter
  luxonis_train/config/config.py
  luxonis_train/core/core.py
Labels: none

extended tests
  tests/integration/test_core.py
Labels: none

removed dead code
  luxonis_train/lightning/utils.py
Labels: none

pragmas
  luxonis_train/core/core.py
Labels: none

fix
  luxonis_train/nodes/heads/fomo_head.py
  tests/unittests/test_base_attached_module.py
Labels: none

fix circular import
  luxonis_train/nodes/heads/fomo_head.py
Labels: none

dataset metadata repr
  luxonis_train/utils/dataset_metadata.py
Labels: none

fix smart logging test
  tests/integration/test_smart_logging.py
Labels: none

moved main metric check to config
  luxonis_train/config/config.py
  luxonis_train/lightning/utils.py
  tests/unittests/test_config.py
Labels: none

added version to ckpt
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

Removal of deprecated code (#299)
  configs/README.md
  luxonis_train/attached_modules/losses/base_loss.py
  luxonis_train/attached_modules/losses/embedding_losses.py
  luxonis_train/attached_modules/losses/ohem_loss.py
  luxonis_train/attached_modules/losses/smooth_bce_with_logits.py
  luxonis_train/callbacks/luxonis_progress_bar.py
  luxonis_train/config/config.py
  luxonis_train/config/predefined_models/README.md
  luxonis_train/config/predefined_models/anomaly_detection_model.py
  luxonis_train/config/predefined_models/base_predefined_model.py
  luxonis_train/config/predefined_models/classification_model.py
  luxonis_train/config/predefined_models/detection_fomo_model.py
  luxonis_train/config/predefined_models/detection_model.py
  luxonis_train/config/predefined_models/instance_segmentation_model.py
  luxonis_train/config/predefined_models/keypoint_detection_model.py
  luxonis_train/config/predefined_models/ocr_recognition_model.py
  luxonis_train/config/predefined_models/segmentation_model.py
  luxonis_train/core/core.py
  luxonis_train/core/utils/annotate_utils.py
  luxonis_train/core/utils/archive_utils.py
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/lightning/utils.py
  luxonis_train/loaders/debug_loader.py
  luxonis_train/nodes/README.md
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/heads/fomo_head.py
  luxonis_train/utils/dataset_metadata.py
  tests/files/execution_order.json
  tests/integration/test_callbacks.py
  tests/integration/test_combinations.py
  tests/integration/test_core.py
  tests/integration/test_predefined_models.py
  tests/integration/test_smart_logging.py
  tests/unittests/test_base_attached_module.py
  tests/unittests/test_config.py
Labels: documentation

v0.4.0
  luxonis_train/__init__.py
Labels: none

initial structure for loading dinov3 variants
  luxonis_train/nodes/backbones/dinov3.py
Labels: none

variants and docstring for class
  luxonis_train/nodes/backbones/dinov3.py
Labels: none

add to README.md for nodes and __init__.py
  luxonis_train/nodes/README.md
  luxonis_train/nodes/backbones/__init__.py
Labels: documentation

logger warning
  luxonis_train/nodes/backbones/dinov3.py
Labels: none

dinov3 base weights url method
  luxonis_train/nodes/backbones/dinov3.py
Labels: none

choice between classic head or transformer head + implementation of transformer classification head
  luxonis_train/nodes/backbones/dinov3.py
  luxonis_train/nodes/heads/transformer_classification_head.py
Labels: none

example configs for classification, classic and transformer heads
  configs/dinov3_classification_classic_head.yaml
  configs/dinov3_classification_transformer_head.yaml
  luxonis_train/nodes/backbones/dinov3.py
Labels: none

dinov3 encoder semantic segmentation example
  configs/dinov3_semantic_segmentation.yaml
Labels: none

segmentation decoder based on DinoV3
  luxonis_train/nodes/backbones/dinov3.py
  luxonis_train/nodes/heads/__init__.py
  luxonis_train/nodes/heads/transformer_classification_head.py
  luxonis_train/nodes/heads/transformer_segmentation_head.py
Labels: none

more cleanup and comments
  luxonis_train/nodes/heads/transformer_segmentation_head.py
Labels: none

docs for forward
  luxonis_train/nodes/backbones/dinov3.py
  luxonis_train/nodes/heads/transformer_segmentation_head.py
Labels: none

Remove CLS token for segmentation if it exists, remove the round operation to make ONNX compatible and warn if not square patches
  luxonis_train/nodes/backbones/dinov3.py
  luxonis_train/nodes/heads/transformer_segmentation_head.py
Labels: none

Arguments, cleaning up and formatting
  luxonis_train/nodes/backbones/dinov3.py
Labels: none
