Repository luxonis/luxonis-train, changes with the labels that .github/labeler.yaml gives for each.
All labels: DevOps, CLI, documentation

.github/labeler.yaml:

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/*'
  - head-branch:
    - 'test/*'
    - 'tests/*'

DevOps:
  - changed-files:
    - any-glob-to-any-file: '.github/*'

CLI:
  - changed-files:
    - any-glob-to-any-file: '**/__main__.py'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'

fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'

dev tests
  .github/workflows/ci.yaml
Labels: none

replaced any dict with Params
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  tests/integration/conftest.py
  tests/integration/test_detection.py
  tests/integration/test_fixed_validation_batch_limit.py
  tests/integration/test_segmentation.py
  tests/integration/test_simple.py
  tests/integration/test_unsupervised_anomaly_detection.py
Labels: none

replaced Kwargs with Params
  luxonis_train/attached_modules/losses/embedding_losses.py
  luxonis_train/attached_modules/visualizers/utils.py
  luxonis_train/config/config.py
  luxonis_train/config/predefined_models/anomaly_detection_model.py
  luxonis_train/config/predefined_models/base_predefined_model.py
  luxonis_train/config/predefined_models/classification_model.py
  luxonis_train/config/predefined_models/detection_fomo_model.py
  luxonis_train/config/predefined_models/detection_model.py
  luxonis_train/config/predefined_models/instance_segmentation_model.py
  luxonis_train/config/predefined_models/keypoint_detection_model.py
  luxonis_train/config/predefined_models/ocr_recognition_model.py
  luxonis_train/config/predefined_models/segmentation_model.py
  luxonis_train/core/core.py
  luxonis_train/core/utils/export_utils.py
Labels: none

fixed docs
  luxonis_train/nodes/blocks/blocks.py
Labels: none

renamed
  luxonis_train/callbacks/gradcam_visializer.py
Labels: none

added default factories
  luxonis_train/config/config.py
Labels: none

better version print
  luxonis_train/__main__.py
Labels: CLI

faster CLI
  luxonis_train/__init__.py
Labels: none

fixed test
  tests/integration/test_scheduler.py
Labels: none

consistent naming
  configs/segmentation_light_model.yaml
  luxonis_train/assigners/tal_assigner.py
  luxonis_train/attached_modules/losses/fomo_localization_loss.py
  luxonis_train/attached_modules/losses/ohem_loss.py
  luxonis_train/attached_modules/losses/precision_dfl_detection_loss.py
  luxonis_train/attached_modules/metrics/embedding_metrics.py
  luxonis_train/config/predefined_models/detection_fomo_model.py
  luxonis_train/nodes/README.md
  luxonis_train/nodes/backbones/ddrnet/blocks.py
  luxonis_train/nodes/backbones/ddrnet/ddrnet.py
  luxonis_train/nodes/backbones/efficientrep/efficientrep.py
  luxonis_train/nodes/backbones/efficientvit/blocks.py
  luxonis_train/nodes/backbones/efficientvit/efficientvit.py
  luxonis_train/nodes/backbones/mobileone/mobileone.py
  luxonis_train/nodes/backbones/pplcnet_v3/blocks.py
  luxonis_train/nodes/backbones/pplcnet_v3/pplcnet_v3.py
  luxonis_train/nodes/backbones/pplcnet_v3/variants.py
  luxonis_train/nodes/blocks/blocks.py
  luxonis_train/nodes/heads/fomo_head.py
  luxonis_train/nodes/heads/precision_seg_bbox_head.py
  luxonis_train/nodes/necks/reppan_neck/blocks.py
  luxonis_train/nodes/necks/reppan_neck/reppan_neck.py
  luxonis_train/nodes/necks/svtr_neck/blocks.py
  luxonis_train/utils/keypoints.py
Labels: documentation

changed line ends
  configs/anomaly_detection_model.yaml
Labels: none

reverted from_dataset
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  luxonis_train/loaders/__init__.py
  luxonis_train/loaders/base_loader.py
  luxonis_train/loaders/luxonis_loader_torch.py
  luxonis_train/loaders/luxonis_perlin_loader_torch.py
  luxonis_train/loaders/utils.py
  luxonis_train/utils/dataset_metadata.py
Labels: none

renamed model to lightning
  luxonis_train/__init__.py
  luxonis_train/callbacks/archive_on_train_end.py
  luxonis_train/callbacks/export_on_train_end.py
  luxonis_train/callbacks/metadata_logger.py
  luxonis_train/callbacks/needs_checkpoint.py
  luxonis_train/callbacks/test_on_train_end.py
  luxonis_train/callbacks/upload_checkpoint.py
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  luxonis_train/core/utils/archive_utils.py
  luxonis_train/core/utils/export_utils.py
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/lightning/__init__.py
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/lightning/luxonis_output.py
Labels: none

cleaned up lightning
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/losses/adaptive_detection_loss.py
  luxonis_train/callbacks/__init__.py
  luxonis_train/callbacks/gradcam_visializer.py
  luxonis_train/callbacks/luxonis_progress_bar.py
  luxonis_train/callbacks/metadata_logger.py
  luxonis_train/callbacks/module_freezer.py
  luxonis_train/callbacks/training_manager.py
  luxonis_train/callbacks/upload_checkpoint.py
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/lightning/utils.py
  luxonis_train/nodes/base_node.py
  luxonis_train/strategies/base_strategy.py
  luxonis_train/strategies/triple_lr_sgd.py
  luxonis_train/typing.py
  luxonis_train/utils/dataset_metadata.py
  luxonis_train/utils/registry.py
Labels: none

removed os.path
  luxonis_train/callbacks/metadata_logger.py
  luxonis_train/core/core.py
  luxonis_train/utils/logging.py
  tests/unittests/test_utils/test_general.py
Labels: none

fix tests
  luxonis_train/attached_modules/metrics/torchmetrics.py
Labels: none

simplified
  luxonis_train/callbacks/metadata_logger.py
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/lightning/utils.py
Labels: none

formatting
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  configs/README.md
  configs/detection_light_model.yaml
  examples/README.md
  luxonis_train/attached_modules/metrics/README.md
  luxonis_train/attached_modules/visualizers/README.md
  luxonis_train/nodes/README.md
  tests/integration/test_fixed_validation_batch_limit.py
  tests/integration/test_remove_on_export.py
  tests/integration/test_simple.py
  tests/unittests/test_metrics/test_confusion_matrix.py
Labels: documentation

sorting
  luxonis_train/attached_modules/losses/__init__.py
  luxonis_train/attached_modules/metrics/__init__.py
  luxonis_train/attached_modules/metrics/mean_average_precision/__init__.py
  luxonis_train/attached_modules/visualizers/__init__.py
  luxonis_train/callbacks/__init__.py
  luxonis_train/config/__init__.py
  luxonis_train/config/predefined_models/__init__.py
  luxonis_train/loaders/__init__.py
  luxonis_train/nodes/backbones/__init__.py
  luxonis_train/nodes/blocks/__init__.py
  luxonis_train/nodes/heads/__init__.py
  luxonis_train/strategies/__init__.py
  luxonis_train/utils/__init__.py
Labels: none

fixed unit tests
  tests/unittests/test_utils/test_boxutils.py
  tests/unittests/test_utils/test_general.py
Labels: none

format
  luxonis_train/utils/boundingbox.py
Labels: none

smaller image sizes
  tests/configs/cli_commands.yaml
  tests/integration/conftest.py
  tests/integration/test_unsupervised_anomaly_detection.py
Labels: none

formatting, more hooks
  .github/workflows/python-publish.yaml
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  configs/detection_heavy_model.yaml
  configs/example_tuning.yaml
  configs/fomo_heavy_model.yaml
  configs/fomo_light_model.yaml
  configs/instance_segmentation_light_model.yaml
  configs/keypoint_bbox_heavy_model.yaml
  configs/keypoint_bbox_light_model.yaml
  luxonis_train/attached_modules/visualizers/utils.py
  luxonis_train/callbacks/module_freezer.py
  luxonis_train/loaders/utils.py
  luxonis_train/typing.py
  luxonis_train/utils/registry.py
  requirements-dev.txt
  tests/configs/archive_config.yaml
  tests/configs/cli_commands.yaml
  tests/configs/parking_lot_config.yaml
Labels: none

comment
  luxonis_train/lightning/utils.py
Labels: none

fix visualizer
  luxonis_train/attached_modules/visualizers/__init__.py
  luxonis_train/attached_modules/visualizers/instance_segmentation_visualizer.py
  luxonis_train/attached_modules/visualizers/segmentation_visualizer.py
  luxonis_train/attached_modules/visualizers/utils.py
Labels: none

pathtypes
  luxonis_train/core/core.py
  luxonis_train/core/utils/export_utils.py
  luxonis_train/core/utils/infer_utils.py
Labels: none

link to examples (#183)
  README.md
  examples/README.md
Labels: documentation

changed stacklevel
  luxonis_train/core/utils/export_utils.py
Labels: none

comments
  luxonis_train/nodes/backbones/efficientnet.py
  luxonis_train/nodes/heads/efficient_bbox_head.py
  luxonis_train/utils/boundingbox.py
Labels: none

fix stride issue
  luxonis_train/nodes/heads/efficient_bbox_head.py
Labels: none

Matched subtype of models to DAI subtype
  luxonis_train/nodes/heads/efficient_bbox_head.py
  luxonis_train/nodes/heads/efficient_keypoint_bbox_head.py
  tests/integration/parking_lot.json
Labels: none

Matched subtype of models to DAI subtype (#185)
  luxonis_train/nodes/heads/efficient_bbox_head.py
  luxonis_train/nodes/heads/efficient_keypoint_bbox_head.py
  tests/integration/parking_lot.json
Labels: none

Fix strides shape (#184)
  luxonis_train/nodes/heads/efficient_bbox_head.py
Labels: none

updated readme
  configs/README.md
  luxonis_train/lightning/utils.py
Labels: documentation

fixed configs
  configs/detection_heavy_model.yaml
  configs/embeddings_model.yaml
Labels: none

fixed visualizer
  luxonis_train/attached_modules/visualizers/segmentation_visualizer.py
Labels: none

fixed ema typing
  luxonis_train/callbacks/ema.py
Labels: none

fixed tests
  tests/configs/config_simple.yaml
  tests/configs/ddrnet.yaml
  tests/configs/parking_lot_config.yaml
  tests/configs/segmentation_parse_loader.yaml
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/multi_input_modules.py
  tests/integration/parking_lot.json
  tests/integration/test_cli_commands.py
  tests/integration/test_detection.py
  tests/integration/test_fixed_validation_batch_limit.py
  tests/integration/test_scheduler.py
  tests/integration/test_segmentation.py
  tests/integration/test_simple.py
  tests/integration/test_unsupervised_anomaly_detection.py
  tests/unittests/test_base_attached_module.py
  tests/unittests/test_base_node.py
  tests/unittests/test_callbacks/test_ema.py
  tests/unittests/test_loaders/test_base_loader.py
  tests/unittests/test_metrics/test_confusion_matrix.py
  tests/unittests/test_metrics/test_torchmetrics.py
Labels: none

updated pyproject
  pyproject.toml
Labels: none

Add initial implementation and support for PP-HumanSegV2-Lite model.
  .pre-commit-config.yaml
  luxonis_train/attached_modules/losses/__init__.py
  luxonis_train/attached_modules/losses/mobileseg_loss.py
  luxonis_train/nodes/backbones/__init__.py
  luxonis_train/nodes/backbones/efficientvit/blocks.py
  luxonis_train/nodes/backbones/mobileseg/__init__.py
  luxonis_train/nodes/backbones/mobileseg/blocks.py
  luxonis_train/nodes/backbones/mobileseg/mobileseg.py
  luxonis_train/nodes/backbones/mobileseg/variants.py
  luxonis_train/nodes/blocks/blocks.py
  luxonis_train/nodes/heads/__init__.py
  luxonis_train/nodes/heads/mobileseg_head/__init__.py
  luxonis_train/nodes/heads/mobileseg_head/blocks.py
  luxonis_train/nodes/heads/mobileseg_head/mobileseg_head.py
  tests/configs/mobilenetv3.yaml
Labels: none
