Repository luxonis/luxonis-train, changes with the labels that .github/labeler.yaml gives for each.
All labels: DevOps, CLI, documentation

change path to previously set variable
  .github/workflows/ci.yaml
Labels: none

mkdir also points to torch home
  .github/workflows/ci.yaml
Labels: none

Major cleanup of codebase, classes and files implemented so far
  .github/workflows/ci.yaml
  .github/workflows/tests.yaml
  configs/dinov3_semantic_segmentation.yaml
  luxonis_train/config/config.py
  luxonis_train/nodes/backbones/dinov3.py
  tests/integration/download_weights.py
  tests/integration/test_combinations.py
Labels: none

CI add pytest that was removed
  .github/workflows/ci.yaml
Labels: none

pass pre-commit requirements
  .github/workflows/ci.yaml
Labels: none

if weights are present in the parameters, pass them to the loading function
  luxonis_train/nodes/backbones/dinov3.py
Labels: none

Local implementation of the rope embed, changes in structure and cleanliness of code, remove AbsolutePositionEmbedding that was previously implemented
  luxonis_train/nodes/backbones/__init__.py
  luxonis_train/nodes/backbones/dinov3/__init__.py
  luxonis_train/nodes/backbones/dinov3/dinov3.py
  luxonis_train/nodes/backbones/dinov3/rope_position_encoding.py
Labels: none

Change to structure, method documentation
  .github/workflows/ci.yaml
  .github/workflows/tests.yaml
  luxonis_train/nodes/backbones/dinov3/dinov3.py
Labels: none

Final Pyright changes
  luxonis_train/nodes/backbones/dinov3/dinov3.py
Labels: none

Change order: weights download if the link is available, otherwise resort to cache
  luxonis_train/nodes/backbones/dinov3/dinov3.py
Labels: none

cleanup configs
  configs/example_export.yaml
  configs/example_tuning.yaml
  configs/segmentation_heavy_model.yaml
  configs/segmentation_light_model.yaml
Labels: none

Changes according to PR comments, code cleanliness and conventions
  .github/workflows/ci.yaml
  configs/dinov3_classification_classic_head.yaml
  configs/dinov3_classification_transformer_head.yaml
  configs/dinov3_semantic_segmentation.yaml
  configs/dinov3_semantic_segmentation_transformer_head.yaml
  luxonis_train/config/config.py
  luxonis_train/nodes/backbones/dinov3/dinov3.py
  luxonis_train/nodes/backbones/dinov3/rope_position_encoding.py
  luxonis_train/nodes/heads/transformer_classification_head.py
  luxonis_train/nodes/heads/transformer_segmentation_head.py
  tests/conftest.py
Labels: none

DINOv3 heads and backbones properly documented in the nodes README.md
  luxonis_train/nodes/README.md
Labels: documentation

Weights as a necessary parameter of DinoV3
  luxonis_train/nodes/backbones/dinov3/dinov3.py
  tests/conftest.py
  tests/integration/test_combinations.py
Labels: none

Fix failing pyright
  luxonis_train/nodes/backbones/dinov3/dinov3.py
  luxonis_train/nodes/backbones/dinov3/rope_position_encoding.py
  luxonis_train/nodes/heads/transformer_classification_head.py
  luxonis_train/nodes/heads/transformer_segmentation_head.py
  tests/conftest.py
  tests/integration/test_combinations.py
Labels: none

last pre-commit fixes to README tables
  luxonis_train/nodes/README.md
Labels: documentation

Fix small errors, replace np operations by torch operations in the rope embed
  luxonis_train/nodes/backbones/dinov3/rope_position_encoding.py
  luxonis_train/nodes/heads/transformer_segmentation_head.py
Labels: none

revert np.log transformation
  luxonis_train/nodes/backbones/dinov3/rope_position_encoding.py
Labels: none

Revert with semgrep issues
  luxonis_train/nodes/backbones/dinov3/rope_position_encoding.py
Labels: none

fixes
  configs/example_export.yaml
Labels: none

added deptahiv2
  configs/example_export.yaml
Labels: none

missing space
  configs/example_export.yaml
Labels: none

Updated configs (#303)
  configs/example_export.yaml
  configs/example_tuning.yaml
  configs/segmentation_heavy_model.yaml
  configs/segmentation_light_model.yaml
Labels: none

added versin to cache
  luxonis_train/utils/general.py
Labels: none

More readable and safe transformation of patch embeddings, docstrings
  luxonis_train/nodes/backbones/dinov3/dinov3.py
  luxonis_train/nodes/heads/transformer_classification_head.py
  luxonis_train/nodes/heads/transformer_segmentation_head.py
Labels: none

Optional parameter to freeze DINOv3 backbone
  luxonis_train/nodes/backbones/dinov3/dinov3.py
Labels: none

Fix comments in freeze_backbone param descrpition
  luxonis_train/nodes/backbones/dinov3/dinov3.py
Labels: none

Added version to cache (#304)
  luxonis_train/utils/general.py
Labels: none

remove download_weights as this is moved to conftest
  tests/integration/download_weights.py
Labels: none

documentation shows difference in rope embed
  luxonis_train/nodes/backbones/dinov3/dinov3.py
Labels: none

pre-commit fixes
  luxonis_train/nodes/backbones/dinov3/dinov3.py
Labels: none

remove mention of CLS token, which is not present
  luxonis_train/nodes/README.md
  luxonis_train/nodes/heads/transformer_segmentation_head.py
Labels: documentation

pre-commit fixes documentation
  luxonis_train/nodes/README.md
Labels: documentation

fix bug
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

Fix: checkpoint loading (#305)
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

error message
  luxonis_train/lightning/utils.py
Labels: none

loading metadata from checkpoing
  luxonis_train/__main__.py
  luxonis_train/core/core.py
Labels: CLI

TypeError instead of RuntimeError for in shapes
  luxonis_train/nodes/heads/transformer_classification_head.py
Labels: none

Fix pre-commit and pydoctor errors for docstring input type
  luxonis_train/nodes/heads/transformer_classification_head.py
  luxonis_train/nodes/heads/transformer_segmentation_head.py
Labels: none

Test CI with new required onnxscript
  requirements.txt
Labels: none

.github/labeler.yaml:

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/*'
  - head-branch:
    - 'test/*'
    - 'tests/*'

DevOps:
  - changed-files:
    - any-glob-to-any-file: '.github/*'

CLI:
  - changed-files:
    - any-glob-to-any-file: '**/__main__.py'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'

fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'
