Repository luxonis/luxonis-train, changes with the labels that .github/labeler.yaml gives for each.
All labels: DevOps, CLI, documentation

.github/labeler.yaml:

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/*'
  - head-branch:
    - 'test/*'
    - 'tests/*'

DevOps:
  - changed-files:
    - any-glob-to-any-file: '.github/*'

CLI:
  - changed-files:
    - any-glob-to-any-file: '**/__main__.py'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'

fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'

Prevent ignoring metric if confusion matrix is not enabled (#308)
  luxonis_train/config/config.py
  luxonis_train/config/predefined_models/base_predefined_model.py
  luxonis_train/config/predefined_models/detection_fomo_model.py
  luxonis_train/lightning/utils.py
Labels: none

check for version
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

bump requirements
  requirements.txt
Labels: none

Final fixes to normalization + comments + remove unused args
  luxonis_train/nodes/backbones/dinov3/dinov3.py
  luxonis_train/nodes/heads/transformer_classification_head.py
  luxonis_train/nodes/heads/transformer_segmentation_head.py
Labels: none

Passing tests and pyright, dinov3 weights properly passed
  tests/integration/test_bump_opset_version.py
Labels: none

Fix: missing `dynamo` argument (#310)
  luxonis_train/lightning/luxonis_lightning.py
  requirements.txt
Labels: none

fix
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

bump version
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

Update requirements.txt
  requirements.txt
Labels: none

Changed version check for `dynamo` (#311)
  luxonis_train/lightning/luxonis_lightning.py
  requirements.txt
Labels: none

LuxonisTrain `v0.4.0` (#301)
  luxonis_train/__init__.py
Labels: none

fix
  luxonis_train/__main__.py
Labels: CLI

fix semgrep by routing everything through tensors
  luxonis_train/nodes/backbones/dinov3/rope_position_encoding.py
Labels: none

Optional dinov3 weights, updated main merged back
  tests/integration/test_combinations.py
Labels: none

Update requirements.txt
  requirements.txt
Labels: none

DinoV3 encoder + transfomer heads for classification and segmentation (#302)
  luxonis_train/nodes/README.md
  luxonis_train/nodes/backbones/__init__.py
  luxonis_train/nodes/backbones/dinov3/__init__.py
  luxonis_train/nodes/backbones/dinov3/dinov3.py
  luxonis_train/nodes/backbones/dinov3/rope_position_encoding.py
  luxonis_train/nodes/heads/__init__.py
  luxonis_train/nodes/heads/transformer_classification_head.py
  luxonis_train/nodes/heads/transformer_segmentation_head.py
  requirements.txt
  tests/conftest.py
  tests/integration/test_bump_opset_version.py
  tests/integration/test_combinations.py
Labels: documentation

requrements
  requirements.txt
Labels: none

changed message
  luxonis_train/lightning/utils.py
Labels: none

added variant to node docs
  configs/README.md
Labels: documentation

added variant to node docs (#313)
  configs/README.md
Labels: documentation

coerce int to str
  luxonis_train/config/config.py
Labels: none

Coercing `variant` to `str` (#314)
  luxonis_train/config/config.py
Labels: none

fix
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

Annotate: Loading dataset metadata from checkpoint (#312)
  luxonis_train/__main__.py
  luxonis_train/core/core.py
  luxonis_train/lightning/utils.py
  requirements.txt
Labels: CLI

Fix: Checkpoint loading (#315)
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

Run tests for opset version 12 to 16
  tests/integration/test_bump_opset_version.py
Labels: none

Correctly import BaseModelExtraForbid and pass variant param
  luxonis_train/config/config.py
Labels: none

Dynamic passing of variant params
  luxonis_train/config/config.py
  tests/integration/test_predefined_models.py
Labels: none

updated config version
  luxonis_train/config/__init__.py
  luxonis_train/config/config.py
  luxonis_train/config/constants.py
Labels: none

updated requirements
  requirements.txt
Labels: none

Correctly import BaseModelExtraForbid and pass variant param (#316)
  luxonis_train/config/config.py
  tests/integration/test_predefined_models.py
Labels: none

Skip tests if the opset is manually fixed already
  tests/integration/test_bump_opset_version.py
Labels: none

Fix pyright error for unsafe opset extraction
  tests/integration/test_bump_opset_version.py
Labels: none

install dependency
  .github/workflows/ci.yaml
Labels: none

Updated `CONFIG_VERSION` (#317)
  .github/workflows/ci.yaml
  luxonis_train/config/__init__.py
  luxonis_train/config/config.py
  luxonis_train/config/constants.py
  requirements.txt
Labels: none

Opset version actually bumped
  luxonis_train/config/config.py
  tests/integration/test_combinations.py
Labels: none

Fix last pre-commit issues
  tests/integration/test_combinations.py
Labels: none

migrate config support
  luxonis_train/__main__.py
  luxonis_train/config/__init__.py
  luxonis_train/config/migrate.py
Labels: CLI

safer semver loading
  luxonis_train/config/config.py
Labels: none

consistent yaml dump
  luxonis_train/core/core.py
Labels: none
