Repository luxonis/luxonis-train, changes with the labels that .github/labeler.yaml gives for each.
All labels: DevOps, CLI, documentation

.github/labeler.yaml:

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/*'
  - head-branch:
    - 'test/*'
    - 'tests/*'

DevOps:
  - changed-files:
    - any-glob-to-any-file: '.github/*'

CLI:
  - changed-files:
    - any-glob-to-any-file: '**/__main__.py'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'

fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'

read version
  luxonis_train/config/migrate.py
Labels: none

moved from checkpoint to main
  luxonis_train/__main__.py
  luxonis_train/core/core.py
Labels: CLI

fix migrate
  luxonis_train/config/migrate.py
Labels: none

added import
  luxonis_train/__main__.py
Labels: CLI

Run tests for opset version 12 to 16 (#318)
  luxonis_train/config/config.py
  tests/integration/test_bump_opset_version.py
  tests/integration/test_combinations.py
Labels: none

Added automatic conversion of string keys to int for GradientAccumulationScheduler.params.scheduling
  luxonis_train/config/config.py
Labels: none

type safety
  luxonis_train/config/config.py
Labels: none

radius of keypoints in the visualizer depend on image size, scale canvas parameter
  luxonis_train/attached_modules/visualizers/base_visualizer.py
  luxonis_train/attached_modules/visualizers/keypoint_visualizer.py
Labels: none

upgrade ckpt
  luxonis_train/__init__.py
  luxonis_train/config/__init__.py
  luxonis_train/config/config.py
  luxonis_train/config/migrate.py
Labels: none

better api
  luxonis_train/__main__.py
  luxonis_train/config/__init__.py
  luxonis_train/upgrade.py
Labels: CLI

help
  luxonis_train/__main__.py
Labels: CLI

nosemgreps
  luxonis_train/__main__.py
Labels: CLI

python dump
  luxonis_train/__init__.py
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

scale masks and bounding boxes for instance segmentation
  luxonis_train/attached_modules/visualizers/instance_segmentation_visualizer.py
Labels: none

upgrade checkoint
  luxonis_train/__main__.py
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/upgrade.py
Labels: CLI

update
  luxonis_train/__main__.py
Labels: CLI

Fix: Removed strict JSON config storage in checkpoints (#321)
  luxonis_train/__init__.py
  luxonis_train/lightning/luxonis_lightning.py
Labels: none

Working for semantic segmentation too
  luxonis_train/attached_modules/visualizers/instance_segmentation_visualizer.py
  luxonis_train/attached_modules/visualizers/segmentation_visualizer.py
  luxonis_train/attached_modules/visualizers/utils.py
Labels: none

remove comments
  luxonis_train/attached_modules/visualizers/base_visualizer.py
Labels: none

docstring for potentially_upscale_masks
  luxonis_train/attached_modules/visualizers/utils.py
Labels: none

precommit
  luxonis_train/attached_modules/visualizers/utils.py
Labels: none

GradientAccumulationScheduler automatic str to int conversion (#320)
  luxonis_train/config/config.py
Labels: none

remove grad accum
  luxonis_train/upgrade.py
Labels: none

different thresholds and values for image size to keypoint radius
  luxonis_train/attached_modules/visualizers/keypoint_visualizer.py
Labels: none

moved
  luxonis_train/__init__.py
Labels: none

Add to the readme and make radius an attribute
  luxonis_train/attached_modules/visualizers/README.md
  luxonis_train/attached_modules/visualizers/keypoint_visualizer.py
Labels: documentation

code cleanliness: radius just passed on to kwargs
  luxonis_train/attached_modules/visualizers/keypoint_visualizer.py
Labels: none

Draw keypoint indices next to the keypoints themselves
  luxonis_train/attached_modules/visualizers/README.md
  luxonis_train/attached_modules/visualizers/keypoint_visualizer.py
Labels: documentation

Scale image canvas annotations (#322)
  luxonis_train/attached_modules/visualizers/README.md
  luxonis_train/attached_modules/visualizers/base_visualizer.py
  luxonis_train/attached_modules/visualizers/instance_segmentation_visualizer.py
  luxonis_train/attached_modules/visualizers/keypoint_visualizer.py
  luxonis_train/attached_modules/visualizers/segmentation_visualizer.py
  luxonis_train/attached_modules/visualizers/utils.py
Labels: documentation

fixes
  luxonis_train/__main__.py
  luxonis_train/config/config.py
Labels: CLI

fix alias
  luxonis_train/config/config.py
Labels: none

CLI: `upgrade` support (#319)
  luxonis_train/__init__.py
  luxonis_train/__main__.py
  luxonis_train/config/__init__.py
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/upgrade.py
Labels: CLI

bump version
  luxonis_train/__init__.py
Labels: none

Working predictions target canvases with proper scaling and offsets
  luxonis_train/attached_modules/visualizers/bbox_visualizer.py
  luxonis_train/attached_modules/visualizers/keypoint_visualizer.py
Labels: none

Color is string not tuple
  luxonis_train/attached_modules/visualizers/keypoint_visualizer.py
Labels: none

pass visible and nonvisible color to draw keypoint indices
  luxonis_train/attached_modules/visualizers/keypoint_visualizer.py
Labels: none

Keypoint indices drawn on the image (#323)
  luxonis_train/attached_modules/visualizers/README.md
  luxonis_train/attached_modules/visualizers/bbox_visualizer.py
  luxonis_train/attached_modules/visualizers/keypoint_visualizer.py
Labels: documentation

update requierements
  requirements.txt
Labels: none

fix batch size
  luxonis_train/core/utils/annotate_utils.py
  luxonis_train/core/utils/infer_utils.py
Labels: none

Added cast of str to int for GradAccScheduler
  luxonis_train/config/config.py
Labels: none
