Repository luxonis/luxonis-train, pull requests merged in 2024-11, with the labels that each got.

#115 Add gradient visualization during validation
  luxonis_train/callbacks/README.md
  luxonis_train/callbacks/__init__.py
  luxonis_train/callbacks/gradcam_visializer.py
  requirements.txt
Labels: documentation, enhancement

#126 Force reinstall of luxonis-ml in tests action
  .github/workflows/tests.yaml
Labels: tests

#127 Config smart auto populate
  configs/README.md
  luxonis_train/config/config.py
  tests/configs/smart_cfg_populate_config.yaml
  tests/integration/test_simple.py
Labels: documentation, enhancement

#120 Updated docs action
  .github/workflows/ci.yaml
  CONTRIBUTING.md
Labels: documentation, DevOps

#125 feat: add n_validation_batches option to trainer
  configs/README.md
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  tests/integration/test_fixed_validation_batch_limit.py
Labels: documentation, enhancement, tests

#122 Updated how we access config version from luxonis-ml
  luxonis_train/core/core.py
  luxonis_train/core/utils/archive_utils.py
  requirements.txt
  tests/integration/parking_lot.json
Labels: fix

#116 Unsupervised Anomaly Detection
  luxonis_train/attached_modules/losses/README.md
  luxonis_train/attached_modules/losses/__init__.py
  luxonis_train/attached_modules/losses/reconstruction_segmentation_loss.py
  luxonis_train/attached_modules/losses/softmax_focal_loss.py
  luxonis_train/config/predefined_models/__init__.py
  luxonis_train/config/predefined_models/anomaly_detection_model.py
  luxonis_train/loaders/__init__.py
  luxonis_train/loaders/luxonis_perlin_loader_torch.py
  luxonis_train/loaders/perlin.py
  luxonis_train/loaders/utils.py
  luxonis_train/nodes/README.md
  luxonis_train/nodes/backbones/__init__.py
  luxonis_train/nodes/backbones/recsubnet/__init__.py
  luxonis_train/nodes/backbones/recsubnet/blocks.py
  luxonis_train/nodes/backbones/recsubnet/recsubnet.py
  luxonis_train/nodes/heads/__init__.py
  luxonis_train/nodes/heads/discsubnet_head/__init__.py
  luxonis_train/nodes/heads/discsubnet_head/blocks.py
  luxonis_train/nodes/heads/discsubnet_head/discsubnet_head.py
  tests/integration/test_unsupervised_anomaly_detection.py
Labels: documentation, enhancement

#119 fix: call tracker.close()
  luxonis_train/utils/tracker.py
Labels: fix

#121 Run inference on the same device as used in the Trainer
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/models/luxonis_lightning.py
Labels: enhancement

#128 Pretrained weights for detection-light and segmentation-light
  configs/detection_light_model.yaml
  configs/segmentation_light_model.yaml
  luxonis_train/config/predefined_models/detection_model.py
  luxonis_train/config/predefined_models/keypoint_detection_model.py
  luxonis_train/config/predefined_models/segmentation_model.py
  luxonis_train/nodes/README.md
  luxonis_train/nodes/backbones/ddrnet/ddrnet.py
  luxonis_train/nodes/backbones/ddrnet/variants.py
  luxonis_train/nodes/backbones/efficientnet.py
  luxonis_train/nodes/backbones/efficientrep/efficientrep.py
  luxonis_train/nodes/backbones/efficientrep/variants.py
  luxonis_train/nodes/backbones/mobilenetv2.py
  luxonis_train/nodes/backbones/resnet.py
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/heads/ddrnet_segmentation_head.py
  luxonis_train/nodes/heads/efficient_bbox_head.py
  luxonis_train/nodes/necks/reppan_neck/reppan_neck.py
  luxonis_train/nodes/necks/reppan_neck/variants.py
  luxonis_train/utils/__init__.py
  luxonis_train/utils/general.py
  tests/unittests/test_utils/test_general.py
Labels: documentation, enhancement

#129 add test for cli commands
  tests/configs/cli_commands.yaml
  tests/integration/test_cli_commands.py
Labels: tests

#130 added `DDRNet` to archive
  luxonis_train/core/utils/archive_utils.py
  luxonis_train/nodes/enums/head_categorization.py
Labels: fix

#134 Fix binary segmentation export
  luxonis_train/nodes/heads/ddrnet_segmentation_head.py
Labels: fix

#136 Keypoint M predefined model
  luxonis_train/config/predefined_models/keypoint_detection_model.py
Labels: enhancement

#135 README.md update - link to the tutorials
  README.md
Labels: documentation, enhancement

#132 Custom optimizer
  README.md
  configs/README.md
  luxonis_train/__init__.py
  luxonis_train/attached_modules/visualizers/keypoint_visualizer.py
  luxonis_train/callbacks/__init__.py
  luxonis_train/callbacks/training_manager.py
  luxonis_train/config/config.py
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/nodes/README.md
  luxonis_train/nodes/backbones/efficientrep/efficientrep.py
  luxonis_train/nodes/heads/efficient_bbox_head.py
  luxonis_train/nodes/necks/reppan_neck/reppan_neck.py
  luxonis_train/strategies/__init__.py
  luxonis_train/strategies/base_strategy.py
  luxonis_train/strategies/triple_lr_sgd.py
  luxonis_train/utils/registry.py
  tests/integration/test_simple.py
Labels: documentation, enhancement

#137 fix: training strategy docs
  configs/README.md
  luxonis_train/strategies/README.md
Labels: documentation, fix

#139 Refactor Archiver and add BaseHead
  configs/detection_light_model.yaml
  luxonis_train/core/core.py
  luxonis_train/core/utils/archive_utils.py
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/nodes/enums/head_categorization.py
  luxonis_train/nodes/heads/__init__.py
  luxonis_train/nodes/heads/base_head.py
  luxonis_train/nodes/heads/bisenet_head.py
  luxonis_train/nodes/heads/classification_head.py
  luxonis_train/nodes/heads/ddrnet_segmentation_head.py
  luxonis_train/nodes/heads/discsubnet_head/discsubnet_head.py
  luxonis_train/nodes/heads/efficient_bbox_head.py
  luxonis_train/nodes/heads/efficient_keypoint_bbox_head.py
  luxonis_train/nodes/heads/segmentation_head.py
  pyproject.toml
  tests/integration/parking_lot.json
  tests/integration/test_simple.py
Labels: enhancement
