Repository luxonis/luxonis-train, pull requests merged in 2024-08, with the labels that each got.

#52 Suppressing `mlflow` Exceptions
  luxonis_train/core/core.py
Labels: fix

#54 Hotfix for Freezing `polars`
  luxonis_train/utils/config.py
Labels: fix

#53 Full Custom Tasks Support
  configs/coco_multitask_model.yaml
  configs/efficient_coco_model.yaml
  configs/example_multi_input.yaml
  luxonis_train/__main__.py
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/losses/adaptive_detection_loss.py
  luxonis_train/attached_modules/losses/base_loss.py
  luxonis_train/attached_modules/losses/bce_with_logits.py
  luxonis_train/attached_modules/losses/cross_entropy.py
  luxonis_train/attached_modules/losses/efficient_keypoint_bbox_loss.py
  luxonis_train/attached_modules/losses/implicit_keypoint_bbox_loss.py
  luxonis_train/attached_modules/losses/keypoint_loss.py
  luxonis_train/attached_modules/losses/sigmoid_focal_loss.py
  luxonis_train/attached_modules/losses/smooth_bce_with_logits.py
  luxonis_train/attached_modules/losses/softmax_focal_loss.py
  luxonis_train/attached_modules/metrics/base_metric.py
  luxonis_train/attached_modules/metrics/common.py
  luxonis_train/attached_modules/metrics/mean_average_precision.py
  luxonis_train/attached_modules/metrics/mean_average_precision_keypoints.py
  luxonis_train/attached_modules/metrics/object_keypoint_similarity.py
  luxonis_train/attached_modules/visualizers/base_visualizer.py
  luxonis_train/attached_modules/visualizers/bbox_visualizer.py
  luxonis_train/attached_modules/visualizers/classification_visualizer.py
  luxonis_train/attached_modules/visualizers/keypoint_visualizer.py
  luxonis_train/attached_modules/visualizers/multi_visualizer.py
  luxonis_train/attached_modules/visualizers/segmentation_visualizer.py
  luxonis_train/callbacks/luxonis_progress_bar.py
  luxonis_train/core/inferer.py
  luxonis_train/models/luxonis_model.py
  luxonis_train/models/predefined_models/README.md
  luxonis_train/models/predefined_models/classification_model.py
  luxonis_train/models/predefined_models/detection_model.py
  luxonis_train/models/predefined_models/keypoint_detection_model.py
  luxonis_train/models/predefined_models/segmentation_model.py
  luxonis_train/nodes/README.md
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/bisenet_head.py
  luxonis_train/nodes/classification_head.py
  luxonis_train/nodes/efficient_bbox_head.py
  luxonis_train/nodes/efficient_keypoint_bbox_head.py
  luxonis_train/nodes/implicit_keypoint_bbox_head.py
  luxonis_train/nodes/rexnetv1.py
  luxonis_train/nodes/segmentation_head.py
  luxonis_train/utils/assigners/atts_assigner.py
  luxonis_train/utils/config.py
  luxonis_train/utils/loaders/__init__.py
  luxonis_train/utils/loaders/luxonis_loader_torch.py
  luxonis_train/utils/types.py
  media/coverage_badge.svg
  tests/integration/conftest.py
  tests/integration/test_multi_input.py
  tests/integration/test_sanity.py
  tests/unittests/test_utils/test_loaders/test_base_loader.py
Labels: enhancement

#55 Miscellaneous Fixes and Features
  .gitignore
  configs/classification_model.yaml
  configs/coco_model.yaml
  configs/coco_multitask_model.yaml
  configs/detection_model.yaml
  configs/example_export.yaml
  configs/example_tuning.yaml
  configs/keypoint_bbox_model.yaml
  configs/resnet_multitask_model.yaml
  configs/segmentation_model.yaml
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/losses/implicit_keypoint_bbox_loss.py
  luxonis_train/attached_modules/losses/smooth_bce_with_logits.py
  luxonis_train/attached_modules/visualizers/segmentation_visualizer.py
  luxonis_train/callbacks/test_on_train_end.py
  luxonis_train/core/archiver.py
  luxonis_train/core/core.py
  luxonis_train/core/exporter.py
  luxonis_train/core/trainer.py
  luxonis_train/core/tuner.py
  luxonis_train/models/luxonis_model.py
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/efficient_keypoint_bbox_head.py
  luxonis_train/nodes/implicit_keypoint_bbox_head.py
  luxonis_train/utils/boxutils.py
  luxonis_train/utils/config.py
  luxonis_train/utils/general.py
  luxonis_train/utils/loaders/base_loader.py
  luxonis_train/utils/loaders/luxonis_loader_torch.py
  tests/configs/parking_lot_config.yaml
  tests/integration/conftest.py
  tests/integration/multi_input_modules.py
  tests/integration/test_sanity.py
Labels: enhancement, fix, tests

#51 Adaptive Detection Loss Speed-Up
  luxonis_train/attached_modules/losses/adaptive_detection_loss.py
Labels: enhancement

#59 Fixed Retrieving Labels in AdaptiveDetectionLoss
  luxonis_train/attached_modules/losses/adaptive_detection_loss.py
Labels: fix

#61 Semantic Nodes Categorization
  .github/workflows/tests.yaml
  luxonis_train/nodes/__init__.py
  luxonis_train/nodes/backbones/__init__.py
  luxonis_train/nodes/backbones/contextspatial.py
  luxonis_train/nodes/backbones/efficientnet.py
  luxonis_train/nodes/backbones/efficientrep.py
  luxonis_train/nodes/backbones/micronet.py
  luxonis_train/nodes/backbones/mobilenetv2.py
  luxonis_train/nodes/backbones/mobileone.py
  luxonis_train/nodes/backbones/repvgg.py
  luxonis_train/nodes/backbones/resnet.py
  luxonis_train/nodes/backbones/rexnetv1.py
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/heads/__init__.py
  luxonis_train/nodes/heads/bisenet_head.py
  luxonis_train/nodes/heads/classification_head.py
  luxonis_train/nodes/heads/efficient_bbox_head.py
  luxonis_train/nodes/heads/efficient_keypoint_bbox_head.py
  luxonis_train/nodes/heads/implicit_keypoint_bbox_head.py
  luxonis_train/nodes/heads/segmentation_head.py
  luxonis_train/nodes/necks/__init__.py
  luxonis_train/nodes/necks/reppan_neck.py
  media/coverage_badge.svg
  tests/integration/test_sanity.py
Labels: enhancement, tests

#62 Support for Multi-Split Views
  configs/README.md
  luxonis_train/__main__.py
  luxonis_train/core/core.py
  luxonis_train/core/utils/export_utils.py
  luxonis_train/utils/config.py
  luxonis_train/utils/loaders/base_loader.py
Labels: enhancement

#63 Option to Parse Data in `LuxonisLoaderTorch`
  .gitignore
  luxonis_train/attached_modules/metrics/common.py
  luxonis_train/core/core.py
  luxonis_train/utils/config.py
  luxonis_train/utils/loaders/luxonis_loader_torch.py
  tests/configs/segmentation_parse_loader.yaml
  tests/integration/test_sanity.py
Labels: enhancement, tests

#64 Fix Archiver
  .github/workflows/tests.yaml
  luxonis_train/core/core.py
  luxonis_train/core/utils/archive_utils.py
  requirements-dev.txt
  tests/configs/parking_lot_config.yaml
  tests/integration/conftest.py
  tests/integration/parking_lot.json
  tests/integration/test_sanity.py
Labels: fix, tests

#66 Generalized Progress Bar
  luxonis_train/callbacks/__init__.py
  luxonis_train/callbacks/luxonis_progress_bar.py
  luxonis_train/core/core.py
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/utils/config.py
  requirements.txt
Labels: enhancement

#65 Fail-Proof Checkpoint Usage in Callbacks
  luxonis_train/__main__.py
  luxonis_train/callbacks/archive_on_train_end.py
  luxonis_train/callbacks/export_on_train_end.py
  luxonis_train/callbacks/needs_checkpoint.py
  luxonis_train/core/core.py
  luxonis_train/utils/config.py
Labels: enhancement

#68 LuxonisML 0.3.0 Updates
  luxonis_train/core/core.py
  luxonis_train/utils/loaders/base_loader.py
  luxonis_train/utils/loaders/luxonis_loader_torch.py
  luxonis_train/utils/types.py
  tests/integration/test_sanity.py
Labels: enhancement
