Repository luxonis/luxonis-train, pull requests merged in 2024-10, with the labels that each got.

#84 Add video inference
  luxonis_train/__main__.py
  luxonis_train/core/core.py
  luxonis_train/core/utils/infer_utils.py
Labels: enhancement, CLI

#88 Change DDRNet Head Output Dtype
  luxonis_train/nodes/heads/ddrnet_segmentation_head.py
Labels: fix

#89 v0.1.0 - Metadata Update
  README.md
  luxonis_train/__init__.py
  pyproject.toml
Labels: release

#86 [Feat] Added name attribute to HeadType
  luxonis_train/core/utils/archive_utils.py
  luxonis_train/models/luxonis_lightning.py
Labels: enhancement

#87 Updates to the READMEs
  configs/README.md
  luxonis_train/attached_modules/losses/README.md
  luxonis_train/callbacks/README.md
  luxonis_train/nodes/README.md
Labels: documentation

#92 Fix Classification Heavy Name
  configs/classification_heavy_model.yaml
Labels: fix

#91 Resnet50 in Classification Heavy
  luxonis_train/config/predefined_models/classification_model.py
Labels: fix

#90 Fix Segmentation Model Aux Head Export
  luxonis_train/config/predefined_models/segmentation_model.py
  luxonis_train/nodes/heads/ddrnet_segmentation_head.py
Labels: fix

#93 NN Archive - v1.1
  luxonis_train/core/core.py
  tests/integration/parking_lot.json
Labels: enhancement

#94 Improve DDRNet by replacing AvgPool2d with Conv2d layers
  luxonis_train/nodes/backbones/ddrnet/blocks.py
Labels: enhancement

#96 Archive without Export
  luxonis_train/__main__.py
  luxonis_train/callbacks/archive_on_train_end.py
  luxonis_train/callbacks/export_on_train_end.py
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  luxonis_train/core/utils/archive_utils.py
  luxonis_train/nodes/heads/ddrnet_segmentation_head.py
Labels: enhancement, CLI

#95 Generalized `luxonis_train inspect`
  luxonis_train/__main__.py
Labels: enhancement, CLI

#98 Remove `ImplicitKeypointBBoxHead`
  luxonis_train/attached_modules/losses/__init__.py
  luxonis_train/attached_modules/losses/implicit_keypoint_bbox_loss.py
  luxonis_train/attached_modules/losses/keypoint_loss.py
  luxonis_train/core/utils/archive_utils.py
  luxonis_train/nodes/blocks/__init__.py
  luxonis_train/nodes/blocks/blocks.py
  luxonis_train/nodes/enums/head_categorization.py
  luxonis_train/nodes/heads/__init__.py
  luxonis_train/nodes/heads/implicit_keypoint_bbox_head.py
  luxonis_train/utils/__init__.py
  luxonis_train/utils/boundingbox.py
  luxonis_train/utils/dataset_metadata.py
  luxonis_train/utils/keypoints.py
  tests/configs/archive_config.yaml
  tests/configs/parking_lot_config.yaml
  tests/integration/parking_lot.json
  tests/integration/test_detection.py
  tests/integration/test_simple.py
  tests/unittests/test_utils/test_boxutils.py
  tests/unittests/test_utils/test_dataset_metadata.py
  tests/unittests/test_utils/test_keypoints.py
Labels: fix

#101 Updated README
  README.md
  configs/README.md
  configs/classification_heavy_model.yaml
  configs/classification_light_model.yaml
  configs/complex_model.yaml
  configs/detection_heavy_model.yaml
  configs/detection_light_model.yaml
  configs/example_export.yaml
  configs/example_tuning.yaml
  configs/keypoint_bbox_heavy_model.yaml
  configs/keypoint_bbox_light_model.yaml
  configs/segmentation_heavy_model.yaml
  configs/segmentation_light_model.yaml
  luxonis_train/__main__.py
  luxonis_train/attached_modules/losses/README.md
  luxonis_train/attached_modules/metrics/README.md
  luxonis_train/attached_modules/visualizers/README.md
  luxonis_train/callbacks/README.md
  luxonis_train/config/predefined_models/README.md
  luxonis_train/core/core.py
  luxonis_train/loaders/README.md
  luxonis_train/loaders/base_loader.py
  luxonis_train/loaders/luxonis_loader_torch.py
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/nodes/README.md
  luxonis_train/utils/registry.py
  media/coverage_badge.svg
  media/pybadge.svg
  pyproject.toml
  tests/configs/ddrnet.yaml
  tests/configs/parking_lot_config.yaml
  tests/configs/segmentation_parse_loader.yaml
Labels: CLI

#100 Inference Fix
  .github/workflows/ci.yaml
  .gitignore
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/metrics/object_keypoint_similarity.py
  luxonis_train/attached_modules/visualizers/base_visualizer.py
  luxonis_train/attached_modules/visualizers/bbox_visualizer.py
  luxonis_train/attached_modules/visualizers/classification_visualizer.py
  luxonis_train/attached_modules/visualizers/keypoint_visualizer.py
  luxonis_train/attached_modules/visualizers/multi_visualizer.py
  luxonis_train/attached_modules/visualizers/segmentation_visualizer.py
  luxonis_train/attached_modules/visualizers/utils.py
  luxonis_train/core/core.py
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/core/utils/tune_utils.py
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/nodes/backbones/mobileone/mobileone.py
  luxonis_train/nodes/backbones/repvgg/repvgg.py
  luxonis_train/nodes/blocks/blocks.py
  tests/integration/test_simple.py
Labels: fix

#97 Docstring Typos
  luxonis_train/assigners/__init__.py
  luxonis_train/assigners/atss_assigner.py
  luxonis_train/assigners/tal_assigner.py
  luxonis_train/assigners/utils.py
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/losses/adaptive_detection_loss.py
  luxonis_train/attached_modules/losses/base_loss.py
  luxonis_train/attached_modules/losses/efficient_keypoint_bbox_loss.py
  luxonis_train/attached_modules/metrics/base_metric.py
  luxonis_train/attached_modules/metrics/mean_average_precision_keypoints.py
  luxonis_train/attached_modules/metrics/object_keypoint_similarity.py
  luxonis_train/attached_modules/visualizers/__init__.py
  luxonis_train/attached_modules/visualizers/utils.py
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  luxonis_train/core/utils/export_utils.py
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/core/utils/tune_utils.py
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/nodes/backbones/ddrnet/blocks.py
  luxonis_train/nodes/backbones/mobileone/blocks.py
  luxonis_train/nodes/backbones/mobileone/mobileone.py
  luxonis_train/nodes/base_node.py
  luxonis_train/utils/boundingbox.py
  tests/unittests/test_assigners/test_atss_assigner.py
Labels: documentation

#105 Moved `assigner` and `labeler` to a separate workflow
  .github/workflows/add-metadata.yaml
  .github/workflows/ci.yaml
Labels: DevOps

#106 Fix duplicate Customizations in README.md
  README.md
Labels: documentation, fix

#107 Fix Customization Example
  README.md
Labels: documentation, fix

#108 Updated Labeler Config
  .github/labeler.yaml
Labels: DevOps

#109 Removed GitHub version of `luxonis-ml` from `requirements-dev.txt`
  requirements-dev.txt
Labels: fix

#112 Add export output names specification for individual nodes
  configs/README.md
  configs/example_export.yaml
  luxonis_train/core/utils/archive_utils.py
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/heads/efficient_bbox_head.py
  luxonis_train/nodes/heads/efficient_keypoint_bbox_head.py
  tests/configs/archive_config.yaml
  tests/integration/parking_lot.json
Labels: enhancement, release

#110 Add support for multi-label visualization
  luxonis_train/attached_modules/metrics/README.md
  luxonis_train/attached_modules/visualizers/README.md
  luxonis_train/attached_modules/visualizers/classification_visualizer.py
Labels: fix, release

#111 SequentialLR Scheduler
  luxonis_train/models/luxonis_lightning.py
  tests/integration/test_scheduler.py
Labels: enhancement, release

#117 Add OHEM losses
  luxonis_train/attached_modules/losses/__init__.py
  luxonis_train/attached_modules/losses/ohem_bce_with_logits.py
  luxonis_train/attached_modules/losses/ohem_cross_entropy.py
  luxonis_train/attached_modules/losses/ohem_loss.py
  luxonis_train/config/predefined_models/segmentation_model.py
  tests/integration/parking_lot.json
  tests/unittests/test_losses/test_ohem_losses.py
Labels: enhancement

#114 Add model EMA (Exponential Moving Average)
  luxonis_train/callbacks/README.md
  luxonis_train/callbacks/__init__.py
  luxonis_train/callbacks/ema.py
  luxonis_train/config/config.py
  tests/unittests/test_callbacks/test_ema.py
Labels: enhancement, release

#113 Mixed Precision Training
  luxonis_train/attached_modules/losses/adaptive_detection_loss.py
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  luxonis_train/models/luxonis_lightning.py
Labels: fix, release
