Repository luxonis/luxonis-train, pull requests merged in 2024-09, with the labels that each got.

#67 Config `pin_memory` Option
  luxonis_train/core/core.py
  luxonis_train/utils/config.py
Labels: enhancement

#75 Update CI Badge
  README.md
Labels: documentation

#74 [Fix] Updated `EfficientBBoxHead` parser to `YOLO`
  luxonis_train/nodes/enums/head_categorization.py
  tests/integration/parking_lot.json
Labels: fix

#70 DDRNet for Semantic Segmentation
  configs/ddrnet_segmentation_model.yaml
  luxonis_train/models/predefined_models/__init__.py
  luxonis_train/models/predefined_models/ddrnet_segmentation_model.py
  luxonis_train/nodes/backbones/__init__.py
  luxonis_train/nodes/backbones/ddrnet/__init__.py
  luxonis_train/nodes/backbones/ddrnet/blocks.py
  luxonis_train/nodes/backbones/ddrnet/ddrnet.py
  luxonis_train/nodes/backbones/ddrnet/variants.py
  luxonis_train/nodes/blocks/__init__.py
  luxonis_train/nodes/blocks/blocks.py
  luxonis_train/nodes/heads/__init__.py
  luxonis_train/nodes/heads/ddrnet_segmentation_head.py
  luxonis_train/utils/config.py
  tests/integration/test_simple.py
Labels: enhancement, tests

#76 Upsample mode parameter for UpBlock
  luxonis_train/nodes/blocks/blocks.py
  media/coverage_badge.svg
Labels: enhancement

#82 Feat/inference
  luxonis_train/__main__.py
  luxonis_train/core/core.py
  luxonis_train/core/utils/infer_utils.py
Labels: enhancement, tests, DevOps, CLI, release

#79 Simplified Node Configuration
  configs/coco_model.yaml
  configs/resnet_model.yaml
  luxonis_train/config/config.py
  requirements-config.txt
Labels: enhancement

#83 Train-Only Heads
  luxonis_train/config/config.py
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/nodes/base_node.py
  tests/configs/ddrnet.yaml
  tests/integration/test_remove_on_export.py
Labels: enhancement, tests
