Repository luxonis/luxonis-train, pull requests merged in 2025-01, with the labels that each got.

#148 Updated weights loading for DDRNet
  luxonis_train/nodes/backbones/ddrnet/variants.py
  luxonis_train/nodes/heads/ddrnet_segmentation_head.py
Labels: fix

#145 fix: ddp bug
  luxonis_train/attached_modules/metrics/mean_average_precision.py
  luxonis_train/attached_modules/metrics/mean_average_precision_keypoints.py
Labels: fix

#150 add confusion matrix to predefined models
  luxonis_train/attached_modules/metrics/confusion_matrix.py
  luxonis_train/config/predefined_models/classification_model.py
  luxonis_train/config/predefined_models/detection_model.py
  luxonis_train/config/predefined_models/keypoint_detection_model.py
  luxonis_train/config/predefined_models/segmentation_model.py
Labels: enhancement

#153 Updated predefined models README with inference speeds.
  luxonis_train/config/predefined_models/README.md
Labels: documentation, enhancement

#152 Fix FOMO head
  luxonis_train/attached_modules/losses/README.md
  luxonis_train/attached_modules/losses/fomo_localization_loss.py
  luxonis_train/config/predefined_models/README.md
  luxonis_train/config/predefined_models/detection_fomo_model.py
  luxonis_train/nodes/README.md
  luxonis_train/nodes/heads/fomo_head.py
Labels: documentation, fix

#154 Feature Efficientvit
  luxonis_train/nodes/README.md
  luxonis_train/nodes/backbones/__init__.py
  luxonis_train/nodes/backbones/efficientvit/__init__.py
  luxonis_train/nodes/backbones/efficientvit/blocks.py
  luxonis_train/nodes/backbones/efficientvit/efficientvit.py
  luxonis_train/nodes/backbones/efficientvit/variants.py
  luxonis_train/nodes/blocks/blocks.py
Labels: documentation, enhancement

#156 fix ema checkpoint loading
  configs/README.md
  luxonis_train/__main__.py
  luxonis_train/callbacks/ema.py
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  tests/unittests/test_callbacks/test_ema.py
Labels: documentation, enhancement, CLI

#155 Fix: Ensure Compatibility of Detection Model Input Shape
  luxonis_train/nodes/necks/reppan_neck/reppan_neck.py
Labels: fix

#159 Embeddings Models
  .pre-commit-config.yaml
  configs/embeddings_model.yaml
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/losses/README.md
  luxonis_train/attached_modules/losses/__init__.py
  luxonis_train/attached_modules/losses/embedding_losses.py
  luxonis_train/attached_modules/metrics/README.md
  luxonis_train/attached_modules/metrics/__init__.py
  luxonis_train/attached_modules/metrics/embedding_metrics.py
  luxonis_train/attached_modules/metrics/torchmetrics.py
  luxonis_train/attached_modules/visualizers/README.md
  luxonis_train/attached_modules/visualizers/__init__.py
  luxonis_train/attached_modules/visualizers/embeddings_visualizer.py
  luxonis_train/attached_modules/visualizers/utils.py
  luxonis_train/callbacks/ema.py
  luxonis_train/config/config.py
  luxonis_train/enums.py
  luxonis_train/loaders/base_loader.py
  luxonis_train/loaders/luxonis_loader_torch.py
  luxonis_train/loaders/utils.py
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/nodes/README.md
  luxonis_train/nodes/backbones/__init__.py
  luxonis_train/nodes/backbones/ddrnet/ddrnet.py
  luxonis_train/nodes/backbones/ghostfacenet/__init__.py
  luxonis_train/nodes/backbones/ghostfacenet/blocks.py
  luxonis_train/nodes/backbones/ghostfacenet/ghostfacenet.py
  luxonis_train/nodes/backbones/ghostfacenet/variants.py
  luxonis_train/nodes/backbones/micronet/blocks.py
  luxonis_train/nodes/backbones/mobileone/blocks.py
  luxonis_train/nodes/backbones/rexnetv1.py
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/blocks/blocks.py
  luxonis_train/nodes/heads/__init__.py
  luxonis_train/nodes/heads/ghostfacenet_head.py
  luxonis_train/utils/dataset_metadata.py
  requirements.txt
  tests/integration/conftest.py
  tests/integration/test_embeddings.py
  tests/unittests/test_base_attached_module.py
  tests/unittests/test_callbacks/test_ema.py
Labels: documentation, enhancement

#161 fix assigners
  luxonis_train/assigners/tal_assigner.py
  luxonis_train/attached_modules/losses/adaptive_detection_loss.py
  luxonis_train/attached_modules/losses/efficient_keypoint_bbox_loss.py
  tests/unittests/test_assigners/test_tal_assigner.py
Labels: fix
