Repository luxonis/luxonis-train, pull requests merged in 2025-04, with the labels that each got.

#216 Fix: loss, archive, ema
  luxonis_train/callbacks/ema.py
  luxonis_train/core/utils/archive_utils.py
  luxonis_train/lightning/luxonis_lightning.py
  tests/unittests/test_callbacks/test_ema.py
  tests/unittests/test_strategies/__init__.py
  tests/unittests/test_strategies/test_triple_lr_sgd.py
Labels: fix

#217 Fix for registering predefined models in Config
  configs/README.md
  luxonis_train/config/__init__.py
Labels: documentation, fix

#219 Add two new segmentation related metrics, DiceCoefficient and MIoU
  .pre-commit-config.yaml
  luxonis_train/attached_modules/metrics/__init__.py
  luxonis_train/attached_modules/metrics/dice_coefficient.py
  luxonis_train/attached_modules/metrics/mean_iou.py
  luxonis_train/nodes/backbones/efficientvit/blocks.py
  luxonis_train/nodes/blocks/blocks.py
  tests/unittests/test_metrics/test_segmentation_metrics.py
Labels: enhancement

#220 Fix Export Save Path
  configs/README.md
  luxonis_train/__main__.py
  luxonis_train/core/core.py
  requirements.txt
  tests/integration/test_cli_commands.py
  tests/integration/test_remove_on_export.py
  tests/integration/test_simple.py
Labels: documentation, fix, CLI

#222 Fix failing docstrings
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/metrics/base_metric.py
Labels: fix

#221 Fix/tuner issues
  configs/README.md
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  luxonis_train/lightning/luxonis_lightning.py
  tests/integration/test_mlflow_logging.py
Labels: documentation, fix

#227 Prevent Double Norm
  luxonis_train/config/config.py
  tests/integration/test_model_config.py
Labels: fix

#225 Align with Luxonis-ML Push/Pull/Clone/Merge
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/loaders/luxonis_loader_torch.py
  tests/integration/conftest.py
  tests/integration/test_mlflow_logging.py
Labels: fix

#224 Faster Loader
  luxonis_train/core/core.py
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: fix

#226 Smarter Image Logging
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/lightning/utils.py
  tests/integration/test_mlflow_logging.py
Labels: fix

#228 Link To Examples
  README.md
Labels: documentation, fix

#230 CI: Fixed package version in config test
  .github/workflows/ci.yaml
Labels: fix, tests
