Repository luxonis/luxonis-train, pull requests merged in 2025-02, with the labels that each got.

#163 Fix Keypoint & Instance Segmentation Training Hyperparameters
  configs/README.md
  configs/detection_heavy_model.yaml
  configs/detection_light_model.yaml
  configs/instance_segmentation_heavy_model.yaml
  configs/instance_segmentation_light_model.yaml
  configs/keypoint_bbox_heavy_model.yaml
  configs/keypoint_bbox_light_model.yaml
  luxonis_train/attached_modules/losses/efficient_keypoint_bbox_loss.py
  luxonis_train/attached_modules/losses/precision_dlf_segmentation_loss.py
  luxonis_train/attached_modules/metrics/README.md
  luxonis_train/config/config.py
  luxonis_train/config/predefined_models/anomaly_detection_model.py
  luxonis_train/config/predefined_models/classification_model.py
  luxonis_train/config/predefined_models/detection_fomo_model.py
  luxonis_train/config/predefined_models/detection_model.py
  luxonis_train/config/predefined_models/instance_segmentation_model.py
  luxonis_train/config/predefined_models/keypoint_detection_model.py
  luxonis_train/config/predefined_models/segmentation_model.py
  luxonis_train/core/utils/train_utils.py
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/strategies/README.md
  luxonis_train/strategies/triple_lr_sgd.py
Labels: documentation, fix

#164 `loguru`
  luxonis_train/__init__.py
  luxonis_train/__main__.py
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/losses/adaptive_detection_loss.py
  luxonis_train/attached_modules/losses/cross_entropy.py
  luxonis_train/attached_modules/losses/ctc_loss.py
  luxonis_train/attached_modules/losses/embedding_losses.py
  luxonis_train/attached_modules/losses/fomo_localization_loss.py
  luxonis_train/attached_modules/losses/precision_dfl_detection_loss.py
  luxonis_train/attached_modules/losses/precision_dlf_segmentation_loss.py
  luxonis_train/attached_modules/losses/reconstruction_segmentation_loss.py
  luxonis_train/attached_modules/losses/softmax_focal_loss.py
  luxonis_train/attached_modules/metrics/object_keypoint_similarity.py
  luxonis_train/attached_modules/metrics/ocr_accuracy.py
  luxonis_train/attached_modules/metrics/torchmetrics.py
  luxonis_train/attached_modules/visualizers/embeddings_visualizer.py
  luxonis_train/attached_modules/visualizers/instance_segmentation_visualizer.py
  luxonis_train/attached_modules/visualizers/segmentation_visualizer.py
  luxonis_train/callbacks/archive_on_train_end.py
  luxonis_train/callbacks/ema.py
  luxonis_train/callbacks/export_on_train_end.py
  luxonis_train/callbacks/gradcam_visializer.py
  luxonis_train/callbacks/module_freezer.py
  luxonis_train/callbacks/needs_checkpoint.py
  luxonis_train/callbacks/upload_checkpoint.py
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  luxonis_train/core/utils/archive_utils.py
  luxonis_train/core/utils/export_utils.py
  luxonis_train/core/utils/tune_utils.py
  luxonis_train/loaders/luxonis_loader_torch.py
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/nodes/backbones/ddrnet/ddrnet.py
  luxonis_train/nodes/backbones/efficientrep/efficientrep.py
  luxonis_train/nodes/backbones/mobileone/mobileone.py
  luxonis_train/nodes/backbones/pplcnet_v3/pplcnet_v3.py
  luxonis_train/nodes/backbones/repvgg/repvgg.py
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/heads/ddrnet_segmentation_head.py
  luxonis_train/nodes/heads/efficient_bbox_head.py
  luxonis_train/nodes/heads/efficient_keypoint_bbox_head.py
  luxonis_train/nodes/heads/fomo_head.py
  luxonis_train/nodes/heads/precision_bbox_head.py
  luxonis_train/nodes/heads/precision_seg_bbox_head.py
  luxonis_train/nodes/necks/reppan_neck/reppan_neck.py
  luxonis_train/nodes/necks/svtr_neck/svtr_neck.py
  luxonis_train/utils/__init__.py
  luxonis_train/utils/general.py
  luxonis_train/utils/keypoints.py
  luxonis_train/utils/logging.py
  luxonis_train/utils/ocr.py
Labels: enhancement, CLI

#168 Moved alphabet resolving for OCR model
  .github/workflows/ci.yaml
  luxonis_train/config/predefined_models/ocr_recognition_model.py
  luxonis_train/nodes/heads/ocr_ctc_head.py
  luxonis_train/utils/ocr.py
Labels: fix

#167 Fix Bug in Anomaly Detection Model
  luxonis_train/attached_modules/losses/reconstruction_segmentation_loss.py
  luxonis_train/attached_modules/losses/softmax_focal_loss.py
  luxonis_train/config/predefined_models/README.md
  luxonis_train/config/predefined_models/anomaly_detection_model.py
  luxonis_train/loaders/base_loader.py
  luxonis_train/loaders/luxonis_perlin_loader_torch.py
Labels: documentation, fix

#169 Tuner: Remove Failing and Non-Working Callbacks
  luxonis_train/core/core.py
Labels: fix

#171 Apply the EMA weights for testing.
  luxonis_train/callbacks/ema.py
Labels: fix, tests

#170 Fix for OCR docs
  luxonis_train/nodes/README.md
Labels: documentation, fix

#172 save training_config.yaml
  luxonis_train/core/core.py
Labels: enhancement

#173 Removed sigmoid from exported kpts head for more stable quantization
  luxonis_train/nodes/heads/efficient_keypoint_bbox_head.py
Labels: fix

#175 Sort classes alphabetically
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/visualizers/bbox_visualizer.py
  luxonis_train/attached_modules/visualizers/classification_visualizer.py
  luxonis_train/attached_modules/visualizers/instance_segmentation_visualizer.py
  luxonis_train/config/predefined_models/anomaly_detection_model.py
  luxonis_train/loaders/base_loader.py
  luxonis_train/loaders/luxonis_loader_torch.py
  luxonis_train/nodes/base_node.py
  luxonis_train/utils/dataset_metadata.py
  tests/integration/multi_input_modules.py
  tests/integration/parking_lot.json
  tests/unittests/test_utils/test_dataset_metadata.py
Labels: fix

#176 Added semgrep workflow
  .github/workflows/semgrep.yaml
  .pre-commit-config.yaml
  luxonis_train/__main__.py
  luxonis_train/callbacks/upload_checkpoint.py
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/blocks/blocks.py
  luxonis_train/nodes/necks/svtr_neck/blocks.py
  requirements-dev.txt
  tests/integration/test_cli_commands.py
Labels: enhancement, CLI

#177 feat: add per-class weighting option to AdaptiveDetectionLoss
  luxonis_train/attached_modules/losses/README.md
  luxonis_train/attached_modules/losses/adaptive_detection_loss.py
Labels: documentation, enhancement

#179 Fix keypoints loss and assignment when no annotations are present
  .github/workflows/ci.yaml
  luxonis_train/__init__.py
  luxonis_train/assigners/tal_assigner.py
  luxonis_train/attached_modules/losses/efficient_keypoint_bbox_loss.py
  requirements.txt
Labels: fix

#181 Removed `semgrep` from pre-commit hooks
  .pre-commit-config.yaml
Labels: fix

#182 Enhance TAL with OKS
  luxonis_train/assigners/tal_assigner.py
  luxonis_train/attached_modules/losses/adaptive_detection_loss.py
  luxonis_train/attached_modules/losses/efficient_keypoint_bbox_loss.py
  luxonis_train/attached_modules/metrics/object_keypoint_similarity.py
  luxonis_train/utils/__init__.py
  luxonis_train/utils/keypoints.py
Labels: fix

#180 Fix/docs improvements
  README.md
  configs/README.md
  luxonis_train/attached_modules/losses/README.md
  luxonis_train/attached_modules/metrics/README.md
  luxonis_train/attached_modules/metrics/confusion_matrix.py
  luxonis_train/attached_modules/visualizers/README.md
  luxonis_train/attached_modules/visualizers/classification_visualizer.py
  luxonis_train/attached_modules/visualizers/embeddings_visualizer.py
  luxonis_train/callbacks/README.md
  luxonis_train/config/predefined_models/README.md
  luxonis_train/loaders/README.md
  luxonis_train/loaders/luxonis_perlin_loader_torch.py
  luxonis_train/nodes/README.md
  media/example_viz/anomaly_det.png
  media/example_viz/bbox.png
  media/example_viz/class.png
  media/example_viz/embeddings.png
  media/example_viz/fomo.png
  media/example_viz/instance_seg.png
  media/example_viz/kpts.png
  media/example_viz/ocr.png
  media/example_viz/seg.png
  media/example_viz/segmentation.png
  media/example_viz/title.png
  tests/unittests/test_metrics/test_confusion_matrix.py
Labels: documentation, fix
