Repository luxonis/luxonis-train, pull requests merged in 2025-05, with the labels that each got.

#231 Make tests.yaml a reusable workflow
  .github/workflows/tests.yaml
Labels: fix, tests

#229 Fix `update_mode`
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/loaders/README.md
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: documentation, fix

#233 Fix tests.yaml
  .github/workflows/tests.yaml
Labels: fix, tests

#235 Fix requirements.txt
  requirements.txt
  tests/integration/test_mlflow_logging.py
Labels: fix

#234 Add `lr_after_unfreeze`
  configs/README.md
  luxonis_train/callbacks/training_manager.py
  luxonis_train/config/config.py
  luxonis_train/lightning/utils.py
  tests/integration/test_simple.py
Labels: documentation, fix

#236 Test Fallback to bf16 on CPU
  luxonis_train/attached_modules/visualizers/classification_visualizer.py
  tests/integration/test_simple.py
Labels: fix

#232 Fix: CLI `--source` argument
  pyproject.toml
Labels: fix

#240 Add dilation attribute to DepthwiseSeparableConv
  luxonis_train/nodes/backbones/efficientvit/blocks.py
Labels: enhancement
