Repository luxonis/luxonis-train, pull requests merged in 2025-09, with the labels that each got.

#293 Tests: GradCamCallback
  luxonis_train/callbacks/gradcam_visualizer.py
  tests/integration/test_callbacks.py
Labels: tests

#294 Miscellaneous cleanup updates
  .github/workflows/update-cov-report.yaml
  .pre-commit-config.yaml
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/losses/base_loss.py
  luxonis_train/attached_modules/losses/reconstruction_segmentation_loss.py
  luxonis_train/attached_modules/metrics/base_metric.py
  luxonis_train/attached_modules/visualizers/base_visualizer.py
  luxonis_train/attached_modules/visualizers/utils.py
  luxonis_train/core/core.py
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/loaders/luxonis_perlin_loader_torch.py
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/heads/base_head.py
  luxonis_train/nodes/heads/discsubnet_head/discsubnet_head.py
  luxonis_train/typing.py
  luxonis_train/utils/general.py
  luxonis_train/utils/spatial_transforms.py
  luxonis_train/utils/tracker.py
  tests/integration/test_cli_commands.py
  tests/integration/test_freezing.py
  tests/integration/test_loader.py
  tests/integration/test_mlflow_logging.py
  tests/unittests/test_base_node.py
  tests/unittests/test_losses/test_reconstruction_segmentation_loss.py
  tests/unittests/test_strategies/test_triple_lr_sgd.py
  tests/unittests/test_utils/test_boxutils.py
  tests/unittests/test_utils/test_general.py
Labels: enhancement

#296 Replaced custom temp dir fixtures with pytest ones
  .gitignore
  pyproject.toml
  tests/conftest.py
  tests/integration/test_cli_commands.py
  tests/integration/test_core.py
  tests/integration/test_custom_model.py
  tests/integration/test_mlflow_logging.py
  tests/integration/test_predefined_models.py
  tests/integration/test_smart_logging.py
  tests/unittests/test_config.py
Labels: tests

#295 Custom keypoints mappings
  luxonis_train/loaders/README.md
  luxonis_train/loaders/base_loader.py
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: documentation, enhancement

#292 Allow CV2 window to be resized
  luxonis_train/__main__.py
Labels: enhancement, tests, CLI

#299 Removal of deprecated code
  configs/README.md
  luxonis_train/attached_modules/losses/base_loss.py
  luxonis_train/attached_modules/losses/embedding_losses.py
  luxonis_train/attached_modules/losses/ohem_loss.py
  luxonis_train/attached_modules/losses/smooth_bce_with_logits.py
  luxonis_train/callbacks/luxonis_progress_bar.py
  luxonis_train/config/config.py
  luxonis_train/config/predefined_models/README.md
  luxonis_train/config/predefined_models/anomaly_detection_model.py
  luxonis_train/config/predefined_models/base_predefined_model.py
  luxonis_train/config/predefined_models/classification_model.py
  luxonis_train/config/predefined_models/detection_fomo_model.py
  luxonis_train/config/predefined_models/detection_model.py
  luxonis_train/config/predefined_models/instance_segmentation_model.py
  luxonis_train/config/predefined_models/keypoint_detection_model.py
  luxonis_train/config/predefined_models/ocr_recognition_model.py
  luxonis_train/config/predefined_models/segmentation_model.py
  luxonis_train/core/core.py
  luxonis_train/core/utils/annotate_utils.py
  luxonis_train/core/utils/archive_utils.py
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/lightning/utils.py
  luxonis_train/loaders/debug_loader.py
  luxonis_train/nodes/README.md
  luxonis_train/nodes/base_node.py
  luxonis_train/nodes/heads/fomo_head.py
  luxonis_train/utils/dataset_metadata.py
  tests/files/execution_order.json
  tests/integration/test_callbacks.py
  tests/integration/test_combinations.py
  tests/integration/test_core.py
  tests/integration/test_predefined_models.py
  tests/integration/test_smart_logging.py
  tests/unittests/test_base_attached_module.py
  tests/unittests/test_config.py
Labels: documentation, enhancement
