Repository luxonis/luxonis-train, pull requests merged in 2025-03, with the labels that each got.

#183 link to examples
  README.md
  examples/README.md
Labels: documentation, fix

#185 Matched subtype of models to DAI subtype
  luxonis_train/nodes/heads/efficient_bbox_head.py
  luxonis_train/nodes/heads/efficient_keypoint_bbox_head.py
  tests/integration/parking_lot.json
Labels: fix

#184 Fix strides shape
  luxonis_train/nodes/heads/efficient_bbox_head.py
Labels: fix

#188 Fix: Loading saved configs
  luxonis_train/callbacks/metadata_logger.py
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  tests/integration/conftest.py
  tests/integration/test_simple.py
Labels: fix

#190 Fix the prototype's instance segmentation model attach index
  luxonis_train/config/predefined_models/README.md
  luxonis_train/nodes/heads/precision_seg_bbox_head.py
Labels: documentation, fix

#187 Loader `update_mode`
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: enhancement

#191 Improved tests
  luxonis_train/callbacks/test_on_train_end.py
  luxonis_train/models/luxonis_lightning.py
  tests/configs/ddrnet.yaml
  tests/configs/smart_cfg_populate_config.yaml
  tests/integration/test_simple.py
Labels: fix

#192 fix missing task names
  configs/README.md
  luxonis_train/config/predefined_models/anomaly_detection_model.py
  luxonis_train/config/predefined_models/classification_model.py
  luxonis_train/config/predefined_models/detection_fomo_model.py
  luxonis_train/config/predefined_models/detection_model.py
  luxonis_train/config/predefined_models/instance_segmentation_model.py
  luxonis_train/config/predefined_models/keypoint_detection_model.py
  luxonis_train/config/predefined_models/ocr_recognition_model.py
  luxonis_train/config/predefined_models/segmentation_model.py
  luxonis_train/models/luxonis_lightning.py
Labels: documentation, fix

#200 Fix: Blob path
  luxonis_train/core/core.py
  luxonis_train/core/utils/export_utils.py
Labels: fix

#194 Ligther and Improved Tests
  luxonis_train/utils/dataset_metadata.py
  tests/configs/archive_config.yaml
  tests/configs/config_simple.yaml
  tests/configs/ddrnet.yaml
  tests/configs/parking_lot_config.yaml
  tests/configs/segmentation_parse_loader.yaml
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/multi_input_modules.py
  tests/integration/parking_lot.json
  tests/integration/test_cli_commands.py
  tests/integration/test_detection.py
  tests/integration/test_fixed_validation_batch_limit.py
  tests/integration/test_remove_on_export.py
  tests/integration/test_scheduler.py
  tests/integration/test_segmentation.py
  tests/integration/test_simple.py
  tests/integration/test_unsupervised_anomaly_detection.py
  tests/unittests/test_assigners/test_atss_assigner.py
  tests/unittests/test_assigners/test_tal_assigner.py
  tests/unittests/test_base_attached_module.py
  tests/unittests/test_base_node.py
  tests/unittests/test_callbacks/test_ema.py
  tests/unittests/test_loaders/test_base_loader.py
  tests/unittests/test_losses/test_ohem_losses.py
  tests/unittests/test_metrics/__init__.py
  tests/unittests/test_metrics/test_confusion_matrix.py
  tests/unittests/test_metrics/test_torchmetrics.py
  tests/unittests/test_utils/test_boxutils.py
  tests/unittests/test_utils/test_dataset_metadata.py
  tests/unittests/test_utils/test_general.py
  tests/unittests/test_utils/test_graph.py
  tests/unittests/test_utils/test_keypoints.py
Labels: tests

#195 CLI: Migration from `typer` to `cyclopts`
  luxonis_train/__init__.py
  luxonis_train/__main__.py
  requirements.txt
  tests/integration/test_cli_commands.py
Labels: enhancement, CLI

#196 Metrics Cleanup
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  configs/README.md
  examples/README.md
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/losses/fomo_localization_loss.py
  luxonis_train/attached_modules/metrics/README.md
  luxonis_train/attached_modules/metrics/__init__.py
  luxonis_train/attached_modules/metrics/base_metric.py
  luxonis_train/attached_modules/metrics/confusion_matrix.py
  luxonis_train/attached_modules/metrics/confusion_matrix/__init__.py
  luxonis_train/attached_modules/metrics/confusion_matrix/confusion_matrix.py
  luxonis_train/attached_modules/metrics/confusion_matrix/detection_confusion_matrix.py
  luxonis_train/attached_modules/metrics/confusion_matrix/instance_segmentation_confusion_matrix.py
  luxonis_train/attached_modules/metrics/confusion_matrix/recognition_confusion_matrix.py
  luxonis_train/attached_modules/metrics/confusion_matrix/utils.py
  luxonis_train/attached_modules/metrics/embedding_metrics.py
  luxonis_train/attached_modules/metrics/mean_average_precision/__init__.py
  luxonis_train/attached_modules/metrics/mean_average_precision/mean_average_precision.py
  luxonis_train/attached_modules/metrics/mean_average_precision/mean_average_precision_bbox.py
  luxonis_train/attached_modules/metrics/mean_average_precision/mean_average_precision_keypoints.py
  luxonis_train/attached_modules/metrics/mean_average_precision/mean_average_precision_segmentation.py
  luxonis_train/attached_modules/metrics/mean_average_precision/utils.py
  luxonis_train/attached_modules/metrics/object_keypoint_similarity.py
  luxonis_train/attached_modules/metrics/ocr_accuracy.py
  luxonis_train/attached_modules/metrics/torchmetrics.py
  luxonis_train/attached_modules/metrics/utils.py
  luxonis_train/attached_modules/visualizers/README.md
  luxonis_train/config/predefined_models/README.md
  luxonis_train/config/predefined_models/detection_model.py
  luxonis_train/config/predefined_models/instance_segmentation_model.py
  luxonis_train/config/predefined_models/segmentation_model.py
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/nodes/README.md
  luxonis_train/nodes/heads/fomo_head.py
  luxonis_train/nodes/heads/precision_seg_bbox_head.py
  luxonis_train/tasks.py
  luxonis_train/utils/__init__.py
  luxonis_train/utils/general.py
  luxonis_train/utils/keypoints.py
  requirements.txt
  tests/integration/test_fixed_validation_batch_limit.py
  tests/integration/test_remove_on_export.py
  tests/integration/test_simple.py
  tests/unittests/test_base_attached_module.py
  tests/unittests/test_metrics/test_confusion_matrix.py
  tests/unittests/test_utils/test_general.py
Labels: documentation, enhancement

#199 Feature: FOMO Confusion Matrix
  luxonis_train/attached_modules/losses/README.md
  luxonis_train/attached_modules/losses/fomo_localization_loss.py
  luxonis_train/attached_modules/metrics/confusion_matrix/__init__.py
  luxonis_train/attached_modules/metrics/confusion_matrix/confusion_matrix.py
  luxonis_train/attached_modules/metrics/confusion_matrix/detection_confusion_matrix.py
  luxonis_train/attached_modules/metrics/confusion_matrix/fomo_confusion_matrix.py
  luxonis_train/attached_modules/metrics/confusion_matrix/instance_segmentation_confusion_matrix.py
  luxonis_train/attached_modules/metrics/confusion_matrix/recognition_confusion_matrix.py
  luxonis_train/attached_modules/metrics/confusion_matrix/utils.py
  luxonis_train/config/config.py
  luxonis_train/config/predefined_models/README.md
  luxonis_train/config/predefined_models/detection_fomo_model.py
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/nodes/heads/fomo_head.py
  luxonis_train/utils/__init__.py
  luxonis_train/utils/boundingbox.py
  tests/unittests/test_metrics/test_confusion_matrix.py
Labels: documentation, fix, tests

#204 Add unit tests for attached modules
  tests/unittests/test_losses/test_adaptive_detection_loss.py
  tests/unittests/test_losses/test_cross_entropy_loss.py
  tests/unittests/test_losses/test_ctc_loss.py
  tests/unittests/test_losses/test_efficient_keypoint_bbox_loss.py
  tests/unittests/test_losses/test_embedding_losses.py
  tests/unittests/test_losses/test_fomo_localization_loss.py
  tests/unittests/test_losses/test_precision_dfl_detection_loss.py
  tests/unittests/test_losses/test_precision_dfl_segmentation_loss.py
  tests/unittests/test_losses/test_reconstruction_segmentation_loss.py
  tests/unittests/test_losses/test_sigmoid_focal_loss.py
  tests/unittests/test_losses/test_smooth_bce_with_logits_loss.py
  tests/unittests/test_losses/test_softmax_focal_loss.py
  tests/unittests/test_losses/test_utils.py
  tests/unittests/test_metrics/test_embedding_metrics.py
  tests/unittests/test_metrics/test_mean_average_precision.py
  tests/unittests/test_metrics/test_ocr_accuracy.py
  tests/unittests/test_metrics/test_oks.py
  tests/unittests/test_metrics/test_utils.py
  tests/unittests/test_visualizers/test_bbox_visualizer.py
  tests/unittests/test_visualizers/test_classification_visualizer.py
  tests/unittests/test_visualizers/test_embeddings_visualizer.py
  tests/unittests/test_visualizers/test_fomo_visualizer.py
  tests/unittests/test_visualizers/test_instance_segmentation_visualizer.py
  tests/unittests/test_visualizers/test_keypoint_visualizer.py
  tests/unittests/test_visualizers/test_ocr_visualizer.py
  tests/unittests/test_visualizers/test_segmentation_visualizer.py
Labels: enhancement, tests

#206 Support per-class torchmetrics
  luxonis_train/attached_modules/metrics/torchmetrics.py
  tests/unittests/test_metrics/test_torchmetrics.py
Labels: enhancement

#205 Lightning Module Cleanup
  configs/detection_heavy_model.yaml
  configs/detection_light_model.yaml
  luxonis_train/__init__.py
  luxonis_train/attached_modules/metrics/confusion_matrix/detection_confusion_matrix.py
  luxonis_train/callbacks/luxonis_progress_bar.py
  luxonis_train/callbacks/training_manager.py
  luxonis_train/core/core.py
  luxonis_train/core/utils/archive_utils.py
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/lightning/__init__.py
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/lightning/luxonis_output.py
  luxonis_train/lightning/utils.py
  luxonis_train/models/luxonis_lightning.py
  luxonis_train/utils/__init__.py
Labels: enhancement

#203 ATSS Assigner not used anymore for detection by default
  configs/detection_heavy_model.yaml
  configs/detection_light_model.yaml
  configs/keypoint_bbox_heavy_model.yaml
  configs/keypoint_bbox_light_model.yaml
  luxonis_train/attached_modules/losses/README.md
  luxonis_train/attached_modules/losses/adaptive_detection_loss.py
  luxonis_train/attached_modules/losses/efficient_keypoint_bbox_loss.py
  luxonis_train/config/predefined_models/detection_model.py
  luxonis_train/config/predefined_models/keypoint_detection_model.py
  luxonis_train/utils/__init__.py
  pyproject.toml
  tests/configs/config_simple.yaml
Labels: documentation, enhancement

#207 Fix: best_val_metric.ckpt Upload Issue
  luxonis_train/callbacks/README.md
  luxonis_train/callbacks/ema.py
  luxonis_train/callbacks/upload_checkpoint.py
  tests/unittests/test_callbacks/test_ema.py
Labels: documentation, fix

#208 Fix: Resuming Training from Checkpoint
  luxonis_train/__main__.py
  luxonis_train/core/core.py
Labels: fix, CLI

#211 Docs: Updated extraction rules
  examples/README.md
Labels: documentation

#212 Fix: Logging Images bug
  luxonis_train/attached_modules/visualizers/keypoint_visualizer.py
  luxonis_train/lightning/luxonis_lightning.py
  tests/unittests/test_visualizers/test_keypoint_visualizer.py
Labels: fix

#213 Fix Splits Bug
  luxonis_train/core/core.py
  tests/integration/test_splits.py
Labels: fix

#214 Fix Logging Bug
  luxonis_train/config/predefined_models/keypoint_detection_model.py
  luxonis_train/lightning/luxonis_lightning.py
Labels: fix

#215 Fix logging bug
  luxonis_train/lightning/luxonis_lightning.py
Labels: fix
