Repository luxonis/luxonis-train, pull requests merged in 2025-06, with the labels that each got.

#237 CLI: Multiple `--source` paths
  luxonis_train/__init__.py
  luxonis_train/__main__.py
  tests/configs/config_simple.yaml
  tests/integration/conftest.py
  tests/integration/test_cli_commands.py
Labels: enhancement, CLI

#239 Add `GRAY` color-space, `ReduceLROnPlateau`
  luxonis_train/config/config.py
  luxonis_train/core/core.py
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/lightning/utils.py
  luxonis_train/loaders/__init__.py
  luxonis_train/loaders/base_loader.py
  luxonis_train/loaders/utils.py
  luxonis_train/strategies/base_strategy.py
  tests/integration/multi_input_modules.py
  tests/integration/test_scheduler.py
  tests/unittests/test_loaders/test_base_loader.py
Labels: enhancement

#246 Improved logging to the file
  luxonis_train/callbacks/__init__.py
  luxonis_train/callbacks/luxonis_progress_bar.py
  luxonis_train/callbacks/rich_model_summary.py
  luxonis_train/lightning/utils.py
Labels: enhancement

#247 Small documentation fix
  luxonis_train/loaders/README.md
Labels: documentation, fix

#249 docs: improve Testing Custom Components README section
  examples/README.md
  luxonis_train/attached_modules/README.md
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/metrics/README.md
  luxonis_train/attached_modules/visualizers/README.md
Labels: documentation, enhancement, fix
