Repository luxonis/luxonis-train, pull requests merged in 2025-07, with the labels that each got.

#251 Fix mAP per class metrics processing
  luxonis_train/attached_modules/metrics/mean_average_precision/utils.py
Labels: fix

#254 Fix/export config
  luxonis_train/core/core.py
Labels: fix

#250 Fix Grad-CAM
  luxonis_train/callbacks/gradcam_visualizer.py
Labels: fix

#243 Feat: Annotate Directory of Images
  README.md
  luxonis_train/__main__.py
  luxonis_train/attached_modules/visualizers/__init__.py
  luxonis_train/attached_modules/visualizers/segmentation_visualizer.py
  luxonis_train/attached_modules/visualizers/utils.py
  luxonis_train/config/predefined_models/README.md
  luxonis_train/core/core.py
  luxonis_train/core/utils/annotate_utils.py
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/nodes/heads/base_head.py
  luxonis_train/nodes/heads/precision_bbox_head.py
  luxonis_train/nodes/heads/precision_seg_bbox_head.py
  luxonis_train/utils/__init__.py
  luxonis_train/utils/annotation.py
  luxonis_train/utils/segmentation.py
  luxonis_train/utils/spatial_transforms.py
  tests/integration/test_simple.py
Labels: documentation, enhancement, CLI

#259 Correct Call of `delete_dataset`
  luxonis_train/core/utils/annotate_utils.py
  luxonis_train/core/utils/infer_utils.py
Labels: fix

#260 Fix `LuxonisRichProgressBar`
  luxonis_train/callbacks/luxonis_progress_bar.py
  tests/integration/test_simple.py
Labels: fix

#268 Fix `cv2.destroyAllWindows()` bug
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/loaders/base_loader.py
  luxonis_train/loaders/luxonis_loader_torch.py
  luxonis_train/loaders/luxonis_perlin_loader_torch.py
Labels: fix

#271 Fix: CLI inspect
  luxonis_train/__main__.py
  tests/integration/test_cli_commands.py
Labels: fix, CLI

#270 Ensure Full Quota of Validation Visualizations Despite Class Imbalance
  luxonis_train/lightning/luxonis_lightning.py
  luxonis_train/lightning/utils.py
  tests/integration/test_smart_logging.py
Labels: fix

#274 Faster segmentation tests
  tests/integration/test_segmentation.py
Labels: tests

#265 Add `class_order_per_task` param to the loader
  luxonis_train/loaders/README.md
  luxonis_train/loaders/luxonis_loader_torch.py
Labels: documentation, enhancement
