Repository luxonis/luxonis-train, pull requests merged in 2025-08, with the labels that each got.

#278 Use default head config when `get_custom_head_config` is not defined
  luxonis_train/core/utils/archive_utils.py
  luxonis_train/nodes/heads/base_head.py
Labels: fix

#279 Tests: Reorganization and cleanup
  .github/workflows/ci.yaml
  .github/workflows/update-cov-report.yaml
  luxonis_train/__init__.py
  luxonis_train/attached_modules/visualizers/ocr_visualizer.py
  luxonis_train/core/utils/annotate_utils.py
  luxonis_train/core/utils/infer_utils.py
  luxonis_train/loaders/debug_loader.py
  luxonis_train/nodes/heads/precision_bbox_head.py
  pyproject.toml
  tests/configs/archive_config.yaml
  tests/configs/config_simple.yaml
  tests/configs/ddrnet.yaml
  tests/configs/multi_input.yaml
  tests/configs/parking_lot_config.yaml
  tests/configs/segmentation_parse_loader.yaml
  tests/configs/smart_cfg_populate_config.yaml
  tests/conftest.py
  tests/files/custom_archive_config.json
  tests/files/execution_order.json
  tests/integration/conftest.py
  tests/integration/multi_input_modules.py
  tests/integration/parking_lot.json
  tests/integration/test_callbacks.py
  tests/integration/test_cli_commands.py
  tests/integration/test_combinations.py
  tests/integration/test_core.py
  tests/integration/test_custom_model.py
  tests/integration/test_detection.py
  tests/integration/test_embeddings.py
  tests/integration/test_fixed_validation_batch_limit.py
  tests/integration/test_freezing.py
  tests/integration/test_loader.py
  tests/integration/test_mlflow_logging.py
  tests/integration/test_model_config.py
  tests/integration/test_predefined_models.py
  tests/integration/test_remove_on_export.py
  tests/integration/test_scheduler.py
  tests/integration/test_segmentation.py
  tests/integration/test_simple.py
  tests/integration/test_smart_logging.py
  tests/integration/test_splits.py
  tests/integration/test_unsupervised_anomaly_detection.py
  tests/unittests/test_base_attached_module.py
  tests/unittests/test_config.py
  tests/unittests/test_losses/test_adaptive_detection_loss.py
  tests/unittests/test_losses/test_efficient_keypoint_bbox_loss.py
  tests/unittests/test_losses/test_precision_dfl_detection_loss.py
  tests/unittests/test_losses/test_precision_dfl_segmentation_loss.py
  tests/unittests/test_losses/test_smooth_bce_with_logits_loss.py
  tests/unittests/test_utils/test_keypoints.py
  tests/unittests/test_visualizers/test_embeddings_visualizer.py
  tests/unittests/test_visualizers/test_ocr_visualizer.py
Labels: tests

#280 Docs: diagram
  examples/README.md
  media/luxonis_train_diagram.drawio
  media/luxonis_train_diagram.png
Labels: documentation

#281 Automatic OHEM Loss
  luxonis_train/attached_modules/base_attached_module.py
  luxonis_train/attached_modules/losses/README.md
  luxonis_train/attached_modules/losses/__init__.py
  luxonis_train/attached_modules/losses/adaptive_detection_loss.py
  luxonis_train/attached_modules/losses/ohem_bce_with_logits.py
  luxonis_train/attached_modules/losses/ohem_cross_entropy.py
  luxonis_train/attached_modules/losses/ohem_loss.py
  luxonis_train/attached_modules/metrics/torchmetrics.py
  luxonis_train/config/predefined_models/segmentation_model.py
  luxonis_train/nodes/README.md
  pyproject.toml
  tests/integration/test_combinations.py
  tests/unittests/test_metrics/test_torchmetrics.py
Labels: documentation, enhancement

#284 Remove unused files
  luxonis_train/nodes/blocks/reparametrizable.py
  luxonis_train/nodes/blocks/resnet.py
  luxonis_train/nodes/blocks/unet.py
  luxonis_train/nodes/blocks/utils.py
  luxonis_train/nodes/heads/base_detection_head.py
Labels: fix

#286 Log tuner augmentations by name instead of index
  luxonis_train/core/core.py
  luxonis_train/core/utils/tune_utils.py
Labels: fix

#288 Make onnx simplification toggleable
  configs/README.md
  luxonis_train/config/config.py
  luxonis_train/core/core.py
Labels: documentation, enhancement
